// -------------------
// Link group
//
// Provides set of styles for a linkgroup.
//
//  .gel-a-z-anchors    - container to anchors numbers and a-z
//  .active             - active anchors item
//  .inactive           - not available inactive anchors item
//
// -------------------


.gel-a-z-anchors {
  @include reset_list;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 20px;
  padding-left: 0;
  margin: 0 auto;

  @media #{$gel-mq-md}{
    position: relative;
    width: 500px;
    height: 90px;
  }

  @media #{$gel-mq-lg} {
    justify-content: space-between;
    width: 945px;
    height: 62px;
    margin-bottom: 40px;

    li {
      flex-grow: 1;
      margin-right: 0;
      max-width: 29px;

    }
  }

  li {
    margin-right: 5px;
    width: 29px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: $base-body-font-size;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 3px;

    .gel-ie9  & {
      display: inline-block;
      margin-right: 1px;
    }

    a {
      display: block;
      width: inherit;
      height: inherit;
      border: solid 1px #000;
      border-radius: 2px;
      font-weight: 600;
      color: #000;

      &:hover, &:focus {
        color: $gel-white;
        background-color: $gel-medium-grey;
        transition: background-color 0.2s;
        outline: 0;
      }

      &.active {
        color: $gel-white;
        background-color: $gel-medium-grey;
        font-weight: bold;

        &:focus {
          outline: 2px solid black;
          outline-offset: 2px;
          transition: background-color 0.2s;
        }

      }

    }

    span.inactive {
      display: block;
      width: inherit;
      height: inherit;
      border: none;
      color: #777777;
      letter-spacing: 0.03em;
    }
  }
}
