// -------------------
// A to Z list
//
// Provides set of styles for an A to Z list group.
//
//  .gel-a-z-list       - container for A to Z list
//  .gel-a-z-list__content - styles for the text areas
//  .gel-a-z-list__content__heading - style for the heading of the text area
// -------------------


.gel-a-z-list{
  position: relative;
  list-style: none;
  margin-top: 50px;
  padding-left: 0;

  li{
    padding-left: 0;

    &:before{
      content: none;
    }
  }

  > li{

    border-top: solid 1px $a-z-list-border-color-bottom;
    margin-top: 0px;
  }

  p{
     margin-top: 0px;
  }

  h3{
    margin-bottom: 0px;
  }

  ul li:first-child div{
    padding-top: 0px;
  }

  ul li:last-child div{
    margin-bottom: 40px;

    @media #{$gel-mq-md} {
      margin-bottom: 0px;
    }
  }

  ul{
    width: 100%;
    display: inline-block;
    margin: 0 0 10px;
    padding: 0;
    margin-top: 1rem;
    li {
      list-style: none;
    }
  }
}

.gel-a-z-list__letter{
  top: -50px;
  position: absolute;
  margin-top: 31px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 0.86;
  color: $a-z-list-alphabet-color;

  @media #{$gel-mq-md} {
    top: 0;
    font-size: 1.75rem;
    margin-top: 30px;
    line-height: 1.1;
  }
}

.gel-a-z-list__content {
  font-size: $base-body-font-size;
  font-weight: 300;
  line-height: 1.57;
  text-align: left;
  color: $a-z-list-content-color;
  padding-bottom: $a-z-list-content-padding-bottom;
  border-bottom: solid 1px $a-z-list-content-border-color-bottom;
  margin-top: $a-z-list-content-margin-top;

  @media #{$gel-mq-md} {
    margin-left: 181px;
    margin-top: 23px;
    padding-bottom: 23px;
  }

  @media #{$gel-mq-lg} {
    margin-left: 213px;
    margin-top: 30px;
    padding-bottom: 30px;
  }
}

.gel-a-z-list__content.noparagraph{
  border-bottom: 0;
}

.gel-a-z-list__content__heading {
  font-size:$base-body-font-size;
  font-weight: 600;
  line-height: 1.5;
  color: $a-z-list-content-heading-color;
  display: inline-block;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    color: inherit;
  }


  @media #{$gel-mq-lg} {
    font-size: 1rem;
  }
}

.gel-a-z-list__column{
  float: right;
  font-weight: 300;
  width: 20%;
}

.gel-a-z-list__column__ul{

  li:last-child{
    div{
      border-bottom: 0;
    }
  };
}

.gel-a-z-list__column__ol{
  margin-top: 0;
}


.glossary-heading {
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  text-align: left;
  margin-top: 13px;
  margin-bottom: 5px;

  @media #{$gel-mq-md}{
    font-size: 1.375rem;
    margin-bottom: 18px;
  }

  @media #{$gel-mq-lg}{
    font-size: 1.75rem;
    margin-top: 50px;
    font-weight: 300;
  }
}

.gel-glossary{

  .a-z-list{

    margin-bottom: 40px;
    height: auto;

    @media #{$gel-mq-md}{
      margin-bottom: 10px;
    }
  }

  @media #{$gel-mq-md}{

    .gel-a-z-anchors {
      height: auto;
    }
  }

  [data-scroll-passed=true]{

     height:145px;;
     top: 0;
     position: fixed;
     background-color: $gel-white;
     z-index: 20000;
     transform: translateY(0);
     transition: all 0.2s;
     text-decoration: none;
     left: 0;
     width: 100%;
     border-bottom: solid 1px $a-z-list-border-color-bottom;
     box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.1);
     padding: 3px 10px 10px 10px;

      ol{
       width: 310px;
      }
    @media screen and (min-width: 578px) and (max-width: 1024px){
      height: 100px;
      ol{
       width: 475px;
      }
    }
    @media #{$gel-mq-lg}{
      margin-left: auto;
      height: 55px;
      width: 100%;

      ol{
       width: 945px;
      }
    }
  }
  .gel-a-z-list__letter {
    padding-top: 70px;
    margin-top: -50px;

    @media #{$gel-mq-md}{
      padding-top: 90px;
      margin-top: -50px;
    }
  }

  .gel-a-z-list__column{
    width: 150px;
    float: none;

    @media #{$gel-mq-md}{
    float: right;
    }
  }

  .a-z-list {

    @media #{$gel-mq-md}{
      height: 104px;
    }

    @media #{$gel-mq-lg}{
      height: 50px;
    }
  }
}
