.gel-card {
  border-radius: 4px;

  box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.27);
  transition: box-shadow 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:hover {
    box-shadow: 0px 8px 33px -7px rgba(0,0,0,0.27);    
    z-index: 1;
  }

   
  & > .card-img-top {
    border-bottom: 2px solid #CE0037;
  }

  & > .card-body {
    border-top: 2px solid #CE0037;
  }

  & > .card-img-top + .card-body {
    border-top: none;
  }

  & > .card-body {
    padding: 30px;
  }

  & > *:first-child:not(.card-body) {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  & > *:last-child:not(.card-img-top) {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}