/* default block variation styles - also used for parent .gel-flex-grid--columns */
@mixin gel-catalogue-teaser--block {
  border: 1px solid $gel-lighter-grey;
  transition: border 0.2s;
  padding-bottom: 0;

  .get-catalogue-teaser_thumbnail {
    width: 100%;
    float: none;
    border-bottom: 1px solid $gel-lighter-grey;
    transition: border 0.2s;
    position: relative;
    height: 150px;
    overflow: hidden;

    img {
      margin: 0;
      border: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      max-width: none;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
    }
  }
}

/* default block variation styles for content - also used for parent .gel-flex-grid--columns */
@mixin gel-catalogue-teaser--block_content {
  width: 100%;
  float: none;
  padding: 12px 8px;

  h3 {
    width: 100%;
    font-weight: 600;
  }

  p {
    font-size: $base-body-font-size;

    &:last-child {
      margin-bottom: 0;
    }
  }
}



.gel-catalogue-teaser {
  text-decoration: none;
  padding-bottom: 20px;
  border-bottom: 1px solid $catalogue-teaser-border;
  overflow: auto;
  width: 100%;
  cursor: pointer;

  .get-catalogue-teaser_thumbnail {
    width: 30%;
    height: auto;
    float: left;

    img {
      border: 1px solid $catalogue-image-border;
      transition: border 0.2s;
    }
  }

  &.gel-catalogue-teaser--block {
    @include gel-catalogue-teaser--block;

    /* displays full width on mobile, but not with .gel-flex-grid parent */
    *:not(.gel-flex-grid) & {
      .get-catalogue-teaser_thumbnail {
        width: 100%;
        float: none;
      }
    }
  }

  &:hover,
  &:focus {

    &:not(.gel-catalogue-teaser--block) {

      .get-catalogue-teaser_thumbnail {

        img {
          border: 1px solid $gel-decoration;
        }
      }
    }

    &.gel-catalogue-teaser--block {
      border: 1px solid $gel-decoration;
    }

  }


  @media #{$gel-mq-md} {

    .gel-flex-grid--columns & {
      @include gel-catalogue-teaser--block;
    }

    &:hover,
    &:focus {

      .gel-flex-grid--columns & {
        border: 1px solid $gel-decoration;

        .get-catalogue-teaser_thumbnail {
          border: 0;
          border-bottom: 1px solid $gel-decoration;
        }
      }
    }
  }

  @media #{$gel-mq-lg} {

    .get-catalogue-teaser_thumbnail {
      width: 23.5%;
    }
  }
}

.gel-catalogue-teaser_content {
  width: 100%;
  float: left;
  padding-left: 10px;
  box-sizing: border-box;

  h3 {
    line-height: 1.4;
    margin-bottom: 1em;
    word-break: break-word;
    color: $gel-content-header;
    text-decoration: underline;
  }



  p {
    margin: 0.8em 0;
    font-size: $base-body-font-size;
    color: $gel-black;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .gel-catalogue-teaser_description {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 3.6em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    &::before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: white;
    }
  }
  .get-catalogue-teaser_thumbnail + & {
    width: 70%;
  }

  *:not(.gel-flex-grid) .gel-catalogue-teaser--block & {
    @include gel-catalogue-teaser--block_content;
  }

  @media #{$gel-mq-md} {
    position: relative;
    padding-left: 20px;

    h3 {
      width: 65%;
    }

    p {
      font-size: $base-body-font-size;
      width: 65%;
    }

    .gel-catalogue-teaser--block &,
    .gel-flex-grid--columns & {
      @include gel-catalogue-teaser--block_content;

      p {
        font-size: $base-body-font-size;
        width: 100%;
      }
    }
  }

  @media #{$gel-mq-lg} {

    .get-catalogue-teaser_thumbnail + & {
      width: 76.4%;
    }

    .gel-catalogue-teaser--block &,
    .gel-flex-grid--columns & {
      @include gel-catalogue-teaser--block_content;
    }
  }
}

.gel-catalogue-teaser:hover {
  h3 {
    text-decoration: none;
  }
}

.gel-catalogue-teaser_data {

  .gel-catalogue-teaser_content & {
    color: $gel-dark-grey;
    font-weight: 600;

    @media #{$gel-mq-md} {
      position: absolute;
      width: 25%;
      top: 0;
      right: 0;
      margin-top: 0;
      text-align: right;
    }
  }

  .gel-catalogue-teaser--block &,
  .gel-flex-grid--columns & {

    @media #{$gel-mq-md} {
      position: relative;
      width: auto;
      text-align: left;
    }
  }
}
