.gel-catalogue {
  // background-color: $gel-off-white;
  padding: 60px 0;
  .gel-category-list {
    a.active {
      font-weight: 700;
    }
  }

  .gel-form {

    .gel-button {
      display: inline-block;
      margin-left: 0;
      margin-right: 10px;

    }
  }

  .fa-th-icon {
    font-family: FontAwesomeSolid;;
    &:before {
      content: "\f00a";
    }

  }
  .fa-list-icon {
    font-family: FontAwesomeSolid;;
    &:before {
      content: "\f03a";
    }

  }

}
