/*

gel Featured Teaser pattern

*/
.gel-featured-teaser-link {
  text-decoration: none;
  &:hover,
  &:focus {
    .card-title {
      text-decoration: underline;
    }
  }
}
.gel-featured-teaser-link
.gel-featured-teaser.card {
  position: relative;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  transition: border-color 0.2s;
  display: block;
}

.gel-featured-teaser__header {
  margin: 1.5em 0 0;
  text-transform: uppercase;
  font-size: $base-body-font-size;
  font-weight: 800;
}
.gel-featured-teaser__content, .gel-featured-teaser__content_variant {
  padding: 10px;
  h2 {
    line-height: 1.2;
    margin-bottom: 0.5em;
  }
  @media #{$gel-mq-lg} {
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
    transition: background-color 0.2s;
    .gel-featured-teaser:hover & {
      background-color: #fff;
    }
  }
}
.gel-featured-teaser__content {
  width: 100%;
  @media #{$gel-mq-lg} {
    position: absolute;
    padding: 15px;
  }
}

.gel-featured-teaser__date {
  font-size: $base-body-font-size;
  font-weight: 600;

  @media #{$gel-mq-xl} {
    font-size: 1rem;
  }
}

.gel-featured-teaser_variant.card{
    @extend .gel-featured-teaser;
    border:0;
    &:hover{
        border-bottom:0;
    }
    display: block;
}

.gel-featured-teaser__content_variant {
  padding-top: 45px;
  margin-left: 5px;
  @media #{$gel-mq-lg} {
    padding: 25px;
    margin-top:25px;
    margin-left:10px;
  }
}
.gel-featured-teaser__date_variant {
  @extend .gel-featured-teaser__date;
  font-weight: 400;
}
.gel-featured-teaser_highlight{
  position:absolute;
  background-color: $gel-bright-grey;
  color: #fff;
  font-weight: 600;
  font-size: $base-body-font-size;
  left: 25px;
  margin-right: 25px;
  padding: 5px 10px;
  line-height: 1.4;
  margin-left:-10px;
  margin-top: -45px;
   @media #{$gel-mq-lg} {
      margin-left:10px;
      margin-top: -50px;
   }
}
.gel-featured-teaser_action {
  padding: 15px;
  border-top: 1px solid $gel-lighter-grey;
  margin: 0 -15px
}
.gel_featured_teaser_container .gel-form select:nth-of-type(2) {
  margin-top: 45px;
  @media #{$gel-mq-lg} {
    margin-top: 30px;
  }
}
.gel_featured_teaser_container fieldset {
  padding-bottom: 15px;
}
.gel_featured_teaser_container .gel-form select {
  margin-top: 30px;
}
.gel_featured_teaser_container .gel-form label {
  position: absolute;
}
.gel_featured_teaser_pagination {
  .gel-pagination {
    text-align: center;
  }
}
