.gel-flex-grid {
  @include reset_list;
  padding-left: 0;
  li:first-child {
    margin-top: 25px;
  }
}

.gel-flex-grid--columns {

  @media #{$gel-mq-md} {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-top;
    justify-content: space-between;
    margin: 13px 0;

    .gel-ie9 & {
      margin: 20px -15px;
    }

    li, li:first-child, li:last-child {
      width: 31%;
      display: flex;
      margin: 12px 0;

      > * {
        -ms-flex: 0 1 auto
      }

      .gel-ie9 & {
        display: block;
        float: left;
        width: 28%;
        margin-left: 15px;
        margin-right: 15px;
      }
    }

    &:after {
      content: '';
      display: block;
      height: 0;
      clear: none;
      width: 31%;

      .gel-ie9 & {
        content: none;
      }
    }

    li:nth-child(3n+1) {
      .gel-ie9 & {
        clear: left;
      }
    }
  }

  @media #{$gel-mq-lg} {

    &.gel-flex-grid--columns-4 {
      li, li:first-child, li:last-child {
        width: 23%;
      }
    }
  }
}
