// -------------------
// GLOBAL HEADER
//
// Provides set of global header styles.
//
//  .gel-global-header-container  - parent container that wraps global header elements and search elements
//  .gel-global-header            - gel-global-header--altparent container that wraps global header elements
//  .gel-global-header--alt       - inverse colour variation
//  .gel-global-header__header    - clickable logo element
//  .gel-global-header__search    - optional search section
//  .gel-global-header__search [role="tab"]      - the trigger to show the tab
//  .gel-global-header__search [role="tabpanel"] - the panel containing the search form
//  .gel-global-header__search__toggler-opened__close-icon - [X] icon on search
//  .gel-global-header__search-form                       - search form
//  .gel-global-header__search-form input[type="text"]    - search input field
//  .gel-global-header__search-form button[type="submit"] - search form submit button
//
// -------------------



.gel-global-header-container {
    position: relative;
    z-index: 10001;
}

.gel-global-header {
    background: $gel-global-header-bg;
    padding: 11px 0;
    overflow: visible;
    z-index: 20000;
    border-bottom: $gel-global-header-border;

    .gel-global-header--alt & {
      background-color: $gel-global-header-alt-bg;
      border-bottom: $gel-global-header-alt-border;
    }

    abbr {
      border: none;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1.3;
    }

    @media #{$gel-mq-bs-md} {
      padding: 12px 0;
      padding-top: 10px
    }

    @media #{$gel-mq-bs-lg} {
      padding: 9px 0;
    }

    .gel-global-header__header {
      font-weight: 400;
      text-decoration: none;
      font-size: 0.75rem;
      line-height: 1;
      float: left;
      color: $gel-global-header-color;
      padding-top: 5px;
        @media #{$gel-mq-bs-lg} {
        padding-top: 0;
      }

      .gel-global-header--alt & {
        color: $gel-global-header-alt-color-highlight;
      }

      @media #{$gel-mq-bs-md} {

        font-size: 0.75rem;
        font-weight: 400;

        &:before {
          content: attr(title);
          //text-transform: uppercase;
          line-height: 1.8;
        }

        &:hover,
        &:focus {
          text-decoration: underline;
        }

        abbr {
          display: none;
        }
      }

      @media #{$gel-mq-bs-lg} {
        font-size: 0.95rem;

        &:before {
        // line-height: 1.3;
        }
      }
    }





    .gel-global-header__search {
      background-color: $gel-global-header-search-bg;

      .gel-global-header--alt & {
        background-color: $gel-global-header-alt-search-bg;
      }
    }




    .gel-global-header__search [role="tab"] {
      position: absolute;
      top: 6px;
      right: 15px;
      display: block;
      border: 0;
      padding: 5px;
      background-color: $gel-global-header-bg;
      font-family: $gel-font-family;
      font-size: 0.875rem;
      line-height: 1.3;
      text-decoration: underline;
      cursor: pointer;
      color: $gel-global-header-color;
      transition: color 0.2s, background-color 0.2s;

      &:hover,
      &:focus {
        color: $gel-global-header-color-highlight;
        background-color: $gel-global-header-bg-highlight;
      }

      &:focus {
        outline-offset: -2px;
      }

      .gel-global-header--alt & {
        color: $gel-global-header-alt-color;
        background-color: $gel-global-header-alt-bg;

        &:hover {
          color: $gel-global-header-alt-color-highlight;
          background-color: $gel-global-header-alt-bg-highlight;
        }
      }

      i {
        display: inline-block;
        margin-left: 0.5rem;
        font-size: 1rem;
        text-decoration: none;
        font-weight: normal;
      }

      @media #{$gel-mq-bs-md} {
        line-height: 1.4;
        top: 7px;
      }

      @media #{$gel-mq-bs-lg} {
        font-size: 0.95rem;
        line-height: 1.3;
        left: 50%;
        right: auto;
        margin-left: $gel-max-width/2 - 30px;
        transform: translateX(-100%);
        white-space: nowrap;

        i {
          font-size: 1.3rem;
        }
      }
    }


    // Tab not activated
    .gel-global-header__search [role="tab"][aria-expanded="false"] .gel-global-header__search__toggler-closed {
      visibility: visible;
      display: block;
    }

    // Tab is activated
    .gel-global-header__search [role="tab"][aria-expanded="true"] .gel-global-header__search__toggler-closed {
      visibility: hidden;
      display: none;
    }

    // Tabpanel not activated
    .gel-global-header__search [role="tab"][aria-expanded="false"] .gel-global-header__search__toggler-opened {
      visibility: hidden;
      display: none;
    }

    // Tabpanel is activated
    .gel-global-header__search [role="tab"][aria-expanded="true"] .gel-global-header__search__toggler-opened {
      visibility: visible;
      display: block;
    }



    .gel-global-header__search__toggler-opened__close-icon {
      @include gel-close-icon($gel-global-header-color, $gel-global-header-color-highlight, 2px, 18px, 2px);

      .gel-global-header--alt & {
        @include gel-close-icon($gel-global-header-alt-color, $gel-global-header-alt-color-highlight, 2px, 18px, 2px);
      }

      @media #{$gel-mq-bs-lg} {
        @include gel-close-icon($gel-global-header-color, $gel-global-header-color-highlight, 2px, 20px, 2px);

        .gel-global-header--alt & {
          @include gel-close-icon($gel-global-header-alt-color, $gel-global-header-alt-color-highlight, 2px, 20px, 2px);
        }
      }
    }



    .gel-global-header__search [role="tabpanel"] {
      visibility: hidden;
      display: block;
      height: 0;
      overflow: hidden;
      background-color: transparent;
      margin: 0 -25px;
      width: auto;
      padding: 0 20px;
      transition: height 0.3s, visibility 0.3s 0s;

      &[aria-hidden="false"] {
        visibility: visible;
        height: 62px;
        transition: height 0.3s;
      }

      @media #{$gel-mq-bs-md} {

        &[aria-hidden="false"] {
          height: 82px;
        }
      }

      @media #{$gel-mq-bs-lg} {
        margin: 0 -40px;
        padding: 0 34px;

        &[aria-hidden="false"] {
          height: 102px;
        }
      }
    }




    .gel-global-header__search-form {
      position: relative;
      border: 1px solid $gel-global-header-search-border;
      margin: 10px 0;
      border-radius: 4px;

      .gel-global-header--alt & {
        border-color: $gel-global-header-alt-search-border;
      }

      @media #{$gel-mq-bs-md} {
        margin: 15px 0;
      }

      @media #{$gel-mq-bs-lg} {
        margin: 20px 0;
      }
    }



    .gel-global-header__search-form input[type="text"] {
      display: block;
      box-sizing: border-box;
      border: 0;
      outline: 0;
      margin: 0;
      height: 40px;
      width: 90%;
      line-height: 2;
      vertical-align: middle;
      padding: 1px 25px 1px 15px;
      font-size: 1rem;
      font-family: $gel-font-family;
      letter-spacing: 0;
      color: $gel-global-header-color-highlight;
      background-color: $gel-global-header-search-bg;
      border-radius: 4px;

      &:focus {
        box-shadow: none;
        animation: none;

        &::placeholder {
          border-left-color: transparent;
        }
      }

      &::placeholder {
        color: $gel-global-header-color;
        opacity: 1;

        .gel-global-header--alt & {
          color: $gel-global-header-alt-color;
        }
      }

      .gel-global-header--alt & {
        background-color: $gel-global-header-alt-search-bg;
        color: $gel-global-header-alt-color-highlight;
      }

      @media #{$gel-mq-bs-md} {
        height: 50px;
        width: 92%;
        padding-left: 20px;
      }

      @media #{$gel-mq-bs-lg} {
        font-size: 1.125rem;
        height: 60px;
        padding-left: 25px;
      }
    }

    .gel-global-header__search-form button[type="submit"] {
      display: block;
      width: 50px;
      height: 40px;
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      border: 0;
      padding-right: 15px;
      color: $gel-global-header-color;
      background-color: $gel-global-header-search-bg;
      font-size: 1.3rem;
      text-align: right;
      line-height: 1.5;
      cursor: pointer;
      border-radius: 4px;

      .gel-global-header--alt & {
        background-color: $gel-global-header-alt-search-bg;
        color: $gel-global-header-alt-color;
      }

      &:active {
        outline: dotted 1px $gel-black;
      }

      @media #{$gel-mq-bs-md} {
        height: 50px;
        line-height: 1.9;
        font-size: 1.5rem;
        padding-right: 20px;
        padding-left: 15px;
        width: 50px;
      }

      @media #{$gel-mq-bs-lg} {
        font-size: 1.7rem;
        line-height: 1;
        height: 60px;
        transition: color 0.2s;
        padding-right: 30px;
        padding-left: 18px;
        width: 60px;

        &:hover,
        &:focus {
          color: $gel-global-header-color-highlight;

          .gel-global-header--alt & {
            color: $gel-global-header-alt-color-highlight;
          }
        }

        &:focus,
        &:active {
          outline: dotted 1px $gel-black;
        }
      }
    }

    //styles for global header login
    .global-header-right-nav {
        float: right;
        margin-right: -12px;
        @media #{$gel-mq-bs-md}
        {
            margin-right: 5px;
        }
    }
    .gel-global-links {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        top: -2px;
        //padding-top: 5px;
        ul:before, li:before {
            display: none;
        }
    }

    .gel-global-links-dropdown {
        //display: none;
        position: absolute;
        z-index:9000;
        top: 100%;
        float: left;
        min-width: 230px;//160px;
        padding: 0;
        margin: 2px 0 0;
        font-size: 12px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        left: auto;
        right: 0;

        @media #{$gel-mq-bs-md} {
          font-size: 14px;
        }

        li {
            padding: 7px 20px;
            // margin-top: 0;
            ul {
              margin-top: 10px;
              margin-bottom: 10px;
              li {
                padding: 0 0 0 20px;
                .gel-link-list-icon:before {
                  left: 0;
                  line-height: inherit;
                }
              }
            }

            h4 {
              font-size: 1rem;
            }

            a {
                display: block;
                clear: both;
                white-space: inherit;
                text-decoration: none;
                font-weight: 600;
                padding: 4px 0;
                &:focus {
                    text-decoration: underline;
                    outline-offset: 0;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &>li {
          border-bottom: $gel-global-header-alt-border;
          padding: 7px 20px;
          font-weight: bold;
        }
    }
    .gel-global-link-button {
        background-color: $gel-zircon;
        font-size: 16px;
        font-weight: 600;
        border-width: 0;
        height: 100%;
        display: inline-block;
        //font-size: 14px;
        line-height: 1.38;
        text-align: center;
        white-space: nowrap;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        @media #{$gel-mq-bs-md}
        {
            padding: 0 12px;
        }
        &:hover {
            background-color: $gel-section-footer-bg;
        }
        &:focus {
            outline-offset: 1px;
        }
        &:after {
            padding-left: 10px;
            content: '\f107';
            font-family: 'FontAwesomeSolid';
            font-size: 16px;
            font-weight: 700;
        }
        &[aria-expanded=true]:after {
            content: '\f106';
        }
        .global-link-button-txt {
            display: none;
            vertical-align: text-bottom;
            @media #{$gel-mq-bs-md}
            {
                display: inline;
            }
        }

    }
    .gel-link-icon {
        &:before {
            content: '\f007';
            font-family: 'FontAwesomeSolid';
            display: inline;
            font-size: 1.75em;
        }
    }
    .gel-visible-small {
        @media #{$gel-mq-bs-md}
        {
            display: none;
        }
    }
    .gel-search-icon {
        &:before {
            content: '\f002';
            font-family: 'FontAwesomeSolid';
            display: inline-block;
        }
    }
    .global-header-links-right {
        padding-left: 0;
    }
}
