// -------------------
// Google translate css
//
// Overiding the styles
//
//
// -------------------

div#google_translate_element.gel_google_translate {
    display: none;

    @media #{$gel-mq-bs-md} {
        display: inline-block;
        vertical-align: middle;
    }

    .goog-te-gadget-simple {
        background: transparent;
        border: none;
        padding-left: 10px;
        padding-right: 6px;
        padding-top: 0;
        padding-bottom: 1px;

        .goog-te-gadget-icon {
          margin-top: -2px;
        }

        .goog-te-menu-value span:nth-child(1) {
          font-family: montserrat,Arial,sans-serif;
          font-weight: 600;
          font-size: $base-body-font-size;
          display: inline-block;
          text-transform: lowercase;

          &:first-letter {
              text-transform: capitalize;
          }
        }

        .goog-te-menu-value span:nth-child(3) {
            display: none;
        }

        .goog-te-menu-value span:nth-child(5){
            color: transparent!important;
        }

        .goog-te-menu-value span:nth-child(5):after {
            content: "\f107";
            font-family: FontAwesomeSolid;
            font-size: 16px;
            font-weight: 700;
            color: black;
        }

        .goog-te-menu-value img {
            margin-left: -1px;
            margin-right: -1px;
        }

        a.goog-te-menu-value:hover {
            text-decoration: none;
        }
    }

    div:hover.goog-te-gadget-simple {
        background-color: $gel-section-footer-bg;

    }

}
