.gel-GJ-container {
  @media #{$gel-mq-md} {
    display: flex;
    flex-direction: column;
  }

  .gel-skiplink__link {
    position: absolute;
    left: -9999em;
    margin: 0 0 5px 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    background: transparent;
    font-weight: normal;

    &:focus {
      position: relative;
      left: auto;
      width: auto;
      height: auto;
    }
  }
  
  .gel-guided-journey__page:focus {
    outline: none;
  }
}

.gel-GJ-index {
  .fa-chevron-left {
    position: absolute;
    top: 0;
    left: 0;
    margin: 17px 0 0 15px !important;
    transform: rotate(-90deg) scaleX(-1);

    &:before {
      content: "\f112";
    }
  }
}

.gel_guided-journey__mobile-nav {
  @media screen and (max-width: $gel-md) {
    position: sticky;
    top: 0;
    background: $base-body-bg;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: 0 9px 7px -7.5px rgba(0,0,0,0.3);
    height: 100px;
    padding: 20px;
    margin-bottom: 20px;

    select {
      float: left;
      margin: 0;
      width: calc(100% - 145px);
      padding-left: 5px;
      padding-right: 5px;
    }

    button {
      float: right;
      margin: 0;
      padding: 4px;
      min-height: 40px;
    }
  }
}

.gel-GJ-main {
  margin-top: 30px;

  @media #{$gel-mq-md} {
    margin-top: 60px;
    padding-bottom: 30px;
  }

  *:first-child[tabindex="0"] {
    outline: none;
  }

  .gel-pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    @media #{$gel-mq-md} {
      display: block;
      margin-top: 60px;
    }

    &__prev {
      padding-left: 38px;

      @media #{$gel-mq-md} {
        padding-left: 45px;
      }
      
      i { left: 20px; }
    }

    &__next {
      padding-right: 38px;

      @media #{$gel-mq-md} {
        padding-right: 45px;
      }

      i { right: 20px; }
    }

    .button {
      position: relative;
      margin-top: 0;
      text-transform: none;
      width: calc(50% - (45px / 2)) !important;
      font-size: 1.125rem;
      font-weight: $button-font-weight;

      @media #{$gel-mq-md} {
        width: auto !important;
      }
    }

    i {
      position: absolute;
      top: 50%;
      font-size: 1.5rem;
      transform: translateY(-50%);
    }
  }

  .lead {
    margin-bottom: 45px;
    padding-bottom: 0;

    @media #{$gel-mq-md} {
      margin-bottom: 60px;
    }    
  }

  h3 {
    margin-top: 1.875rem;

    @media #{$gel-mq-md} {
      margin-top: 2.81rem;
    }
  }

  h4 {
    margin: 1.875rem 0 1.25rem;

    @media #{$gel-mq-md} {
      margin: 2.81rem 0 1.875rem;
    }
  }

  *+p {
    margin-top: 1.25rem;

    @media #{$gel-mq-md} {
      margin-top: 1.875rem;
    }
  }
}

.gel-GJ-title {
  margin: 45px 0 30px;

  .gel-main article & {
    @media #{$gel-mq-md} {
      margin-top: 74px;
    }
  }
}