// Home page highlight panels
#event-calendar {
  max-width: 1200px;
  margin: 10px auto;

  &>h3:first-of-type {
    margin: 50px 10px;
  }

}

.gel-match-height {
  display: flex;
}

.gel-highlight-features {
  /*margin: -40px 20px 0 20px;
  @media #{$gel-mq-md} {
    margin: -40px -15px 0 0;
  }
  @media #{$gel-mq-lg} {
    margin: -35px -30px 0 0;
  }*/
  max-width: 800px;
}

.gel-highlight-feature-panel {
  position: relative;
  margin-bottom: 20px;

  @media #{$gel-mq-md} {
    padding-right: 15px;
  }
  @media #{$gel-mq-lg} {
    padding-right: 20px;
  }
}

.gel-highlight-panels__panel {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.56);
  border-top: 3px solid $gel-dark-grey;
  padding: 0 0 10px 0;
  z-index: 1;
  // max-width: 390px;

  display: flex;
  flex-direction: column;
  flex: 1;
  a {
    display: inline-block;

  }
  @media #{$gel-mq-md} {
    margin-left: 0;
    margin-right: 0;
  }
  .gel-highlight-panels-bottominfo {
    margin-left: 0;
    margin-right: 0;
    margin-top: auto;
    border-top: 1px solid $gel-light-grey;
  }

  .gel-highlight-panels__category {

    overflow:hidden;

    .gel-highlight-panels__image {
      position: relative;
      float: none;
      margin: 0;
      width: 100%;
      height: auto;
      @media #{$gel-mq-lg} {
        // max-height: 275px;
      }

      a {
        width: 100%;
        height: auto;
        &:hover {
          text-decoration: none;
        }
        &:focus {
          outline: none;
        }
      }
    }

    .gel-categoryname-date {

      margin-top: 20px;
      margin-bottom:10px;


      .gel-featured-teaser_highlight {
        padding: 7px 10px;
        display: inline-block;
        position: relative;
        border-radius: 4px;
        margin-bottom: 5px;
        margin-left: 0;

      }
      .category-secretarys_update {
        background-color: $gel-highlight-panel-primary-9;

      }

      .category-media_releases  {
        background-color: $gel-highlight-panel-primary-7;

      }

      .category-latest_news {
        background-color: $gel-highlight-panel-primary-10;

      }

      .category-student_voice {
        background-color: $gel-highlight-panel-primary-12;

       }

      .gel-featured-teaser__date_variant {

        margin-right: 25px;
        margin-left: 25px;

        display: inline-block;

        @media (min-width: 1200px) {
          float: right;
          margin-left: 0;
          padding-top: 10px;
        }
      }
    }


  }


  .gel-highlight-panels__content {
    padding: 0 25px 25px 25px;
    margin-top: 0;
    p,
    h4,
    .gel-date-block span.event_when,
    .gel-date-block .gel-highlight-panels__panel span.event_when {
      display: block;
      color: $gel-black;
    }
    time span {
      color: $gel-black;
    }
    h3 {
      a {
        font-size: 1.625rem;
        font-weight: 700;
        line-height: 2rem;
      }
    }
  }

}



.gel-highlight-panels__panel--noborder {
  border: none;
  box-shadow: none;
}


.gel-calendar {
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;


  .gel-block__header {
    margin: 10px 0 0;
    h2 {
      margin: 5px 25px 15px;
    }
  }

  .gel-calendar--alt {
    border: none;
    max-width: 390px;
    margin: 0;
  }

  .gel-highlight-panels__content {
    color: $gel-grey-font-v2;
    span {
      color: $gel-black;
    }
    ul {
      margin-bottom: 25px;
      li {
        margin-bottom: 15px;
        &:before {
          font-family: 'FontAwesomeSolid';
          content: "\f111";
          color: $gel-grey-font-v2;
          font-size: 1.125rem;
        }
        // other
        &.gel-events-type-5 {
          &:before {
            content: "\f0c8";
            color: $gel-grey-v2;
            background-color: $gel-grey-v2;
            line-height: 1;
            height: 1rem;
            width: 1rem;
            margin-top: 3px;
          }
        }
        &.gel-events-type-1 {
          &:before {
            content: "\f111";
            color: $gel-event-calendar-7;
            margin-left: -2px;
          }
        }
        // school-term-start
        &.gel-events-type-6 {
          &:before {
            content: "\f1ce";
            color: $gel-event-calendar-9;
          }
        }
        //school-term
        &.gel-events-type-2 {
          &:before {
            color: transparent;
          }
        }
        // public-holiday
        &.gel-events-type-3 {
          &:before {
            content: "\f111";
            font-family: 'FontAwesomeRegular';
            color: $gel-event-calendar-10;
            margin-left: -2px;
            margin-top: 3px;
            line-height: 1;
          }
        }
        //special-event
        &.gel-events-type-4 {
          &:before {
            content: "\f0c8";
            color: $gel-event-calendar-7;
          }
        }
      }
    }
  }
}

.gel-highlight-panels-moreinfo {
  margin: 0 25px;
  padding: 25px 0 15px;
  a {
    color: $gel-white;
    text-decoration: none;
    &:hover {
      color: $gel-dark-grey;
      text-decoration: underline;
    }
    span {
      border: 1px solid $gel-dark-grey;
      padding: 10px 20px;
      border-radius: 4px;
      background-color: $gel-dark-grey;
      color: $gel-white;
      &:hover {
        background-color: $gel-white;
        color: $gel-dark-grey;
      }
    }
  }
}

.secondary-hub__rhs {
  .gel-calendar {
    .gel-highlight-panels__image {
      margin-bottom: 25px;
      a {
        width: 100%;
        height: auto;
        &:hover {
          text-decoration: none;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .gel-highlight-panels__content {
      margin-top: 0;
      padding-top: 5px;
    }
    .gel-block__header h3 {
      margin: 5px 0 15px;
      @media #{$gel-mq-md} {
        margin: 5px 25px 15px;
      }
    }
    .gel-highlight-panels-bottominfo {
      margin: auto 0 10px;
      padding-top: 5px;
      border-top: 1px solid $gel-light-grey;
      .gel-highlight-panels-moreinfo {
        margin: 0;
        padding-bottom: 0;
        @media #{$gel-mq-md} {
          margin: 0 25px;
          padding-bottom: 15px;
        }
      }
    }
  }
}
