//
// gel Image With Caption
//

.gel-image-with-caption {
  box-sizing: border-box;
  margin: 1.06rem 0 0 0 ;

  img {
    width: 100%;
  }

  p , figcaption {
    font-size: $base-body-font-size;
    line-height: $base-body-line-height;
    margin-top: $base-margin-vertical;
    background-color: $gel-off-white;
    padding: 15px 10px;
    margin-top: 0;
  }

  @media #{$gel-mq-lg} {
    padding-right: 25%;
  }
}

.gel-image-with-caption--rounded {
  @extend .gel-image-with-caption;
  img {
    border-radius: .5rem !important;
  }
}

.caption {
  font-size: $base-body-font-size;
  line-height: $base-body-line-height;
  margin-top: $base-margin-vertical;
}
