.form-control,
.input-group>.form-control:not(:last-child),
.input-group>.form-control:not(:first-child) {
  border-radius: 4px;
}

.form-control {
  transition: box-shadow border cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;
  border: 1px solid $form-control-border;
  padding: 8px 12px;
  font-weight: 300;
  &, &:hover, &:focus {
    background: $form-control-background;
  }
  &:hover, &:focus {
    border-color: $form-control-hover-border;
    box-shadow: 0 0 0 1px $form-control-hover-border;
    outline: none;
  }
  &:focus {
    box-shadow: 0 0 0 1px $form-control-hover-border, 0 0 0 4px $form-control-focus-box-shadow;
  }
  &.gel-p-l {
    padding-left: $input-icon-spacing;
  }
  &.gel-p-r {
    padding-right: $input-icon-spacing;
  }
  &:read-only, &:disabled {
    border-color: $form-control-readonly-background;
    background: $form-control-readonly-background;    
  }
  &:disabled {
    box-shadow: none;    
  }
  &:read-only {
    &:hover, &:focus {
      border-color: $form-control-hover-border;
    }    
  }
  &:invalid {
    border-color: $form-control-invalid-border;
    &:hover {
      box-shadow: 0 0 0 1px $form-control-invalid-border;
    }
    &:focus {
      box-shadow: 0 0 0 1px $form-control-invalid-border, 0 0 0 4px $form-control-invalid-box-shadow;
    }    
  }
}

.input-group {
  position: relative;
}

.input-group-append, .input-group-prepend {
  margin: 0;
  z-index: 4;
  position: absolute;
  width: 40px;
}

.input-group-text { 
  background-color: $input-group-text;
  border: none;
  margin-top: 1px;
  margin-bottom: 1px;
}

.input-group-prepend, .input-group-append {
  top: 1px;
  bottom: 1px;
}

.input-group-prepend {
  left: 1px;
}

.input-group-append {
  right: 1px;
}

small{
  font-size: 14px;
  font-weight: 300;
}

small.form-text.required {
  color: $form-text-required;
  font-weight: 300;
}