// -------------------
// LANDING HEADER
//
// Provides set of styles for a landing header.
//
// .gel-landing-header                - container to list teasers
//
// -------------------

.gel-landing-header {
  position: relative;
  padding: 30px 0;
  h1 {
    color: $gel-content-header;
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.375rem;
    margin-bottom: 0;
  }

  @media #{$gel-mq-bs-md} {
    h1 {
      line-height: 1.6rem;
    }
  }

  @media #{$gel-mq-bs-lg} {
    h1 {
      font-size: 1.75rem;
      line-height: 2.25rem;
    }
  }
}

.gel-landing-header__lead {
  color: $gel-black;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 8px;

  @media #{$gel-mq-bs-md} {
    margin-top: 15px;
  }

  @media #{$gel-mq-bs-lg} {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
}
