//
// Link Tag
//
// Styling for Link Tag
//
.link-tag, .link-tag-icon {
  margin-left: 0.5em;
  width: $link-button-width;
  height: $link-button-height;
  border-radius: 4px;
  background-color: $gel-medium-grey;
  color: $gel-white;
  font-size: $base-body-font-size;
  font-weight: normal;
  padding: $link-button-padding;
  border-radius: 4px;
  white-space: nowrap;

    @media #{$gel-mq-md} {
      font-size: $base-body-font-size;
    }
}

.link-tag-no-icon {
  @extend .link-tag;
  margin-left: 5px;
}
.link-tag-icon {
  &:before{
    font-family: 'FontAwesomeSolid';
    display: inline-block;
    padding: 2px 5px 2px 3px;
    margin-top: 2px;
    content: "\f023";

    @media #{$gel-mq-md} {
      padding: 2px 5px 2px 5px;
    }
  }
}
