//
// Link Columns - Link List split into columns which read in an top down direction
//
// .gel-link-columns - the containing div
// .gel-link-columns__items - list container with .gel-link-list styles
// .gel-link-columns__{2 or 3}col - class to split links into 2 or 3 columns
// .gel-link-columns__condensed - reduced margins and padding between links
//
//

.gel-link-columns {

  .gel-link-columns__items {


    li {
      position: relative;

      margin-top: 0;
      margin-bottom: 15px;
      break-inside: avoid;
      break-before: avoid;
      break-after: avoid;

      .gel-link-columns-icon {

        &:before {
          position: absolute;
          font-family: 'FontAwesomeSolid';
          left: 10px;
          display: inline-block;
          color: $gel-decoration;
          font-size: 1.2rem;
          content: "\f105";
          line-height: normal;
          transform: translateY(2px);
        }

      }
    }

    a {
      line-height: 1.6;
      vertical-align: baseline;
    }
  }

  .gel-link-columns--2col {

    @media #{$gel-mq-md} {
      column-count: 2;
      vertical-align: top;
    }
  }

  .gel-link-columns--3col {

    @media #{$gel-mq-md} {
      column-count: 3;
      vertical-align: top;
    }
  }

  .gel-link-columns--4col {

    @media #{$gel-mq-md} {
      column-count: 4;
      vertical-align: top;
    }
  }

  .gel-link-columns--condensed {

    li {
      margin-bottom: 10px;
    }
  }
}
