//
// Link List
//
// Styling for link lists
//
// :before           - Adds font styling, colour and margin to chevron icon
//
//

.gel-link-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    &:before {
      content: "";
      position: relative;
    }

    .gel-link-list-icon {
      &:before {
        position: absolute;
        font-family: 'FontAwesomeSolid';
        left: 10px;
        display: inline-block;
        color: $gel-decoration;
        font-size: 1.2rem;
        content: "\f105";
        line-height: normal;
        transform: translateY(2px);
      }
    }

  }

  a {
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    color: inherit;
  }

}
