// -------------------
// Link group
//
// Provides set of styles for a linkgroup.
//
//  .gel-linkgroup-list                - container to list linkgroups
//  .gel-linkgroup                     - linkgroup container
//  .gel-linkgroup__category           - linkgroup category
//  .gel-linkgroup__heading            - linkgroup heading
//  .gel-linkgroup-icon                - linkgroup list icon
// -------------------


.gel_linkgroup_default_container {
  background-color: #fff;
  margin: 30px auto;
}


.gel-linkgroup {
  margin-top: 10px;
  padding-bottom: 20px;

  li {

    .gel-linkgroup-icon {
      &:before {
        position: absolute;
        font-family: 'FontAwesomeSolid';
        left: 10px;
        display: inline-block;
        color: $gel-decoration;
        font-size: 1.2rem;
        content: "\f105";
        line-height: normal;
        transform: translateY(2px);
      }

    }
  }

  a {
    display: block;
    margin-top: 10px;
    font-weight: normal;
  }

  @media #{$gel-mq-md} {
    margin-top: 20px;
  }
  @media #{$gel-mq-lg} {
    padding-bottom: 10px;
  }
}

.gel-linkgroup__category  {
  @extend .gel-teaser__category;
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

.gel-linkgroup__heading {
  @extend .gel-teaser__heading
}
