.gel-livefyre-mosaic {
  display: flex;
  margin-right: 0;
  margin-left: 0;
  .gel-sm-item {
    padding-left: 0;
    padding-right: 0;
    @media screen and (max-width: 767px){
      .gel-sm-item-inter-container {
        margin: 25px 25px 0 25px;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 991px){
      &:nth-child(2n+1) {
        .gel-sm-item-inter-container {
          margin: 25px 12.5px 0 25px;
        }
      }
      &:nth-child(2n) {
        .gel-sm-item-inter-container {
          margin: 25px 25px 0 12.5px;
        }
      }
    }
    @media screen and (min-width: 992px) and (max-width: 1199px){
      .gel-sm-wording {
        p {
          max-height: 40px;
        }
      }
      &:nth-child(3n+1) {
        .gel-sm-item-inter-container {
          margin: 25px 12.5px 0 25px;
        }
      }
      &:nth-child(3n+2) {
        .gel-sm-item-inter-container {
          margin: 25px 12.5px 0 12.5px;
        }
      }
      &:nth-child(3n) {
        .gel-sm-item-inter-container {
          margin: 25px 25px 0 12.5px;
        }
      }
    }
    @media screen and (min-width: 1200px){
      .gel-sm-wording {
        p {
          max-height: 20px;
        }
      }
      &:nth-child(4n+1) {
        .gel-sm-item-inter-container {
          margin: 25px 12.5px 0 25px;
        }
      }
      &:nth-child(4n+2), &:nth-child(4n+3) {
        .gel-sm-item-inter-container {
          margin: 25px 12.5px 0 12.5px;
        }
      }
      &:nth-child(4n) {
        .gel-sm-item-inter-container {
          margin: 25px 25px 0 12.5px;
        }
      }
    }

    .gel-sm-item-inter-container {
      border: 1px solid $gel-grey-v2;
      -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.56);
      -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.56);
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.56);
      border-radius: 4px;
    }

    position: relative;

    &:last-child {
      margin-right: 0px;
    }
    .gel-sm-image-location {
      text-align: center;
      border-bottom: 1px solid $gel-grey-v2;
      img {
        overflow: hidden;
        height: 316px;
        border: 0;
        padding: 0;
        margin: auto;
        width: 100%

      }
    }
    .gel-sm-branding {
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url("https://education.nsw.gov.au/__data/assets/image/0011/834950/Instagram_Logo_NSW_Gov_72x72-01-01-copy.png");
      min-height: 72px;
      width: 72px;

      position: absolute;
      padding: 0;
      left: 0;
      right: 0;
      margin: auto;
      top: 305px;
    }
    .gel-sm-wording {
      padding: 56px 15px;
      border: none;
      overflow: hidden;
      p {
        font-size: $base-body-font-size;
        max-height: 20px;
      }
    }
    .gel-sm-footer {
      padding: 5px 15px;
      border-top: 1px solid $gel-grey-v2;
      font-color: $gel-bright-grey;
      font-size: 0.85rem;
      margin-left: 0;
      margin-right: 0;
    }
    .gel-sm-twitter {
      @include FontAwesomeBrands("\f099", $gel-bright-grey, 1.45em, 7px);
    }
    .gel-sm-facebook {
      @include fontAwesomeStandard("\f09a", $gel-bright-grey, 1.45em, 7px);
    }
    .gel-sm-instagram {
      @include FontAwesomeBrands("\f16d", $gel-bright-grey, 1.45em, 7px);
    }
    .gel-sm-date-and-type, .gel-sm-share, .gel-sm-type, .gel-sm-date {
      display: inline-block;
      padding-left: 0;
      padding-right: 0;
    }
    .gel-sm-share {
      @include FontAwesomeSolid("\f14d", $gel-bright-grey, 1.45em, 7px);
      a {
        color: inherit;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
          color: $gel-black;
        }
      }
    }
  }
}
