// -------------------
// Long Document Anchor Index
//
// Provides set of styles for the long document anchor index
//
//  .gel-LD-main                   - container used to generate anchors
//  .gel-LD-index                  - container for the anchor index
//  .gel-anchor-index              - container to anchors
//  .active                        - active anchors item
// -------------------

.gel-LD-index {
    order: 0;
  
    &[data-scroll-passed=true] {
      // padding-top: 62px;
      padding-top: 120px;
    }
  }
  
  .gel-LD-main {
    // order: 1;
    padding-top: 30px;
  }
  
  .gel-anchor-index {
    z-index: 1;
  
    @media #{$gel-mq-md} {
      padding: 30px 20px 30px 0;
      border-right: 1px solid $gel-lighter-grey;
    }
  
    [data-scroll-passed=true] & {
      position: fixed;
      top: 0;
      left: 0;
      padding: 5px;
      // height: 59px;
      height: 85px;
      width: 100%;
      background-color: $gel-white;
      box-shadow: 0 2px 7px 0 rgba(0,0,0,0.3);
      box-sizing: border-box;
  
      &.hide {
        display: none;
      }
  
      @media #{$gel-mq-md}{
        padding: 30px 20px 30px 0;
        left: auto;
        width: 26%;
        height: auto;
        max-height: 100vh;
        overflow: auto;
        box-shadow: none;
      }
  
      @media #{$gel-mq-lg} {
        width: 255px;
      }
  
      select {
        float: left;
        margin: 0;
        width: calc(100% - 145px);
      }
  
      button {
        float: right;
        margin: 0;
        padding: 4px;
        min-height: 40px
      }
    }
  
    .active {
      font-weight: bold;
    }
  
    li {
      &:before {
        display: none;
      }
  
      i {
       // @extend .uk-icon-angle-right;
        position: absolute;
        left: 0;
        display: inline-block;
        margin-top: -1px;
        font-family: 'FontAwesome';
        font-size: 1.2em;
        font-style: normal;
        color: $gel-decoration;
      }
    }
  }
  .gel-skiplink__link {

    @media #{$gel-mq-lg} {
      position: absolute;
      left: -9999em;
      margin: 0 0 5px 0;
      padding: 5px 5px 5px 0;
      width: 1px;
      height: 1px;
      display: inline-block;
      background: transparent;
      font-weight: normal;

      &:focus {
        position: relative;
        left: auto;
        transition-duration: 10s;
        transition-delay: 2s;
        width: auto;
        height: auto;
      }
    }

    .gel-LD-main &,
    .gel-GJ-main &,
    &--show-responsive {
      display: inline-block;
      margin-top: 30px;
      text-decoration: underline;

      // prevent link from hiding on landscape tablet
      @media only screen
      and (max-device-width : 1024px) {
        position: relative;
        left: auto;
        padding: 0;
        margin-bottom: 0;
        width: auto;
        height: auto;
        font-weight: bold;
      }
    }
  }