// -------------------
// NOTICE RIBBON
//
// A thin box which displays important information in a show-hide format designed to inform the user.
//
// .gel-notice-ribbon                          - Container for the header and content
// [role="tab"]                               - The top strip of content, always visible
// [role="tabpanel"]                           - Contents of the show/hide
// .gel-notice-ribbon__title                   - The main message and title for the ribbon
// .gel-notice-ribbon__icon                    - The icon close and open interaction
// .gel-notice-ribbon__additional              - Additional content in the ribbon top
//
// -------------------

.gel-notice-ribbon {
  background-color: $gel-lighter-grey;
  position: relative;
  overflow: hidden;


  #noticeRibbon-tab {
    display: block;
    box-sizing: border-box;
    padding: 15px 25px 12px 25px;
    overflow: hidden;
    border-bottom: 1px solid transparent;
    transition: border 0.6s;
    margin: 0 auto;
    color: $gel-color-font-dark;
    text-decoration:none;

    .gel-notice-ribbon__title {
      font-size: $base-body-font-size;
      margin: 0 30px 0 0;
      font-weight: 400;
      cursor: pointer;

      .link-tag {
        font-weight: 600;
      }
      @media #{$gel-mq-md} {
        float: left;
        padding-left: 30px;
        font-size:$base-body-font-size;
        .link-tag {
          font-size: $base-body-font-size;
          margin-left: 5px;
        }
        max-width: 50%;
      }
      @media #{$gel-mq-lg} {
        max-width: 40%;
      }
    }

    .gel-notice-ribbon__icon {
      position: absolute;
      right: 25px;
      top: 16px;
      width: 21px;
      height: 21px;
      background-image: url("../images/ribbon-down-both.svg");
      background-repeat: no-repeat;
      cursor: pointer;
      transition: transform 0.2s;

      .gel-notice-ribbon__title:hover ~ &,
      .gel-notice-ribbon__title:focus &,
      &:hover,
      &:focus,
      [role="tab"]:focus & {
        background-image: url("../images/ribbon-down-both.svg");
        background-position: 0 -21px;
      }

      [aria-expanded="true"] & {
        transform: rotate(-180deg);
      }

      @media #{$gel-mq-md} {
        right: auto;
      }
    }

  }

  .noticeRibbon-content {
    box-sizing: border-box;
    font-size: $base-body-font-size;

    p {
      color: $gel-dark-grey;
      font-weight: 400;
      font-size: $base-body-font-size;
    }

    &:focus {
      outline: 0;
    }
    .noticeRibbon-content-container {
      margin: auto;
      padding: 30px 25px;

      .gel-notice-ribbon__cta {
        margin: 8px 0 15px;
        font-size:$base-body-font-size;
        float:left;
        background-color: transparent;
        color: $gel-notice-ribbon-cta-color;
        border: 2px solid $gel-notice-ribbon-cta-color;
        padding-left: 30px;
        padding-right: 30px;
        font-weight: 600;
        line-height: 1.6;
        &:hover {
          color: #fff;
          background: #000;
          text-decoration: none;
        }
        @media #{$gel-mq-md} {
          margin: 15px 0;
        }
      }
    }
    // active styles
    &.show {
      border-top: 1px solid $gel-light-grey;
      transition: max-height 1.8s, padding 2.2s;
    }
  }

  @media #{$gel-mq-md} {

    #noticeRibbon-tab {
      position: relative;
      padding-right: 0;
      overflow: hidden;
      margin: 3px auto 3px auto;
    }

    .noticeRibbon-content-container {
      p {
        font-size: 1rem;
      }

      &.show {
        max-height: 50vh;
      }
    }
  }
}

.gel-notice-ribbon__additional {
  margin-top: 15px;
  clear: both;
  @media #{$gel-mq-md} {
    margin-top: 0;
  }

  a {
    font-weight: 600;
    color: $gel-color-font-dark;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  @media #{$gel-mq-md} {
    position: absolute;
    right: 25px;
    top: 16px;
    display: block;
    font-size: $base-body-font-size;
    font-weight: 400;
    max-width: 40%;
  }

  @media #{$gel-mq-lg} {
    font-size: $base-body-font-size;
    max-width: 40%;
  }
}
