// ********************************************
//-----------------------------
//    GEL PAGE METADATA
// -----------------------------
//
//  .gel-page-metadata    - Box for page metadata (last review / updated)
//
//**********************************************


.gel-page-metadata {
  border-left: 2px solid $gel-dark-grey;
  background: $gel-lighter-grey;
  padding: 15px 15px 10px;
  max-width: 340px;
  margin-top: 40px;
  margin-bottom: 2em;
  font-size: $base-body-font-size;
  line-height: 1.111rem;
  display: inline-block;

  p {
   margin-bottom: 5px;
   margin-top: 0;
  }

  .home &,
  .landing & {
    background-color: $gel-white;
  }
}
