/*

GEL Pagination Pattern

:hover                         - Grey hover with a 0.2s transition
.gel-pagination__prev          - Provides padding and alignment given to the previous page button.
.gel-pagination__prev:before   - Adds the previous page button icon
.gel-pagination__next          - Provides padding and alignment given to the next page button.
.gel-pagination__next:before   - Adds the next page button icon

*/

.gel-pagination {
  @include reset-list;
  clear: both;
  margin-bottom: 0;
  text-align: center;

  li {
    display: none;
    padding: 0;
    margin-right: 3px;


    > a,
    > span {
      display: inline-block;
      box-sizing: border-box;
      margin: 0;
      overflow: visible;
      max-width: 32px;
      border: 1px solid $pagination-border-color;
      border-radius: 1px;
      text-align: center;
      background-color: $pagination-bg;
      color: $pagination-color;
      line-height: $pagination-line-height;
      font-weight: 400;
      font-size: $pagination-font-size;

      height: 34px;
      min-width: 29px;
      line-height: 1.8;
      max-width: none;

      .gel-ie9 & {
        width: 32px;
      }
    }

    .gel-ie9 & {
      width: 32px;
    }
  }

  @media #{$gel-mq-md} {
    text-align: left;

    li {
      display: inline-block;

       > a,
       > span {
          padding: $pagination-padding-lg;
          font-weight: 600;
          font-size: $pagination-font-size-lg;
          text-align: center;
       }
     }
  }

  @media #{$gel-mq-lg} {
    margin-top: 50px;
  }

  .gel-pagination__prev,
  .gel-pagination__next {
    display: inline-block;
    width: auto;

      > a,
      > span {
        max-width: none;
        padding: $pagination-padding-vertical $pagination-padding-horizontal;


        .gel-ie9 & {
          width: auto;
        }
      }

    @media #{$gel-mq-md} {

      > a,
      > span {
        display: inline-block;
        width: auto;
        border-radius: 0;
        border: 1px solid $pagination-border-color;
        padding: $pagination-padding;
        background-color: $pagination-bg;
        color: $pagination-color;

        &:hover,
        &:focus {
          color: $pagination-color-action;
          background-color: $pagination-bg-action;

        }
      }
    }

    /*&.uk-disabled {
      > a,
      > span {
        color: $pagination-color-disabled;
        background-color: $pagination-bg-disabled;
        border-color: $pagination-border-color-disabled;
        text-decoration: none;
        cursor: default;
        &:hover,
        &:focus {
          color: $pagination-color-disabled;
          background-color: $pagination-bg-disabled;
          border-color: $pagination-border-color-disabled;
          text-decoration: none;
          cursor: default;
        }
      }
    }*/
  }

  .gel-pagination__more {

    a,
    span {
      font-weight: bold;
      color: $pagination-color-disabled;
      background-color: $pagination-bg-disabled;
      border-color: $pagination-border-color-disabled;
      text-decoration: none;
        &:hover, &:focus {
          border: 1px red solid;
          color: $pagination-color-disabled;
          background-color: $pagination-bg-disabled;
          border-color: $pagination-border-color-disabled;
          text-decoration: none;
          cursor: default;
        }
    }
  }

  .gel-pagination__disabled {

    > a,
    > span {
      color: $pagination-color-disabled;
      background-color: $pagination-bg-disabled;
      border-color: $pagination-border-color-disabled;
      cursor: default;

      &:hover {
        color: $pagination-color-disabled;
        background-color: $pagination-bg-disabled;
        border-color: $pagination-border-color-disabled;
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
      }
      > span {
        color: $pagination-color-disabled;
        border-color: $pagination-border-color-disabled;
      }
    }
  }

  .gel-pagination__active a {
    background: $pagination-color-action;
    color: $pagination-bg-action;
    &:hover {
      background: $pagination-color-action;
      color: $pagination-bg-action;
    }
  }
}
