#search-spa {
  padding-bottom: 40px;

  h1, h2, h3 {
    color: $search-heading-color;
  }

  .form-check {
    position: relative;
    box-sizing: border-box;
    padding-left: 32px;

    & > .form-check-input {
      position: absolute;
      left: 20px;
      top: 1px;
    }

    padding-top: 4px;
    padding-bottom: 4px;
  }

  .form-check-input {
    appearance: none;
    display: inline-block;
    position: relative;
    color: #666;
    margin-top: 7px;
    top: 6px;
    height: 16px;
    width: 16px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;     
    margin-right: 15px;
    outline: none;

    border: 5px solid #B4B4B4;

    &:hover {
      border-color: lighten(#B4B4B4, 20%);
    }

    &:checked {
      border-color: #071E42;
    }

    &:disabled {
      border-color: lighten(#B4B4B4, 25%);
    }
  }

  .form-label {
    font-weight: bold;
    font-size: 1rem;
    color: #333333;
  }

  .looking-for-something-else,
  .looking-for-something-else-sidebar {
    font-size: 1.625rem;
    font-weight: normal;

    h3, p {
      padding: 0;
      margin: 0;
      font-size: 1.625rem;
      font-weight: normal;
    }

    a {
      margin-top: 20px;
    }

    a, .fa {
      font-size: 1rem;
    }
    margin-bottom: 0px;
  }

  .looking-for-something-else-sidebar {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .gel-panel {
    border-top: 2px solid $search-color-primary;
    background: $search-panel-background;
    padding: 36px;

    &.no-results {
      margin-top: 80px !important;
    }
  }

  .gel-pagination {
    padding: 30px;
    padding-top: 22px;
    border-top: 2px solid $search-pagination-border-color;
    border-bottom: 2px solid $search-pagination-border-color;
  }

  hr,
  .gel-hr-search {
    border-color: $search-color-primary;
  }

  .gel-hr-search {
    border-width: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .gel-search-results__url {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    color: $search-link-color;
    font-weight: 500;
  }

  .gel-card__body {
    display: flex;
    flex-direction: column;
  }



  .gel-call-out-box--lite {
    border: 2px solid $search-color-primary;
    background: #FFF !important;
    margin-top: 78px;
    padding: 20px;

    & .gel-call-out-box__heading {
      position: absolute;
      top: 0px;
      margin-top: -45px;
      margin-left: -2px;
      margin-bottom: 0;
      background: $search-color-primary;
      color: #FFF;
      left: 0;
      padding: 10px 32px;
      font-size: 16px;
      font-weight: normal;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  .search__autosuggest__sugested-spelling {
    color: #FFF;
    & a {
      color: #FFF;
    }
  }
}

.gel-search {
  &__banner {
    padding-top: 20px;
    padding-bottom: 56px;
    background: $search-banner-background;
    color: $search-banner-color;

    h1, h2, h3, h4 {
      color: $search-banner-color !important;
    }

    .card {
      color: #000;

      h1, h2, h3, h4 {
        color: #000 !important;
      }
  
      .card-header {
        padding-top: 0;
      }
    }

    &__content {
      max-width: 610px;
      width: 100%;
    }

    & .badge {
      font-size: 0.812rem;
      font-weight: 300;

      &.badge-secondary {
        background: #FFF;
        color: $search-heading-color;
      }
    }
  }
  
  &__results {
    li:before {
      content: '';
    }

    li {
      padding-left: 0;
      margin-left: 0;
    }
  }

  &__item {
    &:before {
      content: '';
    }

    padding: 0;

    &__result-type {
      color: $search-result-type-text;
      font-weight: 400;
      span {
        color: $search-link-color;
        font-size: 1.5rem;
      }
    }
  }
}

.search {
  &__autosuggest {
    &__input {
      display: block;
      padding: 17px 65px 17px 20px;
      height: auto;
      font-weight: 600;
    }

    &__btn {
      position: absolute !important;
      right: 0;
      top: 0;
      bottom: 0;
      width: 60px;
      padding: 0;
    }

    &__dropdown {
      top: calc(100% + 10px);
      position: absolute;
      width: 100%;
      z-index: 2;
    }

    
    &__suggestions {
      margin: 1px;
      background-color: #fff;
      color: #000;
      border-radius: 4px;

      box-shadow: 0 0 6px rgba(0,0,0,0.23);
      // font-family: Helvetica, sans-serif;
      // font-weight: 300;
      font-size: 16px;
      
      margin-top: 4px;

      padding: 10px 0;

      margin: 0;
      padding: 0;
      list-style-type: none;
      overflow: hidden;
    }

    &__suggestions li::before {
      content: '';
    }

    &__suggested-item {
      cursor: pointer;
      padding: 10px 20px;
      margin: 0;

      &:hover {
        background: #ddd;
      }

      &.highlight {
        background: #ddd !important;
      }
    }

    &__suggested-spelling {
      font-size: 1rem;
      font-weight: 300rem;
      color: #FFF !important;
      & a, & a:visited, & a:hover {
        color: #FFF !important;
      }
    }
  }

  &__heading {
    font-size: 38px;
  }

  &__result-item {
    padding: 0 0 30px 0;
  }
}

.gel-map {
  &__container {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    min-height: 220px;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    max-width: none;
    transform: translateX(-50%);
  }
}

.gel-typography {
  &__link-heading {
    color: $search-heading-color;
    font-size: 1.56rem;
  }

  &__sidebar-heading {
    font-size: 1.25rem;
    font-weight: normal;
  }
}

.gel-card {
  &__header {
    padding: 20px 20px 0 20px;
  }

  &__body {
    padding: 20px;
  }
}