//
// gel Main Navigation
//
// .active                   - Expands mobile version using max-height and transitions.
// &.gel-search--body        - Applies styles to search box in body content
//

.gel-search {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  transform: translateY(-100%);
  transition: transform 0.3s;
  background: $gel-secondary-bg;
  box-sizing: border-box;


  &.active {
    transform: translateY(0%);
  }

  fieldset {
    padding: 15px;
  }

  legend {
    position: absolute;
    left: -999em;
  }

  @media #{$gel-mq-bs-lg} {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 35px;
    background: none;
    box-sizing: border-box;
    z-index: 1000;
    overflow: visible;

    &.active {
      transform: none;
    }

    fieldset {
      padding: 0;
      position: absolute;
      top: -85px;
      right: 40px;
    }
  }

  .form-group {
    margin-bottom: 0;
  }
}

.gel-search--body {
  max-height: none;
  margin: 25px 0 20px;
  position: relative;
  background: none;
  max-width: none;
  transform: none;
  top: auto;
  left: auto;
  padding: 0;

  fieldset {
    position: relative;
    padding: 0;
    label {
      display: none;
    }
  }


  @media #{$gel-mq-bs-md} {
    margin-top: 30px;
  }

  @media #{$gel-mq-bs-lg} {
    max-width: none;
    width: 100%;
    float: none;
    margin-top: 0;


    fieldset {
      position: relative;
      top: auto;
      right: auto;
    }
  }
}


.gel-search__heading {
  font-size: 1.1rem;
  margin-bottom: 10px;

  > span {
    position: relative;
    vertical-align: top;
    margin-left: 0.5em;
    top: -2px;
  }

  @media #{$gel-mq-bs-md} {
    font-size: 1.8rem;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  @media #{$gel-mq-bs-lg} {
    margin-top: 15px;

    > span {
      top: -3px;
    }
  }
}




.gel-search__toggle {
  //position: absolute;
  // bottom: 17px;
  // right: 10px;
  height: auto;
  width: 50px;
  float: right;
  line-height: 1.9;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: $gel-white;
  font-size: 20px;
  outline: 0 none;
  z-index: 100000;
  padding: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;

  @media #{$gel-mq-bs-md} {
    bottom: auto;
    top: -2px;
  }

  &[aria-expanded=false]:after {
    display: inline-block;
    content: "\f002";
    font-family: "FontAwesomeSolid";
    vertical-align: middle;
  }

  &[aria-expanded=true]:after {
    display: inline-block;
    font-size: 1.3rem;
    content: "\f00d";
    font-family: "FontAwesomeSolid";
    vertical-align: middle;
  }

  &-target {
    @media #{$gel-mq-bs-md} {
      top: 0;
    }
    @media #{$gel-mq-bs-xl} {
      fieldset {
        right: -40px;
      }
    }
    fieldset {
      label {
        display: none;
      }
    }
    &.show {
      transform: translateY(0%);
      @media #{$gel-mq-bs-md} {
        transform: none;
      }
    }
  }
}
#global-search-button {
  display: block;
}
@media #{$gel-mq-bs-md} {
  .gel-search__toggle-target.collapse:not(.show) {
    display: block;
  }
  #global-search-button {
    display: none;
  }
}

.gel-search__spelling-suggestion {
  font-size: 0.9rem;

  a {
    font-weight: normal;
  }
}


.gel-searchbox {
  .form-control, .gel-button {
    transition: box-shadow border color cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;

    &, &:hover, &:focus {
      border: none;
      box-shadow: none;
    }
  }

  .input-group-append {
    width: auto;
  }

  .form-control {
    background: $gel-search-background;
    font-size: 1rem;
    line-height: 1.125rem;
    height: auto;
    padding: 16px 73px 16px 16px;
  }

  .gel-button {
    min-height: 100%;
    font-size: 1.5rem;
    margin: -1px -1px -1px 0;
    padding: 0px 16px;

    /* invert search colors */
    background: $gel-search-primary-color;
    color: $gel-search-background;

    &:hover {
      background: $gel-search-background-focus;
      color: $gel-search-primary-color;

      box-shadow: inset 1px 0 0 $gel-search-primary-color;
    }
  }

  &:hover { /* hover animations for all children */
    .form-control {
      box-shadow: 0 0 0 1px $gel-search-primary-color;
      background: $gel-search-background-focus;
    }
  }

  &:focus-within {
    .form-control {
      box-shadow: 0 0 0 3px $gel-search-focus-ring-color;
      background: $gel-search-background-focus;
    }
  }

  .gel-button:focus {
    color: $gel-search-primary-color;
    background: $gel-search-background-focus;
    box-shadow: inset 1px 0 0 $gel-search-primary-color;
  }

  &.gel-small .form-control {
    padding: 14px 73px 14px 14px;
  }

  &.gel-large .form-control {
    padding: 18px 73px 18px 18px;
  }
}

.gel-border {
  .form-control {
    background: $gel-search-background-alt;
    box-shadow: inset 0px 0px 0px 1px $gel-search-border-color;
  }

  &:hover {
    .form-control {
      box-shadow: inset 0px 0px 0px 1px $gel-search-primary-color, 0 0 0 1px $gel-search-primary-color;
    }
  }

  .gel-button:hover {
    box-shadow: inset 0px 0px 0px 1px $gel-search-primary-color, inset 2px 0px 0px 0px $gel-search-primary-color;
  }

  &:focus-within {
    .form-control {
      box-shadow: 0 0 0 3px $gel-search-focus-ring-color, inset 0px 0px 0px 1px $gel-search-border-color;
    }

    .gel-button:hover {
      box-shadow: inset 0px 0px 0px 1px $gel-search-primary-color;
    }
  }

  .gel-button:focus {
    color: $gel-search-primary-color;
    background: $gel-search-background-alt;
    box-shadow: inset 0 0 0 1px $gel-search-primary-color;
  }
}
