//
// GEL Section header
//
// :hover, :focus, :visited    - Uniform treatment of logo link styles
//

.gel-section-header {
  background: $gel-section-header-bg;
  padding: 19px 0 17px;
  position: relative;
  z-index: 900;

  @media #{$gel-mq-bs-md} {
    padding: 39px 0 40px;
    border: none;
  }
  .gel-mobile-nav-indicator{
    margin-top: 1px;
    margin-left:-10px;
    .gel-mobile-nav-indicator_icon{
      &:before{
        color:$gel-white;
      }

    }
  }
  .d-lg-none {
    display: inline-block;
    float: left;
    @media #{$gel-mq-bs-md} {
      display: none;
    }
  }
}

.gel-section-header + .gel-search {
  @media #{$gel-mq-bs-md} {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 35px;
    background: none;
    box-sizing: border-box;
    z-index: 1000;
    overflow: visible;

    &.active {
      transform: none;
    }

    fieldset {
      padding: 0;
      position: absolute;
      top: -82px;

      right: 40px;
      @media #{$gel-mq-bs-xl} {
        right: -40px;
      }
    }
  }
}

.gel-section-header__logo {
  float: left;
  color: $gel-section-header-logo-color;
  font-size: 1rem;
  line-height: 1.8;

  max-width: 90%;
  margin-top: 5px;
  margin-bottom: 0;
  display: inline-flex;
  .badge {
    padding-left: 0;
    .link-tag-icon {
      background-color: $gel-white;
      color: $gel-bright-grey;
      margin-left: 0;
    }
  }
  a,
  a:visited {
    color: $gel-section-header-link-color;
    text-decoration: none;
    font-weight: normal;
    max-width: 70%;
    display: block;
    margin-right: 10px;

    span {
      font-weight: 400;
      margin: 0;
    }
  }

  @media #{$gel-mq-bs-md} {
    line-height: 1;
    font-size: 1.875rem;
    max-width: none;

    a,
    a:visited {
      max-width: none;
      display: inline;
      margin-right: 15px;
    }
    .badge {
      vertical-align: top;
      padding-left: 0.4em;
      .link-tag-icon {
        margin-left: 0.5em;
      }
    }
  }
}
