/*******************************
* Showhide WITH TOGGLE ICONS
*******************************/
.gel-show-hide {
    margin-bottom: 25px;
    .card,
    .card-header {
        border: 0;
    }

    .card-header {
        padding-bottom: 0;
        padding-right: 0;
        background-color: unset;
        margin-right:20px;
    }
    .card-body{
        background-color: #f2f2f2;
        margin-right:20px;
        margin-left:20px;
    }

    .gel-show-hide_title {
        margin: 0;
        background-color: #b4b4b4;

        i {
            display: block;
            position: absolute;
            right: 5%;
            width: 12px;
            height: 4px;
            margin: 9px 0 0;
            background: #000;
            transition: transform 0.5s;
            transform-origin: 6px 2px 0;
            &.vertical {
                transform: rotate(90deg);
                .gef-ie9 & {
                    margin: -2px 0 0;
                }
            }
            .gef-ie9 & {
                margin: -2px 0 0 -2px;
            }
            @media screen and (max-width: 768px) {
                right: 10%;
            }
        }

        .gel-show-hide_link {
            font-size: 18px;
            font-weight:500;
            color:$gel-black;
            background: none;
            border: none;
            display: block;
            padding: 15px;
            text-decoration: none;
            text-align: left;
            margin-bottom:5px;

            &[aria-expanded=true] {

                i {

                    &.vertical {
                        transform: rotate(180deg);
                    }
                }
                background-color: #e0e0e0;
                color: #000;
                text-decoration: underline;
            }
            &:hover {
                background-color: #e0e0e0;
                color: #000;
                text-decoration: underline;
            }
            &:focus {
                outline: 1.4px solid black;
                outline-offset: 2px;
            }
        }
        i {
            width: 12px;

            @media screen and (min-width: 1024px) {
                width: 16px;
                -ms-transform-origin: 8px 2px 0;
                transform-origin: 8px 2px 0;
            }
        }
    }
}
