// -------------------
// SIDE NAVIGATION
//
// Can sit on either in a left or right hand side column
//
//  .gel-side-navigation      - start of side navigation with list style none
//  .sn_parent                - parent link of side navigation
//  .active                   - active/visited state of a parent or child link
//
// -------------------
.gel-side-navigation {
  > ul {
    @include reset_list;
    font-size: 1rem;
    margin-top: 0;
    > li {
      padding: 0;
      margin: 0;
      border-bottom: 1px solid $side-nav-border;

      &.sn_parent {
        &.gel-side-navigation-upper {
          background-color: $side-nav-parent-bg;
          > a {
            padding: 16px 15px 13px 36px;
            .gel-icon-chevron-left {
              &:before {
                content: '\f359';
                font-family: 'FontAwesomeSolid';
                float: left;
                margin: 0 0 0 -24px;
              }
            }
            &:hover, &:visited {
              border-right: 0;
            }
            &:focus{
              outline: 1px solid black;
              outline-offset: 3px;
            }
          }
        }
      }
    }
    .sn_parent {
      > a,
      > a:visited {
        border-right: 6px solid transparent;
        display: block;
        padding: 16px 15px 13px 10px;
        &:hover {
          font-weight: 600;
          text-decoration: underline;
          background-color: rgba(224,224,224,0.3);;
        }
        &:focus {
          border-right: 0;
          font-weight: 800;
          border-color: $gel-decoration;
          text-decoration: underline;
          letter-spacing: 0.015em;
          transform: translateY(-1px);
          outline: 1px solid black;
          outline-offset: 3px;

 /*         &:before {
              content: '';
              display: block;
              width: 6px;
              height: 1px;
              background-color: $gel-decoration;
              position: absolute;
              right: -6px;
              bottom: -1px;
            }*/
            // Commenting this because it has flown from GEF, might delete after further testing
        }
      }
      li {
        padding: 0 15px 15px 30px;
        &:before {
          content: '';
        }
        a,
        a:visited {
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
    .active.sn_parent {
      > a,
      > a:visited {
        font-weight: 800;
        line-height: 1.55em;
        border-right: 6px solid $gel-decoration;
        padding-top: 20px;
        display: block;
        width: 100%;
      }
    }
  }

  li.active > ul, li.active > ul {
    display: block;
  }
  ul ul, ol ol {
    display: none;
  }
  ul {
    > li {
      margin: 0;
      a,
      a:visited {
        color: inherit;
        font-size: $base-body-font-size;
        font-weight: 400;
        padding: 0;
        text-decoration: none;
      }
    }
  }
}

$side-nav-guided-journey-padding: 4px;
$side-nav-guided-journey-padding-left: 10px;
$side-nav-guided-journey-diameter: 40px;
$side-nav-guided-journey-border-width: 1px;
$side-nav-guided-journey-border-color: #7D7D7D;

$side-nav-guided-journey-item-left: ($side-nav-guided-journey-padding-left / 2) + $side-nav-guided-journey-diameter;

.gel-side-navigation {
  .sn__guided-journey {
    & {
      list-style: none;
      padding-left: 20px;

      margin-top: 10px;
      padding-top: 4px;
    }

    .sn_parent {
      position: relative;
      display: flex;
      align-items: center;

      margin: 0;

      padding: $side-nav-guided-journey-padding 0 $side-nav-guided-journey-padding $side-nav-guided-journey-item-left;
      min-height: $side-nav-guided-journey-diameter;
      box-sizing: content-box;

      &:before {
        content: '';
        top: 0;
        bottom: 0;
        border-left: 1px solid $side-nav-guided-journey-border-color;
        transform: translateX($side-nav-guided-journey-border-width * -0.5);
      }

      &:first-child:before { top: 50%; }
      &:last-child:before { bottom: 50%; }
    }

    .sn_parent a {
      position: relative;
      display: inline-block;

      &:before {
        content: '';
        position: absolute;
        width: $side-nav-guided-journey-diameter;
        height: $side-nav-guided-journey-diameter;
        display: block;
        background: #FFF;
        border-radius: 50%;
        top: 50%;
        margin-top: $side-nav-guided-journey-diameter * -0.5;
        border: 1px solid $side-nav-guided-journey-border-color;
        left: ($side-nav-guided-journey-diameter * -0.5) + ($side-nav-guided-journey-item-left * -1);
      }

      &.active {
        font-weight: bold;
        &:before {
          background: #000;
        }
      }

      &:hover {
        font-weight: bold;
        &:before {
          background: #000;
        }
      }
    }
  }
}
