// -------------------
// SKIP LINK
//
// Skip link is internal page links used by screen reader users for bypassing or 'skipping' over repetitive web page content.
//
//  .gel-skiplink       - parent container that wraps skip link elements
//  .gel-skiplink__link - clickable skip link
//
// -------------------

  .gel-skiplink {
      display: none;
      background-color: transparent;

      ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        li {
          list-style-type: none;
          margin-top: 0;
          padding-left: 0;
          &:before {
            content: "";
          }
        }
      }
      @media #{$gel-mq-bs-lg} {
        display: block;
        margin: 0 auto;
        // max-width: 1024px;
        // padding: 0 35px;
        background-color: transparent;
      }
    // }

    .skip-link-single {
      list-style-type: none;
      margin-top: 0;
      margin-left: 40px;
    }

    .gel-skiplink__link {

      @media #{$gel-mq-bs-lg} {
        position: absolute;
        left: -9999em;
        margin: 0 0 5px 0;
        padding: 5px 5px 5px 0;
        width: 1px;
        height: 1px;
        display: inline-block;
        background: transparent;
        font-weight: normal;

        &:focus {
          position: relative;
          left: auto;
          transition-duration: 10s;
          transition-delay: 2s;
          width: auto;
          height: auto;
        }
      }

      .gel-LD-main &,
      .gel-GJ-main &,
      &--show-responsive {
        display: inline-block;
        margin-top: 30px;
        text-decoration: underline;

        // prevent link from hiding on landscape tablet
        @media only screen
        and (max-device-width : $gel-lg-max) {
          position: relative;
          left: auto;
          padding: 0;
          margin-bottom: 0;
          width: auto;
          height: auto;
          font-weight: bold;
        }
      }
    }
  }
// }
