.gel-social-media {
  &__avatar {
    position: absolute;
    width: 65px;
    height: 65px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    left: 14px;
    bottom: -11px;

    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.22);
    background-color: #FFF;
    z-index: 1;
    overflow: hidden;
  }

  &__header {
    padding-left: 95px;
  }

  &__content {
    padding-bottom: 20px;
  }

  &__name, &__post-link, &__footer-link {
    font-weight: 600;
  }
}