// -------------------
// TABS
//
// Tabbed navigation links and tab panel content styling, displayed as accordions on mobile
//
// .gel-tabs        - wrapper of tab link list and tab panel list
// .gel-tabs_group  - when tabs are accordion, this is the container for each individual tab
//
// -------------------

.gel-tabs {


  ul {
    padding:0;
  }
  position: relative;
  margin: 30px auto;

  [role=tablist] {
    @include reset-list;
    overflow: auto;
    width: 100%;
  }

  .gel-external-link {
    display: none;
    &:before {
      content: none;
    }
  }

  @media #{$gel-mq-md} {

    [role=tablist] {
      margin-bottom: 0;
    }
  }


}

.gel-tabs--active {
  .gel-tabs__group {
    display: block;
    margin-top: 2px;

    [role="tab"] {
      /* tab button */
      @include accordionHeader;
      background-color: $gel-highlight-panel-bg;
      transition: background-color 0.2s;
      border-bottom: 1px solid $gel-highlight-panel-bg;
      border-top: 3px solid $gel-decoration;

      &:hover,
      &:focus {
        background-color: $gel-lighter-grey;
        text-decoration:  underline;
      }

      &:hover {
        text-decoration:  underline;
      }

      &[aria-expanded=true], &[aria-selected=true] {
        background-color: $gel-secondary-bg;
        border-top: 1px solid $gel-highlight-panel-bg;
        border-bottom: 3px solid $gel-decoration;
        
        &:after {
          transform:  translateY(-40%) rotate(180deg);
        }
      }

      &:after {
        content: "\f107";
        display: block;
        position: absolute;
        font-family: FontAwesomeRegular;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.2s;
      }
    }

    [role="tabpanel"] {
      /* tab content */
      @include accordionContent;
      //max-height: 1000px;
      transition: max-height 1.3s, padding 0.7s;
      overflow: hidden;
      border-bottom: 3px solid $gel-decoration;

      background-color: #fff;

      &[aria-hidden=true] {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: 0;
        transition: max-height 0.25s 0s, padding 0.25s 0s;
      }
    }
  }

  @media #{$gel-mq-md} {

    .gel-tabs__group {

      [role="tab"] {
        float: left;
        width: 25%;
        padding: 10px 15px;
        background-color: $gel-highlight-panel-bg;
        box-sizing: border-box;
        text-transform: none;
        font-size: 1rem;
        font-weight: 600;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        outline: 2px solid $gel-white;
        transition: background-color 0.2s, width 0.2s;

        &[aria-expanded=true], &[aria-selected=true] {
          background-color: $gel-light-grey;
        }

        &:after {
          display: none;
        }
      }

      &:nth-last-child(4):first-child [role="tab"],
      &:nth-last-child(4):first-child ~ li [role="tab"] {
        width: 23%;

        &[aria-expanded=true], &[aria-selected=true] {
          width: 31%;
        }
      }

      &:nth-last-child(3):first-child [role="tab"],
      &:nth-last-child(3):first-child ~ li [role="tab"] {
        width: 30%;

        &[aria-expanded=true], &[aria-selected=true] {
          width: 40%;
        }
      }

      &:nth-last-child(2):first-child [role="tab"],
      &:nth-last-child(2):first-child ~ li [role="tab"] {
        width: 40%;

        &[aria-expanded=true], &[aria-selected=true] {
          width: 60%;
        }
      }

      &:nth-last-child(1):first-child [role="tab"],
      &:nth-last-child(1):first-child ~ li [role="tab"] {

        &[aria-expanded=true], &[aria-selected=true] {
          width: 40%;
        }
      }
    }


    .gel-tabs__panel-group {
      @include reset-list;
      clear: both;
      margin: 0;

      > li {
        margin-top: 0;
      }

      [role="tabpanel"] {
        margin: 0;
        padding: 25px;
        background-color: transparent;
        border: 2px solid $gel-light-grey;
        border-width: 2px 0;

        &[aria-hidden=true] {
          max-height: 0;
          margin: 0;
          border: 0;
          padding-top: 0;
          padding-bottom: 0;
          overflow: hidden;
        }

        &:focus {
          outline: 0;
        }

        > *:last-child {
          margin-bottom: 0;
        }
      }
    }
  }


}


.js-tabcontent {

  padding-top: 10px;

  &[aria-hidden=true] {
    display: none;
  }

  h2.invisible {
    visibility: visible;
    @extend .show-on-sr

  }
}

.js-tabs.gel-tabs--active {
  .gel-tabs__panel-group {

    [role="tabpanel"] {
      /* tab content */
      @include accordionContent;
      //max-height: 1000px;
      transition: max-height 1.3s, padding 0.7s;
      overflow: hidden;
      border-bottom: 3px solid $gel-decoration;
      background-color: #fff;

      &[aria-hidden=true] {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: 0;
        transition: max-height 0.25s 0s, padding 0.25s 0s;
      }
    }
  }
}
