// ----------------------
// VISUAL CONTROL ICONS
//
// Provides set of options for display control.
//
//  .gel-vc-icons               - container of icons
//  .gel-vc-btn                 - visual control button
//  .active                  - button active state
//
// ---------------------

.gel-vc-icons {
  display: none;
  height: 0;

  @media #{$gel-mq-lg} {
    position: absolute;
    display: block;
    right: 0;
    top: 5px;
    height: auto;
    line-height: 0;

    .gel-vc-btn {
      color: $gel-dark-grey;
      margin: 0 0 0 6px;
      height: 35px;
      width: 32px;
      font-size: 1.875rem;
      padding: 0;
      cursor: pointer;
      background: none;
      border: 0 none;
      outline: none;

      &:focus {
        border: $gel-focus-outline;
      }  

      &.active {
        color: $gel-decoration;
      }
    }
  }
}
