//--- *************** ---//
//--- CATALOGUE TEASER ---//
//--- *************** ---//

- var name = "Catalogue teaser"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    | A 'teaser' for the catalogue component, consists of a thumbnail, heading, text and money amount

mixin usage
  h4 Using pug:
    | @param {int} type - determine which teaser layout you would like to use. Options are "default" and "block"

  pre
    code.language-pug
      | +gel_catalogue_teaser("block")


mixin output
  +gel_catalogue_teaser("block")


//--- MIXINS ---//
//---------------------------------------------------------


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_catalogue_teaser(type)
  a(href="#" class="gel-catalogue-teaser")
    article(class="gel-catalogue-teaser--#{" + type + " }" data-pseudo-link)

      div.get-catalogue-teaser_thumbnail 
        img(src="https://placehold.it/228x152" alt="")

      div.gel-catalogue-teaser_content

        h3
          +lipsum(5, "words")

        p.gel-catalogue-teaser_description
          +lipsum(15, "words")

        p.gel-catalogue-teaser_data
          | $XXX.XX (exc. GST)
