mixin general_content(title)
  h1= title
  
  h2
    +lipsum(3, "words")

  +gel_lead

  h2
    +lipsum(8, "words")
  p
    +lipsum(5, "sentences")
  +Image

  p(id="anchor-3")
    +lipsum(3, "sentences")
    | :

  p
    a(href="https://www.google.com")
      | External Link
  
  +gel_lists

  h2
    +lipsum(6, "words")

  p
    +lipsum(5, "sentences")

  +gel_show_hide(1)

  p
    +lipsum(2, "sentences")

  +gel_table

  p
    +lipsum(1, "sentences")

  h4
    +lipsum(3, "words")

  h5
    +lipsum(3, "words")

  p
    +lipsum(3, "sentences")

  +gel_call_out_box

  p
    +lipsum(3, "sentences")

  +gel_show_hide(2)
  
  p 
    +gel_button("Button", "gel-button-primary", "small")
    +gel_button("Button", "gel-button-secondary", "small")
  p  
    +gel_button("Button", "gel-button-primary", "small", false, true)
    +gel_button("Button", "gel-button-secondary", "small", false, true)
  p  
    +gel_button("Button", "gel-button-primary", "small", true, false)
    +gel_button("Button", "gel-button-secondary", "small", true, false)
  p  
    +gel_button("Button", "gel-button-primary", "small", false, false, true)
    +gel_button("Button", "gel-button-secondary", "small", false, false, true)
  
  p 
    +gel_button("Button", "gel-button-primary", "medium")
    +gel_button("Button", "gel-button-secondary", "medium")
  p  
    +gel_button("Button", "gel-button-primary", "medium", false, true)
    +gel_button("Button", "gel-button-secondary", "medium", false, true)
  p  
    +gel_button("Button", "gel-button-primary", "medium", true, false)
    +gel_button("Button", "gel-button-secondary", "medium", true, false)
  p  
    +gel_button("Button", "gel-button-primary", "medium", false, false, true)
    +gel_button("Button", "gel-button-secondary", "medium", false, false, true)

  p 
    +gel_button("Button", "gel-button-primary", "large")
    +gel_button("Button", "gel-button-secondary", "large")
  p  
    +gel_button("Button", "gel-button-primary", "large", false, true)
    +gel_button("Button", "gel-button-secondary", "large", false, true)
  p  
    +gel_button("Button", "gel-button-primary", "large", true, false)
    +gel_button("Button", "gel-button-secondary", "large", true, false)
  p  
    +gel_button("Button", "gel-button-primary", "large", false, false, true)
    +gel_button("Button", "gel-button-secondary", "large", false, false, true)


  h2
    | Iframe
  +gel_iframe("https://player.vimeo.com/video/188598071?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0", "NSW Department of Education", "width:100%; height:500px;", true)
    
  mixin Image
    img(src="https://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
  +gel_image_with_caption

  +gel_tabs(4)

  +gel_metadata
  
  +gel_blockquote
  
  +gel_featured_teaser()

  +gel_featured_teaser(true)
  
  +gel_link_columns(12, 2)

  +gel_link_columns(12, 3,true)
  
  +gel_linkgroup_list(2,4)
  
  +gel_content_container
  
  +gel_download_box
  
  +gel_toc(7, true)

  +gel_toc(7)
  
  div#drawer_auto
    mixin gel_drawer_tab_contents()
      +lipsum(2, "words")

    mixin gel_drawer_panel_contents()
      +lipsum(2, "sentences")

    div.gel-eg-stage

      +gel_drawer
  
  +gel_back_to_top
  
  
