<ol class="gef-a-z-list">
  <li data-character-name="1"><a href="#1" id="has-no-h3">1</a></li>
  <li data-character-name="A"><a href="#A" id="does-not-change">A</a></li>
  <li data-character-name="b"><a href="#b" id="test-parent">b</a></li>
  <li data-character-name="C"><a href="#C">C</a></li>
</ol>

<h3 class="letter" id="A">A</h3>
<h3 class="letter" id="D">D</h3>
<h3 class="letter" id="L">L</h3>
<h3 class="letter" id="S">S</h3>

<div class="has-no-anchors"></div>