<input id="input1" type="radio" name="transfer-radio" value="1" data-gef-input-transferrer="receiver">
<input id="input2" type="radio" name="transfer-radio" value="2" data-gef-input-transferrer="receiver">
<input id="input3" type="text" name="transfer-text" data-gef-input-transferrer="receiver">
<input id="receiver" type="text" name="receiver">