//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Base Template"

//--- HTML
//---------------------------------------------------------


doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard">
  <!--[endif]-->


    +gel_skiplink
    +global_header(false, false)  
      
    script.
      window.doeSearch = {
        searchingIn: 'NSW Department of Education',
        isStaffOnly: true,
        lookingForSomethingElse: {
          showLock: true,
          label: 'Search staff only content',
          url: 'https://education.nsw.gov.au/inside-the-department/search',
        },
        facets: [
          {
            id: 'as_sitesearch',
            name: 'Search In',
            defaultValue: 'all',
            options: [
              { id: 'all', value: 'all', label: 'All of education.nsw.gov.au' },
              { id: 'atsp', value: '/atsp', label: 'Only ASTP'},
              { id: 'policy', value: '/policy-library', label: 'Policy Library'},
            ],
          },
          {
            id: 'filterBy',
            name: 'Type',
            label: 'Type',
            defaultValue: '',
            options: [
              { id: 'all', value: '', label: 'All' },
              { id: 'pages', value: 'pages', label: 'Pages' },
              { id: 'documents', value: 'documents', label: 'Documents'},
              { id: 'schools', value: 'schools', label: 'Schools'},
              { id: 'event', value: 'event', label: 'Events'},
              { id: 'policy', value: 'policy', label: 'Policies' },
              { id: 'article', value: 'article', label: 'Article' },
            ],
          }
        ],
        siteUrl: 'education.nsw.gov.au',
        ignoreSiteForGlobal: true,
        backTo: {
          url: 'https://education.nsw.gov.au/early-childhood-education/operating-an-early-childhood-education-service',
          label: 'Operating an early childhood education service',
        },
        collection: 'public_ce_dec_nsw_gov_au',
      }

    main.gel-main
      #search-spa

    +global_footer(3)

    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
    script(src='../assets/js/components/anchorBox.js' type='text/javascript')
    script(src='../assets/js/components/keyCodes.js' type='text/javascript')
    script(src='../assets/js/components/ariaToggler.js' type='text/javascript')
    script(src='../assets/js/components/classManipulator.js' type='text/javascript')
    script(src='../assets/js/components/breadCrumbs.js'  type='text/javascript')
    script(src='../assets/js/components/drawer.js'  type='text/javascript')
    script(src='../assets/js/components/scrollToggle.js' type='text/javascript')
    script(src='../assets/js/components/sideNavigation.js' type='text/javascript')
    script(src='../assets/js/components/externalLinkTagger.js' type='text/javascript')
    script(src='../assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js' type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js' type='text/javascript')
    script(src='../assets/js/components/mobileMegaNav.js' type='text/javascript')
    script(src='../assets/js/components/skipForFirefox.js' type='text/javascript')

    script(src='../assets/js/apps/doe-search/runtime.search.js')
    script(src='../assets/js/apps/doe-search/vendors.search.js')
    script(src='../assets/js/apps/doe-search/main.search.js')
  </body>
