//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Set location Components"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="template">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 template">
  <!--[endif]-->
  +gel_skiplink
  +global_header
  +gel_meganav_mobile
  +gel_section_header(siteName, 'On', 'On')
  +gel_search_box('header')  
  header
  main.gel-main

  footer
  +global_footer(4)  


  include ../../pug/components/_global-scripts.pug
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js' type='text/javascript')
  script(src='../assets/js/components/mobileMegaNav.js' type='text/javascript')
  script(src='../assets/js/components/skipForFirefox.js' type='text/javascript')
  </body>
