//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Stand alone components"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="template">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 template">
  <!--[endif]-->


  header
  main.gel-main
    div.container
      div.col
        h1 Stand alone components
        
        h2  Blockquote with quote
        +gel_blockquote(true)
        
        h2  Blockquote
        +gel_blockquote
        
        hr
        
        h2 Lead paragraph
        +gel_lead
        
        hr
          
        h2 Table 
        +gel_table
        
        hr 
        
        h2
          | Button &amp; Alt-1 button

        div#buttonsubmit_auto

          p 
            +gel_button("Button", "gel-button-primary", "small")
            +gel_button("Button", "gel-button-secondary", "small")
          p  
            +gel_button("Button", "gel-button-primary", "small", false, true)
            +gel_button("Button", "gel-button-secondary", "small", false, true)
          p  
            +gel_button("Button", "gel-button-primary", "small", true, false)
            +gel_button("Button", "gel-button-secondary", "small", true, false)
          p  
            +gel_button("Button", "gel-button-primary", "small", false, false, true)
            +gel_button("Button", "gel-button-secondary", "small", false, false, true)
          
          p 
            +gel_button("Button", "gel-button-primary", "medium")
            +gel_button("Button", "gel-button-secondary", "medium")
          p  
            +gel_button("Button", "gel-button-primary", "medium", false, true)
            +gel_button("Button", "gel-button-secondary", "medium", false, true)
          p  
            +gel_button("Button", "gel-button-primary", "medium", true, false)
            +gel_button("Button", "gel-button-secondary", "medium", true, false)
          p  
            +gel_button("Button", "gel-button-primary", "medium", false, false, true)
            +gel_button("Button", "gel-button-secondary", "medium", false, false, true)
        
          p 
            +gel_button("Button", "gel-button-primary", "large")
            +gel_button("Button", "gel-button-secondary", "large")
          p  
            +gel_button("Button", "gel-button-primary", "large", false, true)
            +gel_button("Button", "gel-button-secondary", "large", false, true)
          p  
            +gel_button("Button", "gel-button-primary", "large", true, false)
            +gel_button("Button", "gel-button-secondary", "large", true, false)
          p  
            +gel_button("Button", "gel-button-primary", "large", false, false, true)
            +gel_button("Button", "gel-button-secondary", "large", false, false, true)

        hr
          
        h2 
          | Iframe 
          +gel_iframe("https://player.vimeo.com/video/188598071?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0", "NSW Department of Education", "width:100%; height:500px;", true)
        h3
          | Iframe responsive
          +gel_iframe("https://www.youtube.com/embed/Q3YYwIsMHzw?rel=0", "Earth at Night", "", true, "16by9", true)
        h3 Inside a grid
        div.container
          div.row
            div.col
              p Normal iframe:
            div.col
              +gel_iframe("https://player.vimeo.com/video/188598071?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0", "NSW Department of Education", "width:100%; height:500px;", true)
            div.col 
              p 19x9 iframe:
            div.col 
              +gel_iframe("https://player.vimeo.com/video/188598071?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0", "NSW Department of Education", "width:100%; height:500px;", true)

        hr
          
        h2 Featured Teaser
        +gel_featured_teaser()
        
        h3 Featured teaser variant 
        +gel_featured_teaser(true)
        
        hr
          
        h2 Image with caption
        
        +gel_image_with_caption("")
        
        h3 Rounded variation
        
        +gel_image_with_caption("rounded")

        hr
          
        h2 Lists
        +gel_lists
        
        hr
  
        h2 Download Box
        +gel_download_box

        hr

        h2 Tabs
        +gel_tabs(4) 

        hr

        h2 Link Columns
        h3
          | Two column example

        +gel_link_columns(12, 2)

        h3
          | Three col / Condensed example

        +gel_link_columns(12, 3,true)   
        
        hr     
  
        h2 Table of contents
        div.force-margin-bottom
          h3
            | With border
          +gel_toc(7, true)

        div.force-margin-bottom
          h3
            | No border
          +gel_toc(7)       
        
        hr
          
        h2 Content Container
        +gel_content_container          
  footer


  include ../../pug/components/_global-scripts.pug
  script(src='../assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js' type='text/javascript')
  </body>
