//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Anchor Box"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body
    <!-- start component //-->    
    //- Anchor Box is generated from anchorBox.js. Below PUG version is made available as additional reference.
    //- +gel_anchor_box(5)
    <!-- end component //-->
    article.gef-main-content(data-gel-anchor-box)
      h1 Anchor Box
      
      h2 Content Container 0
      p
        +lipsum(5, "sentences")
      +Image

      h2 Content Container 1
      p
        +lipsum(5, "sentences")
      +Image

      h2 Content Container 2
      p
        +lipsum(5, "sentences")
      +Image

      h2 Content Container 3
      p
        +lipsum(5, "sentences")
      +Image

      h2 Content Container 4
      p
        +lipsum(5, "sentences")
      +Image
      
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
        tr
          td 10-05-2019
          td 
            a(href="https://dec-ce.atlassian.net/browse/GEL-22")
              | https://dec-ce.atlassian.net/browse/GEL-22
          td Transformed anchorBox.js from ES6 to ES5 using es6console.com as IE11 does not recognize ES6 syntax.
        tr
          td 08-05-2019
          td 
            a(href="https://dec-ce.atlassian.net/browse/GEL-22")
              | https://dec-ce.atlassian.net/browse/GEL-22
          td Initial Anchor Box
        
      tbody

    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
    script(src='../assets/js/components/anchorBox.js' type='text/javascript')
