//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Banner"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    h2  Include title of compent here
    //- BANNERS -//

    div#banner.spacer

    hr

    div

      div

        h2.force-margin-bottom
          | Banners

    div#banner_auto

      +gel_banner("https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)")

      div.gel_banner-underneath-container

        h2.gel-block__header Positioning of container underneath banner

      div.spacer

      +gel_banner("https://placehold.it/1350x270?text=SMALL+BANNER+(1350x270)",false, true)

      div.gel_banner-underneath-container

        h2.gel-block__header Positioning of container underneath small banner
        
      div.spacer

      +gel_banner("https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)",false, false, true)

      div.gel_banner-underneath-container

        h2.gel-block__header Positioning of container underneath 50% banner with image
        
      div.spacer

      +gel_banner("https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)",false, false, true, false, true)

      div.gel_banner-underneath-container

        h2.gel-block__header Positioning of container underneath 50% banner with image (more actions)
    
      div.spacer
      
      +gel_banner("https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)",false, false, true, false, true, true)

      div.gel_banner-underneath-container

        h2.gel-block__header Positioning of container underneath 50% banner with image (links)
    
      div.spacer

      +gel_banner(false, true, false, true)

      div.gel_banner-underneath-container

        h2.gel-block__header Positioning of container underneath 50% banner with video
        
      div.spacer

      +gel_banner("https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)", false, false, false, true)

      div.gel_banner-underneath-container

        h2.gel-block__header Positioning of container underneath large banner with overlay
        
      div.spacer

      +gel_banner("https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)", false, false, false, true, false, true)

      div.gel_banner-underneath-container

        h2.gel-block__header Positioning of container underneath large banner with overlay (link)
        
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
      
      
    
