//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "BUTTON COMPONENT"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    <!-- include link to component here -   +componentName(var) //-->
    
    
    h2
      | Primary Button &amp; Secondary Button

    div#buttonsubmit_auto

      p 
        +gel_button("Button", "gel-button-primary", "small")
        +gel_button("Button", "gel-button-secondary", "small")
      p  
        +gel_button("Button", "gel-button-primary", "small", false, true)
        +gel_button("Button", "gel-button-secondary", "small", false, true)
      p  
        +gel_button("Button", "gel-button-primary", "small", true, false)
        +gel_button("Button", "gel-button-secondary", "small", true, false)
      p  
        +gel_button("Button", "gel-button-primary", "small", false, false, true)
        +gel_button("Button", "gel-button-secondary", "small", false, false, true)
      
      p 
        +gel_button("Button", "gel-button-primary", "medium")
        +gel_button("Button", "gel-button-secondary", "medium")
      p  
        +gel_button("Button", "gel-button-primary", "medium", false, true)
        +gel_button("Button", "gel-button-secondary", "medium", false, true)
      p  
        +gel_button("Button", "gel-button-primary", "medium", true, false)
        +gel_button("Button", "gel-button-secondary", "medium", true, false)
      p  
        +gel_button("Button", "gel-button-primary", "medium", false, false, true)
        +gel_button("Button", "gel-button-secondary", "medium", false, false, true)
    
      p 
        +gel_button("Button", "gel-button-primary", "large")
        +gel_button("Button", "gel-button-secondary", "large")
      p  
        +gel_button("Button", "gel-button-primary", "large", false, true)
        +gel_button("Button", "gel-button-secondary", "large", false, true)
      p  
        +gel_button("Button", "gel-button-primary", "large", true, false)
        +gel_button("Button", "gel-button-secondary", "large", true, false)
      p  
        +gel_button("Button", "gel-button-primary", "large", false, false, true)
        +gel_button("Button", "gel-button-secondary", "large", false, false, true)

    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
      
      
    
