//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Call Out Box"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body
    h2 Call Out Box
    <!-- start component //-->
    +gel_call_out_box    
    <!-- end component //-->
    h2 Call Out Box Lite
    <!-- start component //-->
    +gel_call_out_box("lite")    
    <!-- end component //-->
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
