//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Catalogue"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body

    h2  
      | Catalogue

    <!-- start component //-->
 

    div#catalogue_auto

      div.container

        +gel_catalogue(5, true)

      div.spacer

      <!-- end component //-->

    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
        tr
          td 13-05-2019
          td 
            a(href="https://dec-ce.atlassian.net/browse/GEL-38")
              | https://dec-ce.atlassian.net/browse/GEL-38
          td Description to go here
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
    script(src='../assets/js/utilities/classToggle.js' type='text/javascript')
    script(src='../assets/js/components/catalogueForm.js' type='text/javascript')
    script(src='../assets/js/components/catalogue.js' type='text/javascript')  
