//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Drawer"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    h2  Drawer
    div#drawer_auto
      mixin gel_drawer_tab_contents()
        +lipsum(2, "words")

      mixin gel_drawer_panel_contents()
        +lipsum(2, "sentences")

      div.gel-eg-stage

        +gel_drawer
    
    div#drawer_auto1
      mixin gel_drawer_tab_contents()
        +lipsum(2, "words")

      mixin gel_drawer_panel_contents()
        +lipsum(2, "sentences")

      div.gel-eg-stage

        +gel_drawer 
        
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
    script(src='../assets/js/components/keyCodes.js' type='text/javascript')
    script(src='../assets/js/components/ariaToggler.js' type='text/javascript')
    script(src='../assets/js/components/classManipulator.js' type='text/javascript')
    script(src='../assets/js/components/drawer.js'  type='text/javascript')
      
      
    
