//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Event Calendar"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body

    h2  
      | Event Calendar

    <!-- start component //-->
 

    div#event-calendar
      h3
        | With Border (For home page)

      div.container
      
        div.gel-highlight-features.row

          div.gel-highlight-feature-panel.gel-highlight-panels__variation.gel-match-height.col-md

            +event_calendar(true)
      h3
        | Without Border (For section pages)

      div.container

        div.row

          +event_calendar

      div.spacer

      <!-- end component //-->

    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
        tr
          td 18-06-2019
          td 
            a(href="https://dec-ce.atlassian.net/browse/GEL-56")
              | https://dec-ce.atlassian.net/browse/GEL-56
          td Description to go here
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
