//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Expanded nav"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    h2  Expanded nav
    div#expandedNav_auto

      section
        div.container.expandedNav_default
          h2.gel-block__header
            | Expanded Nav default

          +gel_expanded_nav(5)

      section
        div.container.expandedNav_default
          h2.gel-block__header
            | Expanded Nav with description hidden on mobile

          +gel_expanded_nav(11, {hide_mobile_description: true})
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
      
      
    
