//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Featured Teaser Component"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body
    
    h1
      |Featured Teaser
    +gel_featured_teaser()
    hr
      
    h1
      |Featured Teaser variant
    +gel_featured_teaser(true)
    hr
    
    h1
      |Featured Teaser without Image
    +gel_featured_teaser(true, true)
    hr
      
    h1
      |Featured Teaser with Button
    +gel_featured_teaser(true, false, true)
    hr
      
    h1
      |Featured Teasers with Filter
    hr
      
    div.container.gel_featured_teaser_container
      .row
        .col-lg-12
          form
            div.gel-form.gel-form--inline.no-gutters(id="frm01" action="" method="GET")
              fieldset
                legend.show-on-sr Catalogue sort options
                +gel_select("Category", 8)
                +gel_select("News from", 6)
                input(type="submit" id="sub01" name="sub01" value="Filter" class="btn gel-button gel-button-primary gel-button-small")
      .row
        .col-sm-12.col-md-6
          +gel_featured_teaser(true)
        .col-sm-12.col-md-6
          +gel_featured_teaser(true)
        .col-sm-12.col-md-6
          +gel_featured_teaser(true)
        .col-sm-12.col-md-6
          +gel_featured_teaser(true)
        .col-sm-12.col-md-6
          +gel_featured_teaser(true)
        .col-sm-12.col-md-6
          +gel_featured_teaser(true)
      
    div.container
      .gel_featured_teaser_pagination
        +gel_pagination_with_higher_numbers(11, "left")
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
      
      
    
