//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Grid"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body

    style.
      .col-12 { position: relative; padding: 20px; color: #FFF; }
      .col-12:before {
        position: absolute;
        content: '';
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
        z-index: -1;
        background: #607D8B;
        border: 1px solid #000;
      }

      .col-md-3:before { background: rgba(0, 0, 0, 0.2); }
      .col-md-4:before { background: rgba(0, 0, 0, 0.4); }
      .col-md-6:before { background: rgba(0, 0, 0, 0.6); }
      .col-md-8:before { background: rgba(0, 0, 0, 0.7); }


    h2 Grid
    p NOTE: The column control component in AEM will be based off the bootstrap grid system.
    <!-- start component //-->
    
    .container
      h5 Columns: 50% / 50%
      .row
        .col-12.col-md-6
          | Column 1/2
        .col-12.col-md-6
          | Column 1/2

      hr

      h5 Columns: 33% / 33% / 33%
      .row
        .col-12.col-md-4
          | Column 1/3
        .col-12.col-md-4
          | Column 1/3
        .col-12.col-md-4
          | Column 1/3

      hr

      h5 Columns: 33% / 66%
      .row
        .col-12.col-md-4
          | Column 1/3
        .col-12.col-md-8
          | Column 2/3

      hr

      h5 Columns: 25% / 25% / 25% / 25%
      .row
        .col-12.col-md-3
          | Column 1/4
        .col-12.col-md-3
          | Column 1/4
        .col-12.col-md-3
          | Column 1/4
        .col-12.col-md-3
          | Column 1/4

      hr

      h5 Columns: 25% / 50% / 25%
      .row
        .col-12.col-md-3
          | Column 1/4
        .col-12.col-md-6
          | Column 2/4
        .col-12.col-md-3
          | Column 1/4
      
      hr

      h5 Columns: 50% / 25% /25%
      .row
        .col-12.col-md-6
          | Column 2/4
        .col-12.col-md-3
          | Column 1/4
        .col-12.col-md-3
          | Column 1/4

      hr

      h5 Columns: 25% / 25% / 50%
      .row
        .col-12.col-md-3
          | Column 1/4
        .col-12.col-md-3
          | Column 1/4
        .col-12.col-md-6
          | Column 2/4
    
    <!-- end component //-->

    footer
    hr

    h2 Record of change decisions

    table
      thead
        tr
          th Change date
          th Jira links
          th Change details

      tbody


    // global footer scripts include JQuery
    include ../../pug/components/_global-scripts.pug
    script(src='../assets/js/constants.js' type='text/javascript')
    script(src='../assets/js/components/guidedJourney.js' type='text/javascript')
    // include any component specific scripts here