//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Guided Journey"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body
    h2 Guided Journey
    <!-- start component //-->
    +gel_guided-journey()
    <!-- end component //-->
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody


    // global footer scripts include JQuery
    include ../../pug/components/_global-scripts.pug
    script(src='../assets/js/constants.js' type='text/javascript')
    script(src='../assets/js/components/guidedJourney.js' type='text/javascript')
    // include any component specific scripts here 