//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Highlight Panel - News"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body

    h2  
      | News feature

    <!-- start component //-->
 

    div#news-feature
      h3
        | With Border (For home page)

      div.container
      
        div.gel-highlight-features.row

          div.gel-highlight-feature-panel.gel-highlight-panels__variation.gel-match-height.col-md-6

            +gel_highlight_panel('gel-highlight-panels__variation', 1, '','Secretary\'s update',1)
      
      br

      h3
        | (For news page) - with and without image  

      div.container
      
        div.gel-highlight-features.row

          div.gel-highlight-feature-panel.gel-highlight-panels__variation.gel-match-height.col-md-6

            +gel_highlight_panel('gel-highlight-panels__variation', 1, '','Student voice',1)

          div.gel-highlight-feature-panel.gel-highlight-panels__variation.gel-match-height.col-md-6

            +gel_highlight_panel('gel-highlight-panels__variation', 0, '','Latest news',1)


      div.spacer

      <!-- end component //-->

    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
        tr
          td 18-06-2019
          td 
            a(href="https://dec-ce.atlassian.net/browse/GEL-11")
              | https://dec-ce.atlassian.net/browse/GEL-111
          td Description to go here
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
