//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Iframe"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body
    
    h2 Iframe Video - no caption
    <!-- start component //-->  
    +gel_iframe("https://player.vimeo.com/video/188598071?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0", "NSW Department of Education", "width:100%; height:500px;")
    <!-- end component //-->
    
    h2 Iframe Video - with caption
    <!-- start component //-->  
    +gel_iframe("https://player.vimeo.com/video/188598071?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0", "NSW Department of Education", "width:100%; height:500px;", true)
    <!-- end component //-->
    
    h2 Iframe Video - responsive
    <!-- start component //-->    
    +gel_iframe("https://www.youtube.com/embed/Q3YYwIsMHzw?rel=0", "Earth at Night", "", true, "16by9", true)
    <!-- end component //-->
    
    h2 Iframe Map
    <!-- start component //-->  
    +gel_iframe("https://www.google.com/maps/embed/v1/place?key=AIzaSyAuf6h1hiXPt-lQpSZPEgij_eY8bs8cq5M&q=105%20Phillip%20Street,%20Parramatta%20NSW", "School Map", "width:100%; height:400px;", true)
    <!-- end component //-->
    
    h2 Iframe Calendar
    <!-- start component //-->  
    +gel_iframe("https://www.google.com/calendar/embed?title=&showDate=0&showPrint=0&showTabs=0&showTz=0&mode=AGENDA&height=734&wkst=1&bgcolor=%23ffffff&src=tweedriverhs%40gmail.com&color=%2329527A&src=pbj7eqb43a5u4tbb5p24rsnqrk%40group.calendar.google.com&color=%2323724d&ctz=Australia%2FSydney", "School Calendar", "width:100%; height:650px;", true)
    <!-- end component //-->
    
    h2 Iframe Error Mesage
    <!-- start component //-->    
    +gel_iframe_error   
    <!-- end component //-->
    
    h2 Freeform Script
    <!-- start component //-->    
    +gel_freeform_script
    <!-- end component //-->
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
