//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Link columns"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  // include link to css for component here 

  body

    h2 
      | Link columns

    <!-- start component //-->

    div#linkColumns_auto

      h3
        | One column example

      +gel_link_columns(5, 1)    

      h3
        | Two column example

      +gel_link_columns(12, 2)

      h3
        | Three col / Condensed example

      +gel_link_columns(12, 3,true)

      <!-- end component //-->

    footer 
    
    hr
      
    h2 Record of change decisions
          
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
        tr
          td 01-05-2019
          td 
            a(href="https://dec-ce.atlassian.net/browse/GEL-30")
              | https://dec-ce.atlassian.net/browse/GEL-30
          td 
            | Updated the link_columns.pug, link_columns.scss. 

      
    // global footer scripts include JQuery 
    include ../../pug/components/_global-scripts.pug 
    // include any component specific scripts here  
    // script(src='../assets/js/components/externalLinkTagger.js' type='text/javascript')
      
      
    
