//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Link columns with description"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  // include link to css for component here 

  body

    h1 
      | Link columns with description

    <!-- start component //-->

    div#linkColumns_auto

      div.container
        div.gel-link-columns-desc

         +gel_link_columns-desc(10, 3,true)


      <!-- end component //-->

    footer 
    
    hr
      
    h2 Record of change decisions
          
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
        tr
          td 31-07-2019
          td 
            a(href="https://dec-ce.atlassian.net/browse/GEL-47")
              | https://dec-ce.atlassian.net/browse/GEL-30
          td 
            | Updated the link-columns-description.pug, link-columns-description.scss. 

      
    // global footer scripts include JQuery 
    include ../../pug/components/_global-scripts.pug 
    // include any component specific scripts here  
    // script(src='../assets/js/components/externalLinkTagger.js' type='text/javascript')
      
      
    
