//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Megamenu Mobile"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body
    div#gel-mobile-nav-page
      div.gel-mobile-nav-indicator.d-lg-none.d-xl-none(aria-label="Megamenu mobile nav")
        a#menu-open.b-mobile-nav--menu-btn.left.gel-mobile-nav-indicator_icon(href='#gel-mnav',role='button', tabindex='0',aria-label="Click to open Megamenu mobile nav")
    main.gel-main
          h2
            | Megamenu Mobile
          +gel_meganav_mobile

    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
  include ../../pug/components/_global-scripts.pug
  
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js' type='text/javascript')
  script(src='../assets/js/components/mobileMegaNav.js' type='text/javascript')