//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "News Teaser"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    h2 Event/News/Date related teaser
    
    h4 single one
    +gel_news_teaser
    
    hr
    
    h4 multiple 
    div#newsteasers_auto

      mixin gel_flex_grid_mixin
        +gel_news_teaser
      +gel_flex_grid(3, "simple")
    
    hr
      
    h4 multiple with category
    div.container
      div.row(id="newsteasers_auto")
        div.col-lg-4.d-none.d-lg-block
          h2.black News categories
          +gel_category_list(7)
          
        div.col-lg-8
          //--- Form
          form
            div.gel-form.gel-form--inline.no-gutters(id="frm01" action="" method="GET")
              fieldset
                legend.show-on-sr News categories
                +gel_select("Select Category", 8, 1, 1)
          
          mixin gel_flex_grid_mixin
            +gel_news_teaser
          +gel_flex_grid(3, "simple")
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
      
      
    
