//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Pagination"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body
    h2 Pagination
    <!-- start component //-->  
    +gel_pagination_with_higher_numbers(1, "left")
    +gel_pagination_with_higher_numbers(4, "left")
    +gel_pagination_with_higher_numbers(5, "left")
    +gel_pagination_with_higher_numbers(11, "left")
    +gel_pagination_with_higher_numbers(12, "left")
    +gel_pagination_with_higher_numbers(15, "left")  
    <!-- end component //-->
    h2 Pagination for AEM Integration
    p Note: Active/disabled state, page numbers are to be dynamically added in AEM
    <!-- start component //-->  
    +gel_pagination_with_higher_numbers(1, "left", true)
    +gel_pagination_with_higher_numbers(5, "left", true)
    <!-- end component //-->
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
