//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Results table"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body

    h2.force-margin-bottom
      | Results Table

    div#resultsTable_auto

      div.container

          +gel_results_table("noSecure", 3 , 0 , true)

      div.container
          +gel_results_table("noSecure", 0 , 5)

      div.container

          +gel_results_table("secure", 1 , 0 , true)



    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
      
      
    
