//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Secondary Anchor box"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
 

  body
    h2  Secondary Index Anchor box
    <!-- start component //-->
    
    <!-- include link to component here -   +componentName(var) //-->
    
    <!-- end component //-->
    <!-- Dummy content here for the secondary index.js to work //-->

            div.container(data-gel-anchor-box)

              h2 Background
              p
                | The eFPT Plan is pre-populated with substantive (permanent) positions in your school. This doesn&rsquo;t include entitlement where there are no permanent positions &ndash; you will need to add this entitlement. The SBAR is also pre-populated.
              h3 Before you start
              p
                | Either have a hard copy of your SBAR available or operate from two screens. Display the SBAR on one and use the other to update the eFPT. This will make it easier to compare and verify the positions.
              h2 Instructions
              div.gel-secondary-index-parent
                h3.gel-secondary-index-level1 Verify the positions to balance to the SBAR
                p.gel-secondary-index-level2  1. Either have a hard copy of your SBAR available or operate from two screens. Display the SBAR on one and use the other to update the eFPT. This will make it easier to compare and verify the positions.
                p
                  | You need to balance the Plan&nbsp;FTE to the SBAR&nbsp;FTE. If the entitlements differ, you&rsquo;ll need to add position FTEs to balance these entitlements.
                p
                 
                p.gel-secondary-index-level2
                  | 2. Select Entitlement Teaching Variance to open the Entitlement Teaching Summary.
                p
                  | The summary includes additional information such as SBAR FTE and Cost vs the Plan FTE and Cost, as well as the Base and Equity&nbsp;&nbsp;entitlements.
                p
                 
                p.gel-secondary-index-level2 3. Select Entitlement Teaching Summary to close the summary.
                p.gel-secondary-index-level2 
                  | 4. Under Teaching Staff, select Position Description then select Sort Ascending. This will help you identify the positions.
                p
                 
                p.gel-secondary-index-level2  5. Review the SBAR. Take note of positions and FTE.
                p
                 
                #new_content_container_655246.gel-call-out-box
                  p
                    | Note: A key component of the SBAR is the staff entitlement funding on page 8. It includes the Total Teacher Entitlement and the Total SASS Entitlement that need to be balanced.
                p.gel-secondary-index-level2 6. Compare the SBAR to the eFPT.
                p
                  | It should be easy to find each position, as you previously sorted the list by Position Description.
                p Use this method to verify all positions.
                p
              div.gel-secondary-index-parent               
                h3.gel-secondary-index-level1 Add a Base Entitlement
                p
                  | These steps show you how to add classroom teachers entitlement in eFPT to balance to the SBAR.
                p.gel-secondary-index-level2  7. Select Add Entry.
                p
                 
                p.gel-secondary-index-level2  8. Select Position Description and enter the position.
                p.gel-secondary-index-level2  9. Select the Position from the drop-down list.
                p
                  
                #new_content_container_655267.gel-call-out-box
                  p
                    | Tip: This field uses predictive text. If you type &lsquo;class,&rsquo; a list of all the positions with the word &lsquo;class&rsquo; will appear. For example, &lsquo;classroom teacher.&rsquo;
                p.gel-secondary-index-level2  10. Change the Position FTE, Start Date and End Date as required.
                p
    <!-- Dummy content ends here //-->    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    // global footer scripts include JQuery
    include ../../pug/components/_global-scripts.pug 
    script(src='../assets/js/components/secondaryAnchorBox.js' type='text/javascript')
    // include any component specific scripts here 
      
      
    
