
//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Section Footer"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body
    h2 Section Footer Variation 1 -  with 2 Link Columns
    <!-- start component //-->
    footer
      div.gel-section-footer(aria-label="Section Footer")
        div.gel-section-footer__variation-1
          div.container
            div.row
              div.col-12.col-md-4
                +gel_social_media_icons_list(4, ["facebook","linkedin","twitter","instagram"],"NSW DoE profile on ","Say Hello")
                +gel_acknowledgement
              div.col-12.col-md-8
                h3 Section Footer Links Title
                +gel_link_columns(12,2,true)
    <!-- end component //-->

    h2 Section Footer Variation 2 -  with 3 Link Columns
    <!-- start component //-->
    footer
      div.gel-section-footer(aria-label="Section Footer")
        div.gel-section-footer__variation-2
          div.container
            div.row
              div.col-12
                h3 Section Footer Links Title
                +gel_link_columns(12,3,true)
          +gel_acknowledgement
    <!-- end component //-->

    h2 Section Footer Variation 3 -  with 1 Link Column
    <!-- start component //-->
    footer
      div.gel-section-footer(aria-label="Section Footer")
        div.gel-section-footer__variation-3
          div.container
            div.row
              div.col-12.col-md-4
                  h3 Section Footer Links Title
                  +gel_link_columns(4,1,true)
              div.col-12.col-md-8
                  +gel_social_media_icons_list(3, ["facebook","twitter","instagram"],"NSW DoE profile on ","Follow Us")
          +gel_acknowledgement
    <!-- end component //-->
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
