//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Side Navigation"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    
    .container
      .row
        .col-md-4
          h2  Side Navigation
          
          aside.gel-lhs(aria-label="sideNavigation")

            //- SIDE NAVIGATION -//

            div.spacer

            hr#sideNavigation

            div#sidenavigation_auto

              +gel_side_navigation
            
              
        .col-md-8
          h2 content components
          
    
    
    
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
    script(src='../assets/js/components/sideNavigation.js' type='text/javascript')
      
      
    
