//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Social from microservice"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body
    h2 Social from microservice
    .container
      <!-- start component //-->
      +gel_social_from_microservice(20, 20, 100, "false", "NSWDepartmentofEducation", "true","NSWEducation" )
      <!-- end component //-->

    footer

    include ../../pug/components/_global-scripts.pug 
    script(src='../assets/js/components/socialMedia.js' type='text/javascript')
    hr

    h2 Record of change decisions

    table
      thead
        tr
          th Change date
          th Jira links
          th Change details

      tbody
