//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Table of content"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body

    h2  
      | Table of contents

    <!-- start component //-->
  
    div#tableOfContents_auto

      div.force-margin-bottom
        h3
          | With border
        +gel_toc(7, true)

      div.force-margin-bottom
        h3
          | No border
        +gel_toc(7)

      <!-- end component //-->

    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
        tr
          td 03-05-2019
          td 
            a(href="https://dec-ce.atlassian.net/browse/GEL-35")
              | https://dec-ce.atlassian.net/browse/GEL-35
          td Description to go here
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
    
     
      
    
