//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "TABLE COMPONENT"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body

    <!-- begin component /-->
    h2
      | Less than 5 rows
    +gel_table(3,4)
    
    div.spacer
    
    h2
      | More than 5 rows
    +gel_table(3,8)
    
    div.spacer
    
    h2
      | Bordered Table
    +gel_table(3,4, true)
    
    div.spacer
    
    h2
      | Header data in the Y column
    +gel_table(3,4, true, true)
    
    div.spacer
    
    <!-- end component //-->
    
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
      
      
    
