//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Tabs Component"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  // include link to css for component here 

  body
    main.gel-main
      div.container
        section.gel-main-content 
          div.spacer
          h2  
            | Tabs

          <!-- include link to component here -   +componentName(var) //-->
    
          +gel_tabs(4) 
          

    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details

      tbody
        tr
          td 04-04-2019
          td 
            a(href="https://dec-ce.atlassian.net/browse/GEL-10")
              | https://dec-ce.atlassian.net/browse/GEL-10
          td Updated the tabs.pug, tabs.scss, includes/tabs.js and and copy.js to include the "jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js"
          
      
    // global footer scripts include JQuery
    include ../../pug/components/_global-scripts.pug 
    // include any component specific scripts here 
    script(src='../assets/js/components/externalLinkTagger.js' type='text/javascript')
    script(src='../assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js' type='text/javascript')
     
      
    
