//--- *************** ---//
//--- CORPORATE LOGO ---//
//--- *************** ---//

//- Displays the DoE logo encased in a link.
//- If you need to change the Corporate Name variables, they can be found in _variables.pug

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gel_corporate_logo(true)
  | @param reversed (boolean) set to true to use the white logo

mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_corporate_logo(reversed)

  if reversed
    -var url = "../assets/images/doe-logo-white.png"
  else
    -var url = "../assets/images/doe-logo-black.png"

  div.gel-corporate-logo
    a.gel-corporate-logo__link(href="https://education.nsw.gov.au", title=corporateName)
      img.gel-corporate-logo__image(src=url, alt=corporateName + ' logo')
