//--- *************** ---//
//--- GLOBAL FOOTER ---//
//--- *************** ---//

//- A container that serves global footer content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +global_footer()
  | @param {int} columns - number of columns (max 4)

mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------

mixin gel_acknowledgement

  div.gel-acknowledgement
    div.container
      p
        |We acknowledge the homelands of all Aboriginal people and pay our respect to Country.

mixin global_footer(columns) 

  div.gel-global-footer(aria-label="Global Footer")
    //-- +gel_acknowledgement
    
    h1.show-on-sr
      | #{corporateName}

    div.container.gel-remove-external-link
      div.row
        div.col-12.col-md-4.gel-global-footer__logo
          +gel_corporate_logo
        div.col-12.col-md-8.gel-global-footer__links
          +gel_link_columns(8, columns, true)
