//-head(data-theme='common', data-site-url="teach.nsw.edu.au", data-revision=revision, data-site-name="Site Name")
head(data-theme='common', data-revision=revision)

  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=yes')
  
  meta(property="og:description" content="Home Page")
  meta(name="doe.security.public" content="yes")
  meta(name="doe.orgunit" content="Teaching and learning")
  meta(name="robots" content="all")
  meta(name="title" content="")
  meta(name="description" content="")
  meta(property="og:title" content="")
  meta(property="og:type" content="")
  meta(property="og:image" content="")
  meta(property="og:url" content="")
  
  meta(name="dcterms.identifier" content="")
  meta(name="dcterms.creator" content="")
  meta(name="dcterms.publisher" content="")
  meta(name="dcterms.rights" content="")
  meta(name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00")
  meta(name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00")
  meta(name="dcterms.subject" content="")
  meta(name="dcterms.language" content="dcterms.RFC5646; en-AU")
  meta(name="dcterms.format" content="dcterms.IMT; jpeg")
  meta(name="dcterms.type" content="text")
  meta(name="dcterms.audience" scheme="" content="All")
  meta(name="dcterms.coverage" content="Australia")
  
  meta(name="AGLSTERMS.accessibility" content="W3C")
  meta(name="AGLSTERMS.protectiveMarking" content="Unclassified")
  meta(name="AGLSTERMS.function" content="")
  meta(name="dcterms.isPartOf" content="")
  meta(name="dcterms.hasPart" content="")
  meta(name="dcterms.relation" content="")

  link(rel="schema.dcterms" href="https://purl.org/dc/terms/")
  link(rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/")
  link(rel="canonical" href="")
  link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
  link(rel="icon" href="/favicon.ico" type="image/x-icon")
      
  link(rel='shortcut icon', href='favicon.ico', type='image/vnd.microsoft.icon')
  link(rel='stylesheet', href='../assets/css/vendor/fontawesome/all.css')
  link(rel='stylesheet', href='../assets/css/vendor/fontawesome-pro/all.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:300,400,600')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css')
  link(rel='stylesheet', href='../assets/css/vendor/bootstrap/bootstrap.min.css')
  link(rel='stylesheet',  href='../assets/css/core.css?r='+revision,  media='screen')
  link(rel='stylesheet', href='../assets/css/print.css?r='+revision, media='print')


  title #{pageName} | #{siteName}

  <!--[if lt IE 9]>
  <script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
  <script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
  <![endif]-->
