script(src='../assets/js/vendor/jquery.js' type='text/javascript')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js' type='text/javascript')
script(src='../assets/js/vendor/moment/moment.js' type='text/javascript')
script(src='//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js' type='text/javascript' )
script(src='../assets/js/vendor/bootstrap/bootstrap.bundle.min.js' type='text/javascript')
script(src='../assets/js/vendor/rousan/es6-promise-shim.js' type='text/javascript')
script(src='../assets/js/vendor/whatwg-fetch/fetch.js')