//--- *************** ---//
//--- A to Z LIST ---//
//--- *************** ---//

//- Pattern for an A to Z list.

//-     | Default
//-   +gel_a_z_list(2,false,false)

//-     | With Description
//-   +gel_a_z_list(2,true,false)

//-     | With Data
//-   +gel_a_z_list(2,false,true)

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} number - is the number of letters (number)
  | //- @param {boolean} paragraph - is to switch on/off paragraph format. (true/false)
  | //- @param {boolean} category - is to switch on/off the category column. (true/false)
  | +gel_a_z_list(number,paragraph,category)

mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------

mixin gel_a_z_list_content(paragraph,category)
  li
    div.gel-a-z-list__content
      if paragraph == true
       a(href="").gel-a-z-list__content__heading
        +lipsum(2, "words")
      else
       a(href="").gel-a-z-list__content__heading
        +lipsum(2, "words")
      if category == true
       div.gel-a-z-list__column
        p
         +lipsum(2, "words")
      if paragraph == true
        p
         +lipsum(4, "sentences")

mixin gel_a_z_list_letter(number,paragraph,category)

  if number == "1"
      -var letterID = "one"
  else
      -var letterID = number
  li
    span(id=letterID).gel-a-z-list__letter=number
  if category == true
    ul.gel-a-z-list__column__ul
      +gel_a_z_list_content(paragraph,category)
      +gel_a_z_list_content(paragraph,category)
      +gel_a_z_list_content(paragraph,category)
  else
    ul
      +gel_a_z_list_content(paragraph,category)
      +gel_a_z_list_content(paragraph,category)
      +gel_a_z_list_content(paragraph,category)

//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_a_z_list(num,paragraph,category)
  -var count = 0
  each val in ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]
    -var currentLetter = val
    if count < num
     if category == true
      ol.gel-a-z-list.gel-a-z-list__column__ol
          +gel_a_z_list_letter(currentLetter,paragraph,category)
      -count++
     else
      ol.gel-a-z-list
          +gel_a_z_list_letter(currentLetter,paragraph,category)
      -count++
