//--- *************** ---//
//--- Acknowledgment ---//
//--- *************** ---//

//- A paragraph that serves an introductory content. The text is slightly larger than standard content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gel_ack

mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_acknowledgment
  
  div.gel-acknowledgment
    p
      +lipsum(2, "sentences")