//--- *************** ---//
//--- RIBBON    ---//
//--- *************** ---//

//- A thin box which displays a simple notice with a link.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {object} icon - Maintenance Icon image
  | +gel_alert_ribbon

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_alert_ribbon(icon)

  aside.gel-alert-ribbon.alert(aria-label="Emergency notice")
    .gel-alert-ribbon__message
      span.gel-alert-ribbon__icon(aria-hidden="true")
      span.show-on-sr
        | Alert
      a.alert-link(href="#")
        p
          +lipsum(3, "words")
      +lipsum(10, "words")
