//--- ************************ ---//
//--- Anchor Box ---//
//--- ************************ ---//

//- A list of in-page anchors presented in a box

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} num - number of links
  | +gel_anchor_box(num)

mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_anchor_box(num)

  nav.gel-anchor-box

    h2.gel-anchor-box__title
      | On this page

    +gel_link_list(num)
