//--- ************************ ---//
//--- BANNER ---//
//--- ************************ ---//

//- Banner image pattern.
//- There are two types: large with content + CTA &amp; small narrow image banner only.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0 / Updated: 1.0.1
  | //- @param {object} image_src - banner image width and height
  | //- @param {boolean} small_banner - True if small banner otherwise big banner
  | +gel_banner(image_src, small_banner)

mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_banner(image_src, video_src, small_banner, fifty_fifty, overlay, more_action, text_links)

  - var additionalBannerClass =''
  - var screenTitle ='Featured page'
  - var fiftyFiftyClass = ''
  - var fiftyFiftyAdditionalClass = ''
  - var overlayClass = ''
  
  if small_banner
    - var additionalBannerClass = 'gel-banner-container--small'
    - var screenTitle =''
  
  if fifty_fifty
    - var fiftyFiftyClass = 'fifty_fifty_warpper row'
    - var fiftyFiftyAdditionalClass ='col-lg-6 order-lg-first gel-banner__content_fifty'
    
  if overlay
    - var overlayClass = 'large-overlay'

  aside.gel-banner-container(class=additionalBannerClass aria-label="banner")

    div
      h2.show-on-sr
        | #{screenTitle}
      div.gel-banner(class=fiftyFiftyClass)
        if fifty_fifty
          if image_src
            div.col-lg-6.order-lg-last.order-md-first
              .media-container.image_container
                img.img-fluid(src=image_src alt="placeholder banner")
          if video_src
            div.col-lg-6.order-lg-last.order-md-first
              .media-container.video_container
                +gel_iframe("https://www.youtube.com/embed/Q3YYwIsMHzw?rel=0", "Earth at Night", "", false, "16by9", true)
        else
          img.img-fluid(src=image_src alt="placeholder banner")
            
        if !small_banner

          div.gel-banner__content(class=fiftyFiftyAdditionalClass class=overlayClass tabindex="0")
            div.banner__content-container
              h3.gel-banner__content__title
                +lipsum(3, "words", true)

              p
                +lipsum(2, "sentences")
              
              if !text_links
                div
                  a.btn.btn-banner.gel-button.gel-button-medium.gel-button-primary(href="#" title="banner link")
                    +lipsum(2, "words")
                if more_action
                  div
                    a.btn.btn-banner.gel-button.gel-button-medium.gel-button-secondary(href="#" title="banner link")
                      +lipsum(2, "words") 
            
              else
                div
                  a(href="#" title="banner link")
                    +lipsum(2, "words")
                if more_action
                  div
                    a(href="https://www.google.com" title="banner link")
                      +lipsum(2, "words")

        
        
        
        
        
        
        
