mixin documentation
  | //- Added: 1.0.0
  | +gel_blockquote


mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_blockquote(quote)
  - var withQuote =''

  if quote
    - var withQuote = 'gel-blockquote--with-quotes'
  div(class=withQuote)
    blockquote
      | We are committed to building a more inclusive education system, one where all students feel welcomed and are learning to their fullest capability.
      if quote
        br
        strong
          | -Eddie Woo
