mixin documentation
  | //- Added: 1.0.0
  | +gel_blockquote


mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_breadcrumbs

  .gel_breadcrumbs
    blockquote
      p
        | There is now an urgent challenge to promote high quality teaching in every Australian classroom, to ensure that every teacher is doing what the best teachers already do, and to raise the status of teaching as an advanced, knowledge-based profession. Initial teacher education has a central and crucial role to play in addressing this challenge.

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int}     num      - number of links to display
  | //- @param {boolean} enhanced - added JS functionality to force breadcrumbs on one line
  | //- @param {boolean} homeicon - choose to show the home icon or not
  | +gel_breadcrumbs(6, true, false)

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------

mixin breadcrumbs_link(words)
  li.gel-breadcrumbs__item.breadcrumb-item
    a.gel-breadcrumbs__item-link(href="#")
      +lipsum(words, "words")


mixin breadcrumbs_current(words)
  li.gel-breadcrumbs__item.breadcrumb-item.active(aria-current="page")
    span.gel-breadcrumbs__item-active
      +lipsum(words, "words")


mixin breadcrumbs_mobile(homeicon)

  div.gel-breadcrumbs-visibility.d-md-none
    if homeicon
      a.gel-breadcrumbs__link(title="Go to NSW Department of Education homepage", href="#")
        span.gel-breadcrumbs__link-icon(aria-hidden="true")
        span.gel-breadcrumbs__item-home-icon.gel-home-mobile-breadcrumb(aria-hidden="true")
        span.show-on-sr home

    else
      a.gel-breadcrumbs__link(title="Go back to parent page", href="#")
        span.gel-breadcrumbs__link-icon(aria-hidden="true")
        +lipsum(6, "words")




//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_breadcrumbs(amount,homeicon)

  - var num = 1
  - var words = "7"


      nav(class="gel-breadcrumbs " aria-label="breadcrumb")
      

        +breadcrumbs_mobile(homeicon)
        div.gel-breadcrumbs-visibility.d-none.d-md-block
          ol.gel-breadcrumbs__list.breadcrumb
            while num < amount
      
              //- ACTIVATE THE BELOW CODE TO USE HOME PAGE ICON AS BREADCRUMB
              if num == 1
                //- show home icon
                li.gel-breadcrumbs__item-home.breadcrumb-item
                   a.gel-breadcrumbs__item-link(href="#" title="Go to NSW Department of Education homepage")
                     span.gel-breadcrumbs__item-home-icon(aria-hidden="true")
                     span.show-on-sr
                       | Home
              else
                +breadcrumbs_link(words)
              - num++
            +breadcrumbs_current(words)
