//--- ************************ ---//
//--- BUTTON SUBMIT        ---//
//--- ************************ ---//

//- A generic button design to be part of a form

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {string} button_wording - wording to be displayed on button
  | //- @param {string} button_class - additional class for button
  | //- @param {string} button_size - size definition (options: mini, small, (default), large)

mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
//---------------------------------------------------------
  
mixin gel_button(button_wording, button_class, button_size, l_icon, r_icon, icon_only)
  - button_wording = button_wording || "Submit"
  if button_size
    -button_size = "gel-button-" + button_size
  else
    -button_size = "gel-button"
  
  if l_icon
    -l_icon = "gel-button-l-icon"
  if r_icon
    -r_icon = "gel-button-r-icon" 
    
  if icon_only
    -button_icon = "gel-button-icon-only"
    -button_text = ""
  else
    -button_icon= ""
    -button_text = button_wording
    
  button.btn.gel-button(class=button_icon class=button_class class=button_size class=l_icon class=r_icon type="submit" value=button_wording)= button_text
