//--- *************** ---//
//--- CATALOGUE ---//
//--- *************** ---//

//- A component which displays a list of catalogue item previews in either a grid or vertical list view. Options to remove LHS Category navigation

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} num - number of items to display
  | //- @param {boolean} category_nav - show category navigation if true, and display a 3 column grid. Otherwise display a 4 column grid.
  | +gel_catalogue(12, true)


mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_catalogue(num, category_nav)

  div.row.gel-catalogue

    if (category_nav != true)
      - var columns = "4"
      - var grid_columns = 4
    else
      //--- Show Category List
      - var columns = "3"
      - var grid_columns = 3

      nav.col-lg-4.d-none.d-lg-block

        h2.black Browse by 
        //--- .uk-h5.uk-margin-bottom.uk-margin-small-top

        +gel_category_list(7)

    //--- Catalogue Listing

    div(class="col col-lg-8")

      //--- Form
      form
        div.gel-form.gel-form--inline.col-lg-10.no-gutters(id="frm01" action="" method="GET")
          fieldset
            legend.show-on-sr Catalogue sort options
            +gel_select("Browse by", 8, 1, 1)
            +gel_select("Sort by", 6)
            input(type="submit" id="sub01" name="sub01" value="Filter" class="btn gel-button gel-button-primary gel-button-small")
            p
              +lipsum(3, "words")


      //--- View control icons
      nav.gel-vc-icons
        h3.show-on-sr
          | Visual control icons
        button(aria-label="View items in a grid" title="View items in a grid" class="gel-vc-btn fa-th-icon active" data-gel-class-toggle="gel-flex-grid--columns" data-gel-class-toggle-target=".gel-flex-grid" data-gel-class-toggle-disable="disable")
          span.invisible= "grid view"
        button(aria-label="View items in a list" title="View items in a list" class="gel-vc-btn fa-list-icon" data-gel-class-toggle="gel-flex-grid--columns" data-gel-class-toggle-target=".gel-flex-grid" data-gel-class-toggle-disable="disable")
          span.invisible= "list view"

      hr.mt-1.mb0
      
      //--- Catalogue List
      mixin gel_flex_grid_mixin
        +gel_catalogue_teaser("default")

      div(aria-live="polite")  
        +gel_flex_grid(num, "columns", grid_columns)

      //--- Pagination
      +gel_pagination(5, "center")
