//--- *************** ---//
//--- CATEGORY LIST ---//
//--- *************** ---//

//- A list of links with simple styling

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} num - number of pages to display in the pagination
  | +gel_category_list(7)


mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_category_list(num)

  ul.gel-category-list

    - var count = 0

     li
        a.active(href="0")
          +lipsum(1, "words")

    while count < num - 1
      li
        a(href="0")
          +lipsum(1, "words")
      - count++
