//--- *************** ---//
//--- Content Container ---//
//--- *************** ---//

//- The Content Container is an article section in the page that provides a detailed information about a topic.
//- It may contain heading, image, paragraph, items list and managed in a WYSIWYG editor.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gel_content_container

mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_content_container
  
  article.gel-content-container

    h2.gel-lead-paragraph
      +lipsum(5, "words")

    p
      +lipsum(4, "sentences")

    p
      +lipsum(4, "sentences")

    +Image

    mixin list_item(num)
      - var index = 0

      while index < num

        li
          +lipsum(2, "sentences")

        - index++

    ul
      +list_item(3)
