//--- ************************ ---//
//--- Download Box ---//
//--- ************************ ---//

//- A download box with a list of download files, filetype and size.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gel_download_box

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------

mixin gel_download_link(docType, docSize)
  - var gelFileIcon = "gel-icon"
  if docType == "doc"
    - gelFileIcon += "-doc"
  else if docType == "pdf"
    - gelFileIcon += "-pdf"
  else 
    - gelFileIcon += "-file"
  li
    span(class=gelFileIcon aria-hidden="true")
    a.gel-download-box-links--bold(href="https://google.com" target="_blank" download)
      +lipsum(7, "words")
      span(class="gel-doc-properties")
        | (
        = docType
        | 
        = docSize  
        | )

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_download_box

  div.gel-download-box.gel-remove-external-link
    h2.gel-download-box-heading
      |Downloads
    div.gel-download-box-links-container
      ul
        +gel_download_link("txt", "789 kb")
        +gel_download_link("doc", "123 kb")
        +gel_download_link("pdf", "456 kb")
