//--- *************** ---//
//--- FEATURED TEASER ---//
//--- *************** ---//

//- A stand-out teaser for a news article

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gel_featured_teaser

mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_featured_teaser(variant, witoutImg, withButton)
  - var componentClassOne = "gel-featured-teaser"
  - var componentClassTwo = "gel-featured-teaser__content"
  - var componentClassThree = "gel-featured-teaser__date"
  
  if variant
    - componentClassOne = "gel-featured-teaser_variant"
    - componentClassTwo = "gel-featured-teaser__content_variant"
    - componentClassThree = "gel-featured-teaser__date_variant"
  a(href="#" class="gel-featured-teaser-link")
    div.card(data-pseudo-link class=componentClassOne)
      if !witoutImg
        img.img-fluid.card-img-top(src="//placehold.it/1200x900/", alt="")

      div.card-body(class=componentClassTwo)
        if variant
          h4.gel-featured-teaser_highlight|News Category
          
        h2.card-title
          +lipsum(15, "words", true)

        time(datetime="2015-12-25" class=componentClassThree)
          | 25 December 2015
        if variant
          p
            +lipsum(25, "words", true)
        if withButton
          div.gel-featured-teaser_action
            +gel_button("Button", "gel-button-secondary", "small")
