//--- *************** ---//
//--- Global Header links ---//
//--- *************** ---//

//- Links for login dropdown in global headder

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gel_global_link
mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_global_link()

    div.gel-global-links.dropdown
        button.gel-global-link-button(id='logindropdownbtn',type='button', data-toggle='dropdown',aria-haspopup='true',aria-expanded='false',aria-label="Login Menu")
            span.global-link-button-txt(aria-hidden='false')|Log in
            span.gel-link-icon.gel-visible-small(aria-hidden='true')
        ul.gel-global-links-dropdown.dropdown-menu.dropdown-menu-right(aria-labelledby="logindropdownbtn")
          li
            <h4>Staff</h4>
            ul.gel-link-list
              li
                span.gel-link-list-icon(aria-hidden="true")
                a.dropdown-item(href="#" title="")
                  | Staff portal
              li
                span.gel-link-list-icon(aria-hidden="true")
                a.dropdown-item(href="#" title="")
                  | Inside the department (staff intranet)
          li
            <h4>Students</h4>
            ul.gel-link-list
              li
                span.gel-link-list-icon(aria-hidden="true")
                a.dropdown-item(href="#" title="")
                  | Student portal
          li
            <h4>Other users</h4>
            ul.gel-link-list
              li
                span.gel-link-list-icon(aria-hidden="true")
                a.dropdown-item(href="#" title="")
                  | Extranet


