
//--- Guided Journey ---//
//--- *************** ---//

//- Description goes here 


//--- DOCUMENTATION ---//
//---------------------------------------------------------

include partials/guided-journey-elements.pug
include partials/guided-journey-content.pug

mixin documentation
  | //- Added: 1.0.0
  | @param {string}  src - the source of the iframe content
  | @param {string}  title - the title of the iframe
  | +gel_guided-journey(src, title)



mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_guided-journey(content, endpoint)
  script.
    var guided_journey_endpoint_matrix = null;
    var loading_message_matrix = "<p>Please wait while page is being generated</p>";
    var error_message_matrix = "<p>There has been a problem , please log a ticket in Zendesk</p>";

    var sampleContent = [ /* { asset_id, label, content } */ ];


  main.gel-main.gel-main--GJ(data-endpoint=endpoint)
    div.container
      div.row.no-gutter

        // - Content Area
        article.col-12.gel-main-content
          div.d-block.gel-block.p-0
            div.container
              div.gel-GJ-container

                // - * unsure about the .no-gutter attribute
                div.row.no-gutter
                  div.col-12.col-md-4.col-lg-3.gel-lhs.gel-GJ-index
                    nav(aria-lable="side navigation").d-none.d-md-block
                      .gel-side-navigation
                        ul.mb-0
                          li.sn_parent.gel-side-navigation-upper
                            a(href="#")
                              | Previous
                              span.sr-only
                                | Page
                              span.gel-icon-chevron-left(aria-hidden="true")
                        ol.sn__guided-journey
                          +gel_guided-journey_side-nav-item(1,8,'#landing', 'Introduction')
                          if !content && !endpoint
                            +gel_guided-journey_side-nav-item(2,8,'#/asset1', 'Form a school term')
                            +gel_guided-journey_side-nav-item(3,8,'#/asset2', 'Engage the school community')
                            +gel_guided-journey_side-nav-item(4,8,'#/asset3', "Develop a 'statement of purpose'")
                            +gel_guided-journey_side-nav-item(5,8,'#/asset4', 'Develop a shared understanding')
                            +gel_guided-journey_side-nav-item(6,8,'#/asset5', 'Develop or revise the school Anti-bullying Plan')
                            +gel_guided-journey_side-nav-item(7,8,'#/asset6', 'Publication and promotion')
                            +gel_guided-journey_side-nav-item(8,8,'#/asset7', 'Resources')

                  div.col-12.col-md-8.col-lg-7
                    h1.gel-GJ-title.mt-0
                      | Anti-bullying guidelines

                    +gel_guided-journey_mobile-nav

                    div.gel-guided-journey__content
                      div.gel-loading.d-none
                      +gel_guided-journey_content_introduction
                      if !content && !endpoint
                        +gel_guided-journey_content_asset_1
                        +gel_guided-journey_content_asset_2
                        +gel_guided-journey_content_asset_3
                        +gel_guided-journey_content_asset_4
                        +gel_guided-journey_content_asset_5
                        +gel_guided-journey_content_asset_6
                        +gel_guided-journey_content_asset_7

                    +gel_guided-journey_pagination
