mixin gel_highlight_panel(classes,hide, subclass,categoryname, hidemore)

  -var panel_class = "gel-highlight-panels__panel card " + classes
  -var category_class = "gel-featured-teaser_highlight"
  -var category_name = categoryname.replace(" ", "_").toLowerCase().replace("'", "")
  -var category_class= category_class + " category-" + category_name

  div(class=panel_class)

    h3.show-on-sr
      | News item

    div.gel-highlight-panels__category
      if hide == "1"
        div.gel-highlight-panels__image
          img(src="//placehold.it/800x600" alt="")
      div.gel-categoryname-date    
        h3(class=category_class) #{categoryname}
        time.gel-featured-teaser__date_variant(datetime="2015-12-25")
          | 25 December 2015
    div.gel-highlight-panels__content.card-body
      h3
        a(class="gel-highlight-panels__content-title" href="#")
          +lipsum(5, "words")

      div(class=subclass)
        p
          +lipsum(3, "sentences")
          

    if hidemore == "1"        

      div.gel-highlight-panels-bottominfo
      
        div.gel-highlight-panels-moreinfo
          
          a(href="#") 
            span Read more&hellip;