//--- *************** ---//
//--- LANDING HEADER ---//
//--- *************** ---//

//- Introductionary content used as headers of articles or landing pages.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gel_landing_header

mixin usage
  pre
    code.language-jade
      +documentation


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_landing_header

  header.gel-landing-header

    h1
      +lipsum(2, "words")

    div.gel-landing-header__lead
      p
        +lipsum(4, "sentences")
