//--- ************************ ---//
//--- PATTERN / COMPONENT NAME ---//
//--- ************************ ---//

//- A link tag that appears at the end of links.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {string} text - Link text
  | +gel_link_tag(text)

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------

mixin gel_link_tag(text , icon)

  if icon == 'icon' 
    span.badge.link-tag-container
      span.link-tag-icon
        =text

  else
    span.badge.link-tag-container
      span.link-tag= text
