//--- *************** ---//
//--- Lists ---//
//--- *************** ---//

//- Lists are used to group a set of related items in no particular order or in a specific order

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gel_lists

mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_lists

  ul
    li
      +lipsum(1, "sentences")
    li
      +lipsum(2, "sentences")
    li
      +lipsum(2, "sentences")
      ul
        li
          +lipsum(1, "sentences")
          ul
            li
              +lipsum(1, "sentences")
            li
              +lipsum(2, "sentences")
            li
              +lipsum(3, "sentences")
        li
          +lipsum(2, "sentences")
        li
          +lipsum(3, "sentences")
    li
      +lipsum(3, "sentences")


  ol
    li
      +lipsum(1, "sentences")
    li
      +lipsum(2, "sentences")
    li
      +lipsum(2, "sentences")
      ol
        li
          +lipsum(1, "sentences")
          ol
            li
              +lipsum(1, "sentences")
            li
              +lipsum(2, "sentences")
            li
              +lipsum(3, "sentences")
        li
          +lipsum(2, "sentences")
        li
          +lipsum(3, "sentences")
    li
      +lipsum(3, "sentences")

  p
    +lipsum(5, "sentences")
