
mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} num  - number of linkgroups to display. Valid inputs: 1, 2, 3, 4
  | //- @param {int} links - number of linkgroups items within a linkgroup to display.
  | +gel_linkgroup_list(num, links)

mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin livefyre

  div.gel-livefyre-mosaic.row(livefyreID="ZGVzaWduZXItYXBwLTE1NDA0NDU1NDkxNzU=" livefyreType="uat") 
