//--- *************** ---//
//--- RIBBON    ---//
//--- *************** ---//

//- A thin box which displays a simple notice with a link.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {object} icon - Maintenance Icon image
  | +gel_maintenance_ribbon

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_maintenance_ribbon(icon)

  aside.gel-maintenance-ribbon(aria-label="maintanceRibbon")

      div.gel-maintenance-ribbon-container

        p.gel-maintenance-ribbon__message
          span.show-on-sr
            | Maintenance
          a(href="#")
            +lipsum(3, "words")
          +lipsum(10, "words")
