//--- *************** ---//
//--- Megamenu Mobile ---//
//--- *************** ---//

//- Megamenu Mobile is a mobile view navigation 
- var mobileMenuItems = ['Working in early childhood education', 'Investigation, feedback and complaints', 'Going to a public school', 'Child protection', 'News', 'Strengthen teaching quality and school leadership', 'Student assessment', 'Attendance, behaviour and engagement', 'Whole school approach']
- var mobileMenuItems3 = ['Home', 'About us', 'Benefits', 'Contact us']
- var mobileMenuItemsLong = ['Early childhood education', 'Public schools', 'Teaching and learning', 'Student wellbeing', 'Our priorities', 'Policy library', 'About us']
- var mobileItemsLevel4   = ['Policy library']
- var mobileMenuSubItems_1 = ['Information for parents and carers ','Working in early childhood education', 'Investigation, feedback and complaints', 'Operating an early childhood education service ', 'Whats happening in the early childhood education sector ']
- var mobileMenuSubItems_2 = ['Community languages schools ','Going to a public school', 'Selective high schools and opportunity classes', 'Assisted School Travel Program']
- var mobileMenuSubItems_3 = ['Curriculum','Aboriginal education and communities', 'Professional learning', 'Student assessment', 'Disability,learning and support', 'School excellence and accountability']
- var mobileMenuSubItems_4 = ['Counselling and psychology services','Attendance, behaviour and engagement', 'Child protection', 'Health and physical care ', 'Whole school approach']
- var mobileMenuSubItems_5 = ['Work more effectively','Ensure quality early childhood education', 'Innovate for the future', 'Enhance student wellbeing', 'Improve student outcomes','Strengthen teaching quality and school leadership']
- var mobileMenuSubItems_7 = ['Supplying to us','Jobs and opportunities', 'Our people and structure', 'Rights and accountability', 'Using school facilities','Strategies and reports']

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gel_meganav_mobile

mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_meganav_mobile

    nav#gel-mnav.gel-mobile-nav(role="dialog", aria-labelledby="gel-mobile-nav_header-lead-dialog")
      ul.gel-mobile-nav_list
        li.gel-mobile-nav_header
          span#gel-mobile-nav_header-lead-dialog(aria-hidden="true") Megamenu mobile nav
          a.gel-mobile-nav_header-logo-link(href='#', title='NSW Department of Education')
            img.gel-mobile-nav_header-logo-image(src="../assets/images/doe-logo-white.png" alt="NSW Department of Education logo")
          p.gel-mobile-nav_header-lead Welcome to
          h1 education.nsw.gov.au      
        li.gel-mobile-nav_list-links
          a(href='#') Early childhood education
          ul
            <div class="hidden-xs gel-mobile-nav_list-links-intro">
             <a href="#">
                 <h3>Early childhood education</h3>
             </a>
             <p>Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.</p>
            </div>
            each item in mobileMenuSubItems_1   
             li
              a(href='#')=item
        li.gel-mobile-nav_list-links
          a(href='/about') Public Schools
          ul
            <div class="hidden-xs gel-mobile-nav_list-links-intro">
             <a href="#">
                 <h3>Public Schools</h3>
             </a>
             <p>Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.</p>
            </div>
            each item in mobileMenuSubItems_2   
             li
              a(href='#')=item
        li.gel-mobile-nav_list-links
          a(href='/about') Teaching and learning
          ul
            <div class="hidden-xs gel-mobile-nav_list-links-intro">
             <a href="#">
                 <h3>Teaching and learning</h3>
             </a>
             <p>Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.</p>
            </div>
            each item in mobileMenuSubItems_3   
             li
              a(href='#')=item
        li.gel-mobile-nav_list-links
          a(href='/about') Student wellbeing
          ul
            <div class="hidden-xs gel-mobile-nav_list-links-intro">
             <a href="#">
                 <h3>Student wellbeing</h3>
             </a>
             <p>Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.</p>
            </div>
            each item in mobileMenuSubItems_4   
             li
              a(href='#')=item
        li.gel-mobile-nav_list-links
          a(href='/about') Our priorities
          ul
            <div class="hidden-xs gel-mobile-nav_list-links-intro">
             <a href="#">
                 <h3>Our priorities</h3>
             </a>
             <p>Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.</p>
            </div>
            each item in mobileMenuSubItems_5   
             li
              a(href='#')=item
        li.gel-mobile-nav_list-links
          a(href='/about') Policy Library

        li.gel-mobile-nav_list-links
          a(href='/about') About us
          ul
            <div class="hidden-xs gel-mobile-nav_list-links-intro">
             <a href="#">
                 <h3>About us</h3>
             </a>
             <p>Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.</p>
            </div>
            each item in mobileMenuSubItems_7   
             li
              a(href='#')=item
