//--- *************** ---//
//--- NEWS TEASER ---//
//--- *************** ---//

//- A teaser pattern with a date

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gel_news_teaser

mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_news_teaser

  article.gel-news-teaser("data-pseudo-link")

    time.gel-news-teaser__date(datetime="2015-12-25")
      | 25 December 2015

    div.gel-news-teaser__content

      h2
        a(href="#")
          +lipsum(15, "words", true)

      p
        +lipsum(3, "sentences")
