//--- *************** ---//
//--- RIBBON    ---//
//--- *************** ---//

//- A thin box which displays important information in a show-hide format designed to inform the user.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {object} icon - Notice Icon image
  | +gel_notice_ribbon

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_notice_ribbon(icon)
  
  aside.gel-notice-ribbon(data-gel-notice-ribbon arialive="polite" aria-label="noticeRibbon")
    span.show-on-sr
      | noticeRibbon
    a(id="noticeRibbon-tab" data-toggle="collapse" href="#noticeRibbon-content" aria-expanded="false" tabindex="0" )
      div
        p.gel-notice-ribbon__title
          | Welcome to education.gov.nsw.au
          +gel_link_tag("BETA")
        div.gel-notice-ribbon__icon
    div(class="collapse noticeRibbon-content"  id="noticeRibbon-content")
      div(class="noticeRibbon-content-container")
        div
          p
            +lipsum(4, "sentences")
        +gel_button("Button", "gel-button-secondary", "small", false, true)

        p.gel-notice-ribbon__additional.d-sm-block.d-md-none
          +lipsum(2, "words")
          a(href="#")
            +lipsum(3, "words")

    p.gel-notice-ribbon__additional.d-none.d-sm-none.d-md-block(role="presentation")
      +lipsum(2, "words")
      a(href="#")
        +lipsum(3, "words")
