//--- *************** ---//
//--- PAGINATION ---//
//--- *************** ---//

//- A set of page links used for large amounts of content to be split into multiple pages.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | A set of page links used for large amounts of content to be split into multiple pages.
  | //- @param {int} count         - max page count
  | //- @param {string} position   - where to position the pagination
  | +gel_pagination(7, position, integ)


mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------
mixin pagination_item(count, pageRef, integ)
  if count == 1
    if integ == true
      li.gel-pagination__disabled
        a( href="#" tabindex="0" aria-label="Current Page " + count role="link" )
          = count  
    else    
      li.gel-pagination__disabled.gel-pagination__active
        a( href="#" tabindex="0" aria-label="Current Page " + count role="link" )
          = count
  else
    li
      a(href="#" title="Page " + count aria-label="Page " + count)
        = count



//--- HTML OUTPUT ---//
//---------------------------------------------------------
mixin gel_pagination(max, position, integ)

  - var num = 1
  
  nav
    ul.gel-pagination

      li.gel-pagination__prev.gel-pagination__disabled
        a(href="#" title="Previous page" aria-label="Previous page")
          span Previous

      while num < max + 1
        +pagination_item(num++, position, integ)

      li.gel-pagination__more.gel-pagination__disabled
        span(href="#") ...

      li.gel-pagination__next
        a(href="#" title="Next page" aria-label="Next page")
          span Next
          
          
mixin gel_pagination_with_higher_numbers(selectedPage, position, integ)
  - var max = 15
  - var num = 1
  - var count = 0
  - var prevDisabled
  - var nextDisabled
  - var prevEllipsisShown
  - var nextEllipsisShown
  - var pageNumShown
  
  if selectedPage == 1
    - prevDisabled = "gel-pagination__disabled"
  if selectedPage == max
    - nextDisabled = "gel-pagination__disabled"

  nav
    ul.gel-pagination
      
      li.gel-pagination__prev(class=prevDisabled)
        a(href="#" title="Previous page" aria-label="Previous page")
          span Previous
              
      while num < max + 1
        - count = num++         
              
        if count == selectedPage
          if integ == true
            li.gel-pagination__disabled
              a( href="#" tabindex="0" aria-label="Current Page " + count role="link" )
                = count  
          else    
            li.gel-pagination__disabled.gel-pagination__active
              a( href="#" tabindex="0" aria-label="Current Page " + count role="link" )
                = count
        else 

          if count == 1
            - pageNumShown = true
          else if selectedPage < 5 && count > 5
            - pageNumShown = false
          else if selectedPage > 4 && selectedPage < 12 && count < selectedPage - 1
            - pageNumShown = false
          else if selectedPage > 4 && selectedPage < 12 && count > selectedPage + 1
              - pageNumShown = false
          else if selectedPage > max - 4 && count < max - 4
            - pageNumShown = false  
          else
            - pageNumShown = true  
            
          if pageNumShown  
            li
              a(href="#" title="Page " + count aria-label="Page " + count)
                = count
                
          if count == 1
            if selectedPage > max - 6
              - prevEllipsisShown = true
            if selectedPage > 4 && max > 6
              - prevEllipsisShown = true          
            if prevEllipsisShown
              li.gel-pagination__more.gel-pagination__disabled
                span(href="#") ...           

          if count == max
            if selectedPage > max - 4
              - nextEllipsisShown = false
            else
              - nextEllipsisShown = true            
            if nextEllipsisShown
              li.gel-pagination__more.gel-pagination__disabled
                span(href="#") ...
            
      li.gel-pagination__next(class=nextDisabled)
        a(href="#" title="Next page" aria-label="Next page")
          span Next
