//--- *************** ---//
//--- SEARCH BOX ---//
//--- *************** ---//

//- A contained form which allows users to enter and submit keywords to global website searches.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0 | Updated: 1.1.0
  | //- @param {object} location - You can add a search box to your template with a standard or results variation.
  | //- @param {string} ariaControls - adds an string (ID) to the attribute "aria-controls" if the radio buttons are being used to dynamically populate a region
  | +gel_search_box('header', 'searchResults')

mixin usage
  pre
    code.language-jade
      +documentation


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_search_box(location, ariaControls)

  - var randId = Math.floor((Math.random() * 50) + 1)
  - var id = 'search-box'
  - var searchButtonClass = ''

  if location == 'header'
    - var additionalClass = ' gel-search__toggle-target'
    - var id = 'global-search'
    - var searchButtonClass = 'show-on-sr'
    - var buttonId = 'global-search-button'
  else
    - var additionalClass = ' gel-search--body'
    - var buttonId = "btnSearch" + randId

  form(id= id action="#" class="gel-search " + additionalClass aria-hidden="false" aria-labelledby=buttonId)

    if location != 'header'
      h1.gel-search__heading
        | Search results
        span
          +gel_link_tag('Staff only' , 'icon')

    fieldset

      legend.show-on-sr Global Search
      //- label(for="search")
      //-   span.show-on-sr Enter your search
      //- input(type="text" id="search" name="q" placeholder="Search sdfsdf" tabindex="0" maxlength="254")
      //- input(type="hidden" name="site" value="secure_ce_intranet")
      //- input(type="hidden" name="access" value="s")

      //- button(type="submit" id="btnSearch" + randId aria-label="Submit search" tabindex="0" aria-controls=ariaControls)
      //-   span.show-on-sr Search
      //-   span.gel-search-icon(aria-hidden="true")

      if location == 'header'
        .gel-searchbox.gel-small
          .form-group
            .input-group
              input.form-control(type='text' placeholder='Enter your search...')
              .input-group-append
                button.btn.gel-button
                  span.fas.fa-search

      if location != 'header'
        .gel-searchbox
          .form-group
            .input-group
              input.form-control(type='text' placeholder='Enter your search...')
              .input-group-append
                button.btn.gel-button
                  span.fas.fa-search


    if location != 'header' 
      p.gel-search__spelling-suggestion Did you mean: 
        em 
          a(href="#") 
            +lipsum(2, "words")
