//--- *************** ---//
//--- SHARE THIS ---//
//--- *************** ---//

//- Inserts "ShareThis" sharing widget.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gel_share_this


mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_share_this

  div.gel-share-this
    script.
      var addthis_config = {ui_tabindex:0}
    
    p.gel-share-this__title
      | Share this

    div.gel-share-this__toolbox.addthis_sharing_toolbox

    script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5653ba85938e9d73" async="async")
