//--- *************** ---//
//--- SIDE NAVIGATION ---//
//--- *************** ---//

//- A navigation used to display sibling and children pages of the current page. Usually displayed on the right or left of page next to the main content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gel_side_navigation

mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------


mixin sn_link
  a(href="#")
    +lipsum(3, "words")
    
mixin sn_current_link
  a(href="#", aria-current="true")
    +lipsum(3, "words")
    
mixin sn_up_link
  a(href="#")
    span.sr-only
      | Back to
    +lipsum(3, "words")
    span.gel-icon-chevron-left(aria-hidden="true")

mixin sn_item
  li
    +sn_link

mixin sn_parent_item
  li.sn_parent
    +sn_link
    
mixin sn_parent_item_with_sublist_active
  li.sn_parent.active
    +sn_current_link
    ul
      +sn_item
      +sn_item
      
mixin sn_parent_item_with_sublist
  li.sn_parent
    +sn_link
    ul
      +sn_item
      +sn_item
        
mixin sn_up_item
  li.sn_parent.gel-side-navigation-upper
    +sn_up_link

mixin sn_item_with_sublist_with_sublist
  li.sn_parent
    +sn_link
    ul
      li
        +sn_link
        ul
          +sn_item
          +sn_item

//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_side_navigation
  
  nav(aria-lable="side navigation")
    .gel-side-navigation
      ul
        +sn_up_item
        +sn_parent_item_with_sublist_active
        +sn_parent_item_with_sublist
        +sn_item_with_sublist_with_sublist
        +sn_parent_item
        +sn_parent_item
