//--- *************** ---//
//--- Skip Link ---//
//--- *************** ---//

//- Skip link is internal page links used by screen reader users for bypassing or 'skipping' over repetitive web page content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {boolean} showContent - adds skip to content link. Defaults to true
  | //- @param {boolean} showSearch - adds skip to search link. Defaults to true
  | +gel_skiplink(true, true)

mixin usage
  pre
    code.language-jade
      +documentation


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_skiplink(showContent, showSearch)

  div#top-mobile.gel-skiplink-container
    div.gel-skiplink
      div.container
        div.row
          div.col-12
            if showSearch == false &&  showContent == true
              a#top-desktop.gel-skiplink__link.skip-link-single(href="#content")
                    | Skip to content
            else
             ul
              if showContent != false
                li
                  a#top-desktop.gel-skiplink__link(href="#content")
                    | Skip to content
              if showSearch != false
                li
                  a.gel-skiplink__link(href="#search")
                    | Skip to search
