//--- *************** ---//
//--- LINK LIST ---//
//--- *************** ---//

- var name = "Social Media List"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    | Social media links with icons and a title

mixin usage
  h4 Using pug:
  pre
    code.language-pug
      | +gel_link_list(5)


mixin output
  +gel_social_media_icons_list({},count)


//--- MIXINS ---//
//---------------------------------------------------------


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_social_media_icons_list(n, channels, screenreadermsg, socialmedialinkscaption)

  - var x = 1
    div.gel-social-icons-panel
      h3=socialmedialinkscaption
      ul.gel-social-icons-panel_links
        while x <= n
          li.gel-social-icons-panel_links-list
              a.gel-social-icons-panel_links-list-icon(href='#' aria-label=screenreadermsg + channels[x-1])
                  span(aria-hidden="true" class="gel-social-icons-panel_links-list-"+channels[x-1])
          -x++
    
