//--- *************** ---//
//--- Social from microservice ---//
//--- *************** ---//

//- You can show social media items from either facebook or twitter, using the microservice.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gel_social_from_microservice

mixin usage
  pre
    code.language-jade
      +documentation
//--- MIXINS ---//
//---------------------------------------------------------
mixin get_div_content(displayNum, maxLength, facebook, facebookUsername, twitter, twitterUsername)
  li.gel-toc_item
    span.gel-toc-list-icon(aria-hidden="true")
    a(href="#")
      +lipsum(3, "words")

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_social_from_microservice(displayNum, numberOfPosts, contentLength, facebook, facebookUsername, twitter, twitterUsername)
 -var divdetails = "{\"displayCap\": " + displayNum + ",\"contentLength\":" + contentLength + ", \"services\": ["
 if facebook == "true"
   -divdetails += '{"service":"facebook", "username":"' + facebookUsername + '", "numberOfPosts": ' + numberOfPosts + '}'
 if facebook == "true" && twitter == "true"
   -divdetails +=  ','
 if twitter == "true"
   -divdetails += '{"service":"twitter", "username":"' + twitterUsername + '", "numberOfPosts": ' + numberOfPosts + '}'
 -divdetails += "]}"

 div(data-gel-social-media=divdetails)
  div.gel-loader(aria-hidden=true)
  ul.gel-flex-grid
