//--- *************** ---//
//--- TEASER LIST ---//
//--- *************** ---//

//- A container that lists maximum of 3 teasers and minimum of 1

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} num  - number of teasers to display. Valid inputs: 1, 2, 3, 4
  | +gel_teaser_list(num)

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINX ---//
//---------------------------------------------------------

mixin gel_teaser_list(num)
  
  if num == 3
    .row.gel_teaser_default_container
      - var n = 0

      while n < num
        .col-md-6.col-lg-4
          +gel_teaser
          -n++
  else
    .row.gel_teaser_default_container
      - var n = 0

      while n < num
        .col-sm-6
          +gel_teaser
          -n++    
