// ----------------------
// VARIABLES
// ----------------------

@import "_variables";


// ----------------------
// MIXINS
// ----------------------

@import "mixins";
@import "helpers";

//----------------------
// Base information
//----------------------

// body {
//   main div.container:first-of-type {
//     background-color: $gel-white;
//   }
// }
audio, canvas, img, svg, video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

a {

	color: $gel-black;

	&:hover,
	&:focus,
	&.active {
	  color: $gel-black;
	}
}

h2 {
  font-size: 1.75rem ;
}
@media #{$gel-mq-md} {
  h2 {
    font-size: 2rem ;
  }
}
