a {
    text-decoration: underline;
    color: $gel-black;
    
    &:hover, &:focus {
    	text-decoration: none;
    }
}


.gel-external-link {
    
    &:before {
      font-family: 'FontAwesomeSolid';
      margin-top: 2px;
      padding-left: 5px;
      content: "\f35d";

    }

  .gel-remove-external-link & {
    display: none;
  }
}
