a:focus {
  outline: $gel-focus-outline;
  outline-offset: $gel-focus-blocks-outline-offset;

  .gel-main &,
  .gel-section-header__logo &,
  .gel-global-header-container &,
  .gel-section-footer &,
  .gel-global-footer & {
    outline: $gel-focus-outline;
    outline-offset: $gel-focus-text-outline-offset;
  }

  .gel-main .gel-tabs &,
  .gel-global-header-container .gel-global-header__search-form &  {
    outline: $gel-focus-outline;
    outline-offset: $gel-focus-text-outline-offset;
  }

  .gel-section-header__logo &,
  .gel-global-header--alt &,
  .gel-main .gel-breadcrumbs__dropdown &,
  .gel-global-header--alt .gel-global-header__search-form & {
    outline: $gel-focus-inverse;
  }


}

button:focus {
  outline: $gel-focus-outline;
  outline-offset: $gel-focus-blocks-outline-offset;
}

.gel-global-header__search {

  button:focus {

    .gel-global-header--alt & {
      outline-color: $gel-white;
    }
  }

  #search-tab:focus {
    outline-offset: -2px;
  }
}


html {
  letter-spacing: 0.01em;
  line-height: 1.5;

  @media #{$gel-mq-md} {
    // override the base font on desktop
    font-size: $base-body-font-size;
  }
}

body {
  background: $base-body-bg;

  &.home,
  &.landing,
  &.template {
    background-color: $base-body-bg-alt;
  }
}

// HEADERS
//
// Syntax: (heading-level mobile-margin-top mobile-letter-spacing mobile-color mobile-weight desktop-font-size desktop-line-height desktop-margin-top desktop-letter-spacing desktop-color desktop-weight)

$headers: (
//(h  mt    lspc    color                   wgt / fs        lh      dmt       lspc        color                   wgt)
  (1  33px  0.01em  $gel-color-font-dark    600   2.375rem  1.26    1.875rem  0.01em      $gel-color-font-dark    600),
  (2  14px  0.01em  $gel-color-font-dark    600   1.875rem  1.33    1.875rem  0.01em      $gel-color-font-dark    600),
  (3  14px  0.01em  $gel-color-font-dark    800   1.375rem  1.36    1.875rem  0.03em      $gel-color-font-dark    800),
  (4  14px  0.01em  $gel-color-font-dark    600   1.375rem  1.36    1.875rem  0.01em      $gel-color-font-dark    600),
  (5  14px  0.01em  $gel-color-font-dark    800   1.125rem  1.44    1.875rem  0.03em      $gel-color-font-dark    800),
  (6  14px  0.01em  $gel-color-font-light   800   1rem      1.5     1.875rem  0.03em      $gel-color-font-light   800)
);

@each $i in $headers {
  h#{nth($i,1)}, .uk-h#{nth($i,1)} {
    margin-bottom:  #{nth($i,2)};
    letter-spacing: #{nth($i,3)};
    color:          #{nth($i,4)};
    font-weight:    #{nth($i,5)};

    @media #{$gel-mq-md} {
      margin-bottom: 0;
      font-size:      #{nth($i,6)};
      line-height:    #{nth($i,7)};
      margin-top:     #{nth($i,8)};
      letter-spacing: #{nth($i,9)};
      color:          #{nth($i,10)};
      font-weight:    #{nth($i,11)};

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

h1 {
  color: $gel-content-header;
}

.home {
  article {
    > h1 {
      display: none;
    }
  }
}

// PARAGRAPHS AND INLINE ELEMENTS

p {
  margin-top: 1.06rem;

  &:first-child {
    margin-top: 0;
  }
}

a, strong, b {
  font-weight: 800;
  letter-spacing: 0.03em;
}

em {
  color: $gel-color-font-dark;
}

// blockquote {
//   margin: 40px 0;
//   padding: 22px 0 25px 30px;
//   border-left: 5px solid $gel-decoration;
//
//   &:before {
//     content: open-quote;
//   }
//
//   @media #{$gel-mq-md} {
//     font-size: 1.5rem;
//   }
// }

// LISTS

// ul, ol {
//   list-style: none;
//   padding: 0;
//   margin-top: 1rem;
//
//   & + ul,
//   & + ol {
//     margin-top: 50px;
//   }
//
//   li {
//     position: relative;
//     padding-left: 30px;
//     margin-top: 0.5rem;
//
//     &:last-child {
//       margin-bottom: 0;
//     }
//   }
//
//   .gel-global-footer & {
//     margin-top: 0;
//   }
// }
//
// ul,
// .gel-tabs > ul > li ul {
//
//   li:before {
//     position: absolute;
//     left: 0;
//   }
//
//
//   > li {
//     &:before {
//       content: "\25CF";
//       position: absolute;
//       left: 0;
//     }
//   }
//
//   > li > ul,
//   > li > ol {
//     margin-top: 15px;
//   }
//
//   ul > li {
//
//     &:before {
//       content: "\25CB";
//     }
//
//     ul > li {
//       &:before {
//         content: "\25FE";
//       }
//     }
//
//   }
//
//   ol {
//     counter-reset: o;
//
//     > li:before {
//       counter-increment: o;
//       content: counter(o, lower-alpha) ".";
//       position: absolute;
//       left: 0;
//       font-weight: 700;
//     }
//   }
// }
//
// ol,
// .gel-tabs > ul > li ol{
//   counter-reset: i;
//
//   > li:before {
//     counter-increment: i;
//     content: counter(i) ".";
//     position: absolute;
//     left: 0;
//     font-weight: 700;
//   }
//
//   > li > ul,
//   > li > ol {
//     margin-top: 0;
//   }
//
//   ol {
//     counter-reset: o;
//
//     > li:before {
//       counter-increment: o;
//       content: counter(o, lower-alpha) ".";
//       position: absolute;
//       left: 0;
//       font-weight: 700;
//     }
//
//     ol {
//       counter-reset: u;
//
//       > li:before {
//         counter-increment: u;
//         content: counter(u, lower-roman) ".";
//         position: absolute;
//         left: 0;
//         font-weight: 700;
//       }
//     }
//   }
//
//   ul > li {
//
//     &:before {
//       content: "\25CB";
//     }
//
//     ul > li {
//       &:before {
//         content: "\25FE";
//       }
//     }
//   }
// }

// TABLES
//
// table {
//   overflow-x: auto;
//   margin: 30px 0;
//   width: 100%;
//   display: block;
//   border-collapse: collapse;
//
//   @media #{$gel-mq-md} {
//     display: table;
//   }
// }
//
// th {
//   text-align: left;
//   font-weight: 700;
//   border-bottom: 2px solid $gel-dark-grey;
//   background: $gel-highlight-panel-bg;
//   padding: 5px 10px 5px;
// }
//
// td {
//   border-bottom: 1px solid $gel-dark-grey;
//   padding: 10px 10px;
// }
//
// td, th {
//   vertical-align: top;
// }
//
//
// dl[compact], dl.gel-compact {
//   dt, dd {
//     display: inline;
//   }
//
//   dt:before {
//     content: "";
//     display: block;
//   }
//
//   dt:after {
//     content: ":";
//   }
// }

// HR

hr {
  clear: both;

  @media #{$gel-mq-md} {
    margin: 40px 0;
  }
}

// IFRAME

iframe {
  max-width: 100%;
}

// FORMS

fieldset {
  border: 0px;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: bold;

  .uk-form & {
    font-size: 1.3rem;
  }
}

label {

  .uk-form-controls & {
    float: left;
    clear: left;
    margin-top: 1em;
  }

  @media #{$gel-mq-md} {

    .uk-form-controls & {
      float: none;
    }

    & + label {
      margin-top: 0;
      margin-left: 2em;
    }
  }
}


input, textarea {
  letter-spacing: 0.05em;
  font-weight: 400;

  &:focus,
  &:active {
    box-shadow: 0px 0px 3px 1px $gel-decoration;
    animation: inputFocus 1s infinite;

  }
}


input[type="radio"],
input[type="checkbox"] {
  margin-right: 1rem;
}

input[type="radio"] {
  margin-left: 0;

  &:checked {
    outline: 0;
  }

  @media #{$gel-mq-md} {

    &:before {
     font-size: 1.1rem;
    }
  }
}

input[type="radio"] + label {
  font-size: $base-body-font-size;


  @media #{$gel-mq-lg} {
    font-size: 1rem;
  }
}

select {
  border-radius: 0;
  border: 0;
  outline: 1px solid black;
  outline-offset: -1px;

  .uk-form & {
    line-height: 35px;
    padding: 0 0 0 10px;
  }

  &:focus,
  &:active {
    outline: 1px solid $gel-decoration;
    box-shadow: 0px 0px 3px 1px $gel-decoration;
    //animation: inputFocus 1s infinite;
  }
}

@keyframes inputFocus {
  0% {
    box-shadow: 0px 0px 2px 0px $gel-decoration;
  }
  50% {
    box-shadow: 0px 0px 6px 0px $gel-decoration;
  }
  100% {
    box-shadow: 0px 0px 2px 0px $gel-decoration;
  }
}

.gel-flex-grid:not(.gel-flex-grid--columns) article {
   float: none;
}

.gel-toc {
  @media #{$gel-mq-lg} {
    overflow: visible;
  }
}

.gel-toc_item {

  @media #{$gel-mq-lg} {
    padding-left: 5px;

    & a, & a:visited {
      margin-left: 40px;
    }
  }

}

.gel-vc-icons {

  button.gel-vc-btn.active {
    outline: $gel-focus-outline;
    outline-offset: 0;
  }
}

.gel-main .gel-tabs {
  a[role=tab] {

    &:focus {
      outline: $gel-focus-outline;
      outline-offset: -5px;
    }

    &[aria-expanded=true]:focus {
       text-decoration: underline;
    }
  }

  & [role="tabpanel"]:focus {
    outline: $gel-focus-inverse;
    outline-offset: -2px;

  }
}

.uk-accordion-title:focus {
    background: $gel-lighter-grey;
    outline-offset: -2px;
}

a:focus:hover, button:focus:hover {
  outline: 0;
}
a:focus
{
  outline: 1px solid $gel-black;
  outline-offset: 2px;
}
