

//--------------------------
// UTILITIES
//--------------------------

.gel-pseudo-link {
  cursor: pointer;
}

.atlwdg-popup {
  max-width: 90%;
}

//GXF-1239

.glossary-heading {
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  text-align: left;
  margin-top: 13px;
  margin-bottom: 5px;

  @media #{$gel-mq-md}{
    font-size: 1.375rem;
    margin-bottom: 18px;
  }

  @media #{$gel-mq-lg}{
    font-size: 1.75rem;
    margin-top: 50px;
    font-weight: 300;
  }
}

.gel-glossary{

  .a-z-list{

    margin-bottom: 40px;
    height: auto;

    @media #{$gel-mq-md}{
      margin-bottom: 10px;
    }
  }

  @media #{$gel-mq-md}{

    .gel-a-z-anchors {
      height: auto;
    }
  }

  [data-scroll-passed=true]{

    @media #{$gel-mq-md}{
     height: 90px;
     top: 0;
     position: fixed;
     background-color: $gel-white;
     z-index: 20000;
     transform: translateY(0);
     transition: all 0.2s;
     text-decoration: none;
     left: 0;
     width: 100%;
     border-bottom: solid 1px $a-z-list-border-color-bottom;
     box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.1);

      ol{
       width: 500px;
      }
    }

    @media #{$gel-mq-lg}{
      margin-left: auto;
      height: 50px;
      width: 100%;
      padding: 10px 0 13px;

      ol{
       width: 945px;
      }
    }
  }

  .gel-a-z-list__letter {
    padding-top: 70px;
    margin-top: -50px;

    @media #{$gel-mq-md}{
      padding-top: 90px;
      margin-top: -50px;
    }
  }

  .gel-a-z-list__column{
    width: 150px;
    float: none;

    @media #{$gel-mq-md}{
    float: right;
    }
  }

  .a-z-list {

    @media #{$gel-mq-md}{
      height: 104px;
    }

    @media #{$gel-mq-lg}{
      height: 50px;
    }
  }
}

.gel-hr-light {
  border-color: $gel-lighter-grey;
  border-width: 1px;
}
