// ----------------------
// gel VARIABLES
// ----------------------

$gel-max-width:                                             1024px !default;

// MEDIA QUERIES

$gel-mq-md:                                                 "screen and (min-width: 768px)" !default;        // tablet and up
$gel-mq-lg:                                                 "screen and (min-width: #{$gel-max-width})" !default;  // small laptops and up
$gel-mq-xl:                                                 "screen and (min-width: 1220px)" !default;       // larger desktops

// BOOTSTRAP MEDIA QUERIES

$gel-mq-bs-xs:                                              "screen and (min-width: 320px)" !default;        // Extra small screen/phone and up
$gel-mq-bs-sm:                                              "screen and (min-width: 576px)" !default;        // Small screen/phone and up
$gel-mq-bs-md:                                              "screen and (min-width: 768px)" !default;        // Medium screen/tablet and up
$gel-mq-bs-lg:                                              "screen and (min-width: 992px)" !default;        // Large screen/desktop and up
$gel-mq-desktop:                                            "screen and (min-width: 1024px)" !default;       // Desktop mode
$gel-mq-bs-xl:                                              "screen and (min-width: 1200px)" !default;       // Extra large screen/wide desktop and up
$gel-xs-min:                                                320px !default;
$gel-xs-max:                                                575px !default;
$gel-sm-min:                                                576px !default;
$gel-sm-max:                                                767px !default;
$gel-md-min:                                                768px !default;
$gel-md-max:                                                991px !default;
$gel-lg-min:                                                992px !default;
$gel-touch-max:                                             1023px !default;
$gel-desktop-min:                                           1024px !default;
$gel-lg-max:                                                1199px !default;
$gel-xl-min:                                                1200px !default;

// COLOURS

$gel-concrete:                                              rgb(242,242,242);                       // #f2f2f2 lighter grey
$gel-zircon:                                                rgb(224,224,224);                       // #e0e0e0 light grey
$gel-magnesium:                                             rgb(180,180,180);                       // #b4b4b4 Medium
$gel-bright-grey:                                           rgb(86,90,92);                          // #565A5C Strong grey
$gel-mine-shaft:                                            rgb(51,51,51);                          // #333 dark grey

$gel-grey-v2:                                               rgb(229,229,229);                       // #e5e5e5 - new education theme
$gel-grey-font-v2:                                          rgb(4,30,66);                           // #041E42 - new education theme

$gel-black:                                                 rgb(0,0,0);                             // black
$gel-dark-grey:                                             $gel-mine-shaft;                        // dark grey
$gel-medium-grey:                                           $gel-bright-grey;                       // medium grey
$gel-light-grey:                                            $gel-magnesium;                         // light grey
$gel-lighter-grey:                                          $gel-zircon;                            // lighter grey
$gel-off-white:                                             $gel-concrete;                          // off white
$gel-white:                                                 rgb(255,255,255);                       // white


// Shades of grey
$color-grey-60: #666666; 
$color-grey-30: #B3B3B3; 
$color-grey-15: #D9D9D9; 
$color-grey-10: #E5E5E5; 
$color-grey-5: #F2F2F2; 
$color-grey-2: #FAFAFA; 
$color-black: #000000;

// System messages and alerts
$color-error: #FF635C;
$color-warning: #F69900;
$color-success: #0CAC78;
$color-info: #00BFE9;


$gel-nonactive-1:                                           rgb(177,184,189) !default;              // only used for inactive buttons
$gel-nonactive-2:                                           $gel-dark-grey !default;

$gel-radius:                                                2px !default;
$gel-radius-lg:                                             4px !default;

// SPACING

$gel-normal-horizontal-spacing:                             25px !default;
$gel-large-horizontal-spacing:                              40px !default;

// ----------------------
// THEME
// ----------------------

$gel-primary-bg:                                            $gel-medium-grey !default;                 // primary colour background
$gel-primary-text:                                          $gel-white !default;                     // text colour when using primary background
$gel-primary-bg-action:                                     $gel-black !default;                     // primary colour background on action (hover/focus)
$gel-primary-text-action:                                   $gel-white !default;                     // text colour when using primary background on action (hover/focus)

$gel-secondary-bg:                                          $gel-light-grey !default;               // seconday colour background
$gel-secondary-text:                                        $gel-black !default;                     // text color when using secondary background
$gel-secondary-bg-action:                                   $gel-white !default;                // seconday colour background on action (hover/focus)
$gel-secondary-text-action:                                 $gel-black !default;                     // text colour when using secondary background on action (hover/focus)

$gel-highlight-panel-bg:                                    $gel-off-white !default;                 // Background on panels that stand out from the body
$gel-highlight-panel-text:                                  $gel-dark-grey !default;                     // Text colour on panels that stand out from the body

$gel-decoration:                                            $gel-medium-grey !default;               // decorative colour
$gel-lines:                                                 $gel-light-grey !default;

$gel-content-header:                                        $gel-black !default;                     // header colour for content areas

$gel-focus-outline:                                         1px solid $gel-black !default;
$gel-focus-inverse:                                         1px solid $gel-white !default;
$gel-focus-blocks-outline-offset:                           -6px !default;
$gel-focus-text-outline-offset:                             2px !default;

// FONTS

$gel-font-family:                                           montserrat, Arial, sans-serif !default;
$gel-color-font-dark:                                       $gel-black !default;
$gel-color-font-light:                                      #646464 !default;                     // Passes WCAG 2.0 AA for normal and large text accroding to https://webaim.org/resources/contrastchecker/
$gel-color-font-reverse:                                    $gel-white !default;

// GLOBAL HEADER

$gel-global-header-bg:                                      $gel-lighter-grey !default;
$gel-global-header-bg-highlight:                            $gel-lighter-grey !default;
$gel-global-header-color:                                   $gel-dark-grey !default;
$gel-global-header-color-highlight:                         $gel-black !default;
$gel-global-header-border:                                  1px solid $gel-medium-grey !default;
$gel-global-header-search-bg:                               $gel-lighter-grey !default;
$gel-global-header-search-border:                           $gel-black !default;

$gel-global-header-alt-bg:                                  $gel-primary-bg !default;
$gel-global-header-alt-bg-highlight:                        $gel-primary-bg !default;
$gel-global-header-alt-color:                               $gel-lighter-grey !default;
$gel-global-header-alt-color-highlight:                     $gel-white !default;
$gel-global-header-alt-border:                              1px solid $gel-light-grey !default;
$gel-global-header-alt-search-bg:                           $gel-primary-bg !default;
$gel-global-header-alt-search-border:                       $gel-white !default;



// SECTION HEADER

$gel-section-header-bg:                                     $gel-primary-bg !default;
$gel-section-mobile-utility-bar:                            $gel-secondary-bg !default;
$gel-section-header-logo-color:                             $gel-primary-text !default;
$gel-section-header-link-color:                             $gel-primary-text !default;

// SECTION FOOTER

$gel-section-footer-bg:                                     $gel-secondary-bg !default;
$gel-section-footer-link-color:                             $gel-secondary-text !default;

// ----------------------
// UIKIT OVERRIDES
// ----------------------

// BASE
$breakpoint-large:                                          $gel-max-width !default;
$breakpoint-xlarge:                                         $gel-max-width !default;

$utility-container-padding-horizontal:                      $gel-normal-horizontal-spacing !default;

$utility-container-large-max-width:                         $gel-max-width !default;
$utility-container-large-padding-horizontal:                $gel-large-horizontal-spacing !default;

$grid-gutter-large-horizontal:                              $gel-large-horizontal-spacing !default;

$base-margin-vertical:                                      10px !default;

$base-body-font-family:                                     $gel-font-family !default;
$base-heading-font-family:                                  $gel-font-family !default;

$base-body-color:                                           $gel-color-font-dark !default;
$base-body-bg:                                              $gel-white !default;
$base-body-bg-alt:                                          $gel-off-white !default;

$base-body-font-size:                                       1rem !default;
$base-body-font-weight:                                     400 !default;
$base-body-line-height:                                     1.5 !default;

$base-heading-color:                                        $gel-color-font-dark !default;
$base-heading-font-weight:                                  800 !default;
$base-heading-margin-top:                                   30px !default;

$base-h1-font-size:                                         1.375rem !default;
$base-h1-line-height:                                       1.63 !default;
$base-h2-font-size:                                         1.125rem !default;
$base-h2-line-height:                                       1.5 !default;
$base-h3-font-size:                                         1rem !default;
$base-h3-line-height:                                       1.43 !default;
$base-h4-font-size:                                         1rem !default;
$base-h4-line-height:                                       1.43 !default;
$base-h5-font-size:                                         1rem !default;
$base-h5-line-height:                                       1.43 !default;
$base-h6-font-size:                                         1rem !default;
$base-h6-line-height:                                       1.43 !default;

$base-blockquote-font-size:                                 1.125rem !default;
$base-blockquote-line-height:                               1.5 !default;
$base-blockquote-font-style:                                normal !default;

// UTILITY

$utility-container-padding-horizontal:                      12px !default;
$utility-container-padding-vertical:                        12px !default;
$utility-margin-large:                                      30px !default;

// LINKS

$base-link-color:                                           $gel-color-font-dark !default;
$base-link-text-decoration:                                 underline !default;
$base-link-hover-color:                                     $gel-color-font-dark !default;
$base-link-hover-text-decoration:                           none !default;

// TEXT

$text-large-font-size:                                      1.125rem !default;
$text-large-line-height:                                    1.5 !default;

// UK BUTTONS OVERRIDES

$button-padding-horizontal:                                 16px !default;
$button-height:                                             50px !default;
$button-line-height:                                        1.2em !default;
$button-font-size:                                          1rem !default;
$button-font-weight:                                        600 !default;
$button-background:                                         $gel-primary-bg !default;
$button-color:                                              $gel-primary-text !default;
$button-hover-background:                                   $gel-primary-bg-action !default;
$button-hover-color:                                        $gel-primary-text-action !default;
$button-active-background:                                  $gel-primary-bg !default;
$button-active-color:                                       $gel-primary-text !default;
$button-disabled-color:                                     $gel-nonactive-2 !default;
$button-disabled-background:                                $gel-nonactive-1 !default;
$button-disabled-border:                                    $gel-medium-grey !default;
$button-radius:                                             3px !default;
$button-min-width:                                          240px !default;
$button-min-width-small:                                    140px !default;
$button-padding:                                            14px 16px 0 !default;
$button-box-shading:                                        0px 0px 4px 0px rgba(0,0,0,0.4) !default;
$button-vertical-align:                                     middle !default;
$button-small-line-height:                                  20px !default;
$button-primary-color:                                      $gel-secondary-text !default;
$button-primary-hover-color:                                $gel-secondary-text-action !default;
$button-primary-background:                                 $gel-secondary-bg !default;
$button-primary-hover-background:                           $gel-secondary-bg-action !default;
$button-success-color:                                      $gel-black !default;
$button-success-background:                                 #109f71 !default;
$button-success-hover-background:                           #046E4C !default;
$button-danger-color:                                       $gel-black !default;
$button-danger-background:                                  #E94557 !default;
$button-danger-hover-background:                            #9D1F2D !default;


// NEW BUTTON STYLE

$button-default-padding:                                    10px 29px  !default;
$button-default-height:                                     44px !default;
$button-default-radius:                                     4px !default;
$button-default-font-size:                                  1rem !default;
$button-default-font-weight:                                600 !default;
$button-border-color:                                       $gel-primary-bg !default;
$button-border-color-highlight:                             #000 !default;
$button-border-width:                                       2px !default;
$button-default-letter-spacing:                             1.3px !default;

$button-small-padding:                                      10px 29px  !default;
$button-small-height:                                       44px !default;
$button-small-font-size:                                    1rem !default;

$button-medium-padding:                                      11px 30px  !default;
$button-medium-height:                                       50px !default;
$button-medium-font-size:                                    1.25rem !default;

$button-large-padding:                                      13px 30px  !default;
$button-large-height:                                       60px !default;
$button-large-font-size:                                    1.5rem !default;

$button-alt1-background:                                     transparent !default;
$button-alt1-border-width:                                   2px !default;
$button-alt1-font-weight:                                    800;

// BREADCRUMBS

$breadcrumbs-color:                                         $gel-color-font-dark !default;
$breadcrumbs-dropdown-area-color:                           $breadcrumbs-color !default;
$breadcrumbs-dropdown-area-bg:                              transparent !default;
$breadcrumbs-dropdown-area-hover-color:                     $gel-white !default;
$breadcrumbs-dropdown-area-hover-bg:                        $gel-primary-bg !default;
$breadcrumbs-dropdown-color:                                $gel-white !default;
$breadcrumbs-dropdown-bg:                                   $gel-primary-bg !default;
$breadcrumbs-dropdown-width:                                225px !default;
$breadcrumbs-tooltip-color:                                 $breadcrumbs-color !default;
$breadcrumbs-tooltip-bg:                                    $gel-lighter-grey !default;
$breadcrumbs-tooltip-stroke:                                $gel-light-grey !default;
$breadcrumbs-tooltip-arrow-path:                            url('../images/tooltip-triangle.svg') !default;
$breadcrumbs-tooltip-delay:                                 0.4s !default;

// CATALOGUE
$catalogue-teaser-border:                                   $gel-lighter-grey !default;
$catalogue-image-border:                                    $gel-light-grey !default;

// NAVBAR

$navbar-background:                                         transparent !default;
$navbar-color:                                              $gel-black !default;
$navbar-link-color:                                         $gel-secondary-text !default;
$navbar-link-hover-color:                                   $gel-secondary-text !default;
$navbar-nav-height:                                         auto !default;
$navbar-nav-line-height:                                    18px !default;
$navbar-nav-padding-horizontal:                             0 !default;
$navbar-nav-color:                                          $gel-black !default;
$navbar-nav-font-size:                                      1rem !default;
$navbar-nav-font-height:                                    normal !default;
$navbar-nav-font-family:                                    $gel-font-family !default;
$navbar-nav-hover-background:                               transparent !default;
$navbar-nav-hover-color:                                    $gel-black !default;
$navbar-nav-onclick-background:                             transparent !default;
$navbar-nav-onclick-color:                                  $gel-black !default;
$navbar-nav-active-background:                              transparent !default;
$navbar-nav-active-color:                                   $gel-black !default;
$navbar-nav-subtitle-font-size:                             1rem !default;
$navbar-nav-subtitle-offset:                                2px !default;
$navbar-brand-font-size:                                    18px !default;
$navbar-brand-color:                                        $gel-black !default;
$navbar-brand-hover-color:                                  $gel-black !default;
$navbar-toggle-font-size:                                   26px !default;
$navbar-toggle-color:                                       $gel-black !default;
$navbar-toggle-hover-color:                                 $gel-black !default;
$navbar-toggle-icon:                                        "\f0c9" !default;
$navbar-toggle-icon-alt:                                    "\f002" !default;

// PAGINATION

$pagination-font-size:                                      1rem !default;
$pagination-font-size-lg:                                   1rem !default;
$pagination-margin-left:                                    5px !default;
$pagination-padding-vertical:                               4px !default;
$pagination-padding-horizontal:                             10px !default;
$pagination-padding-horizontal-lg:                          8px !default;
$pagination-padding:                                        $pagination-padding-vertical $pagination-padding-horizontal !default;
$pagination-padding-lg:                                     $pagination-padding-vertical $pagination-padding-horizontal-lg !default;
$pagination-line-height:                                    2 !default;
$pagination-bg:                                             $gel-white !default;
$pagination-bg-action:                                      $gel-white !default;
$pagination-bg-disabled:                                    $gel-white !default;
$pagination-color:                                          $gel-black !default;
$pagination-color-action:                                   $gel-black !default;
$pagination-color-disabled:                                 $gel-medium-grey !default;
$pagination-border-color:                                   $gel-black !default;
$pagination-border-color-action:                            $gel-black !default;
$pagination-border-color-disabled:                          $gel-light-grey !default;

// FORM

$form-radio-color:                                          $gel-dark-grey !default;
$form-height:                                               35px !default;
$form-padding:                                              0 10px !default;
$form-border:                                               $gel-black !default;
$form-border-width:                                         1px !default;
$form-background:                                           $gel-white !default;
$form-color:                                                $gel-black !default;
$form-focus-border:                                         $gel-decoration !default;
$form-focus-background:                                     $gel-white !default;
$form-focus-color:                                          $gel-black !default;
$form-disabled-border:                                      #ddd !default;
$form-disabled-background:                                  #f5f5f5 !default;
$form-disabled-color:                                       #999 !default;
$form-placeholder-color:                                    $gel-dark-grey !default;
$form-gutter:                                               15px !default;
$form-legend-border:                                        #ddd !default;
$form-legend-border-width:                                  1px !default;
$form-legend-font-size:                                     18px !default;
$form-legend-line-height:                                   30px !default;
$form-small-height:                                         25px !default;
$form-large-height:                                         50px !default;
$form-small-padding:                                        3px 3px !default;
$form-large-padding:                                        8px 6px !default;
$form-small-font-size:                                      12px !default;
$form-large-font-size:                                      16px !default;
$form-blank-border:                                         #ddd !default;
$form-blank-border-style:                                   dashed !default;
$form-mini-width:                                           40px !default;
$form-small-width:                                          130px !default;
$form-medium-width:                                         200px !default;
$form-large-width:                                          500px !default;
$form-help-inline-margin-left:                              10px !default;
$form-help-block-margin-top:                                5px !default;
$form-controls-condensed-margin-vertical:                   5px !default;
$form-stacked-margin-bottom:                                5px !default;
$form-stacked-font-weight:                                  bold !default;
$form-horizontal-label-width:                               200px !default;
$form-horizontal-label-margin-top:                          5px !default;
$form-horizontal-controls-margin-left:                      215px !default;
$form-horizontal-controls-text-padding-top:                 5px !default;
$form-icon-width:                                           30px !default;
$form-icon-font-size:                                       1rem !default;
$form-icon-color:                                           #999 !default;
$form-success-border:                                       #109f71 !default;
$form-success-color:                                        #109f71 !default;
$form-danger-border:                                        #E94557 !default;
$form-danger-color:                                         #E94557 !default;

// HR

$base-hr-border:                                            $gel-light-grey;
$base-hr-border-width:                                      2px !default;
$base-hr-margin-vertical:                                   25px !default;

// BLOCK

$block-padding-vertical:                                    20px !default;
$block-padding-vertical-large:                              30px !default;

// PANEL
$panel-box-background:                                      transparent !default;
$panel-box-padding:                                         10px !default;

// SIDE NAVIGATION
$side-nav-border:                                           $gel-lines !default;
$side-nav-parent-bg:                                        $gel-lighter-grey !default;

// SEARCH BOX
$search-box-body-button-bg:                                 $gel-black !default;
$search-box-body-button-bg-action:                          $gel-dark-grey !default;
$search-box-body-button-color:                              $gel-white !default;
$search-box-body-button-color-action:                       $gel-white !default;
$search-box-body-input-border:                              $gel-black !default;
$search-box-body-input-radius:                              $gel-radius !default;
$search-box-body-input-border-action:                       $gel-black !default;
$search-box-body-input-color:                               $gel-black !default;
$search-box-body-input-color-action:                        $gel-black !default;
$search-box-body-input-placeholder:                         $gel-dark-grey !default;

// TEASER

$teaser-description-font-size:                              1.1rem !default;
$teaser-description-ellipsis-lines:                         3 !default;

// TILE
$tile-description-ellipsis-lines:                           4 !default;

// TABS
$tab-border:                                                transparent !default;
$tab-border-width:                                          1px !default;
$tab-padding-horizontal:                                    18px !default;
$tab-padding-vertical:                                      16px !default;
$tab-padding-top:                                           $tab-padding-vertical !default;
$tab-padding-bottom:                                        $tab-padding-vertical !default;
$tab-margin-horizontal:                                     0 !default;
$tab-margin-vertical:                                       0 !default;
$tab-color:                                                 $gel-medium-grey !default;
$tab-hover-border:                                          transparent !default;
$tab-hover-background:                                      transparent !default;
$tab-hover-color:                                           $gel-medium-grey !default;
$tab-active-border:                                         transparent !default;
$tab-active-background:                                     transparent !default;
$tab-active-color:                                          $gel-dark-grey !default;
$tab-disabled-color:                                        #999 !default;

//RESULTS TABLE
$gel-results-table-heading-bgcolor:                         $gel-medium-grey !default;
$gel-results-table-heading-color:                           $gel-white !default;
$gel-results-table-color:                                   $gel-bright-grey !default;
$gel-results-table-chevron-color:                           $gel-medium-grey !default;
$gel-results-table-letter-color:                            $gel-medium-grey !default;
$gel-results-table-link-text:                               $gel-medium-grey !default;
$gel-results-table-bold:                                    600 !default;
$gel-results-table-divider:                                 solid 1px #e0e0e0 !default;
$gel-results-table-font-family:                             $gel-font-family !default;

// BACK TO TOP
$btt-border:                                                $gel-light-grey !default;
$btt-arrow:                                                 $gel-medium-grey !default;
$btt-background:                                            transparent !default;
$btt-border-action:                                         $gel-medium-grey !default;
$btt-arrow-action:                                          $gel-white !default;
$btt-background-action:                                     $gel-medium-grey !default;

// DRAWER
$drawer-tab-bg:                                             $gel-dark-grey !default;
$drawer-tab-color:                                          $gel-white !default;
$drawer-tab-height:                                         50px !default;
$drawer-tab-bg-action:                                      $gel-black !default;
$drawer-panel-border:                                       2px solid $gel-dark-grey !default;

// LINK BUTTON
$link-button-bg:                                            $gel-light-grey !default;
$link-button-color:                                         $gel-white !default;
$link-button-height:                                        20px !default;
$link-button-width:                                         63px !default;
$link-button-padding:                                       3px 7px 3px 5px !default;

// DOWNLOAD BOX
$download-box-color:                                        $gel-bright-grey;
$download-box-background:                                   $gel-concrete;
$download-box-heading-color:                                $gel-mine-shaft;
$download-box-padding:                                      15px;
$download-box-border-radius:                                2px;

// A to Z LIST
$a-z-list-content-color:                                    $gel-medium-grey !default;
$a-z-list-content-padding-bottom:                           20px !default;
$a-z-list-content-margin-top:                               20px !default;
$a-z-list-content-heading-color:                            $gel-dark-grey !default;
$a-z-list-content-border-color-bottom:                      rgb(224,224,224) !default;
$a-z-list-alphabet-color:                                   $gel-dark-grey !default;
$a-z-list-border-color-top:                                 $gel-black !default;
$a-z-list-border-color-bottom:                              $gel-black !default;

// RADIO LIST
$gel-radio-list-icon-color:                                 $gel-black !default;

// BACK TO
$gel-back-to-icon-color:                                    $gel-black !default;

// EDUCATION BANNER
$gel-edu-banner-bg:                                         $gel-dark-grey !default;
$gel-edu-banner-color:                                      $gel-white !default;
$gel-edu-banner-input-active-border-color:                  $gel-light-grey !default;

// NOTICE RIBBON
$gel-notice-ribbon-cta-color:                               $gel-dark-grey !default;

//USED IN EVENT FROM SWS
$gel-md: 767px;
$gel-sm: 200px;
$gel-lg: 960px;
//----------------------------------
// MEDIA QUERIES FOR EVENTS COMPONENT

$gel-mq-re-s: "screen and (max-width: 620px)" !default; // responsive widths to decide on grid columns
$gel-mq-re-m: "screen and (min-width: 630px)" !default; // responsive widths to decide on grid columns
$gel-mq-re-l: "screen and (min-width: 1200px)" !default; // For small desktops


// ------EVENT CALENDAR -------


$gel-event-calendar-7:       rgb(206,0,55);                //#CE0037
$gel-event-calendar-9:       #407EC9;
$gel-event-calendar-10:      #1D428A;


// ------NEWS FEATURE -------


$gel-highlight-panel-primary-9:       #407EC9;
$gel-highlight-panel-primary-10:      #1D428A;
$gel-highlight-panel-primary-7:       $gel-event-calendar-7;
$gel-highlight-panel-primary-12:      #EE3C48;


// ------INPUT -------
$input-icon-spacing: 40px;
$form-control-border: $color-grey-60;
$form-control-hover-border: $color-black;
$form-control-focus-box-shadow: $color-grey-15;
$form-control-background: $color-grey-2;
$form-control-invalid-border: $color-error;
$form-control-invalid-box-shadow: rgba(255, 99, 92, 0.4);
$form-control-readonly-background: $color-grey-10;
$input-group-text: $color-grey-2;
$form-text-required: $color-error;


$gel-text-foreground: $gel-black;
$gel-text-background: $gel-white;

$gel-primary-foreground: $gel-white;
$gel-primary-background: $gel-black;

$gel-secondary-foreground: $gel-white;
$gel-secondary-background: $gel-bright-grey;

// Search SPA
$search-banner-background: #666;
$search-banner-color: #FFF;

$search-color-primary: #666; // #CE0037
$search-heading-color: #222;
$search-panel-background: #F2F2F2;
$search-pagination-border-color: #E6E7E9;
$search-result-type-text: #666;
$search-link-color: #999;

// Search Box
$gel-search-background: #FAFAFA;
$gel-search-background-focus: #FFF;
$gel-search-background-alt: #FFF;
$gel-search-focus-ring-color: #999;
$gel-search-primary-color: #555;
$gel-search-border-color: #000;