// ----------------------
// FOUNDATION (variables & mixins)
// ----------------------

@import "foundation";
//Commenting the locally hosted fonts to use google CDN hosted fonts in _global-head.pug
@import "fonts";

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.woff2") format('woff2'), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@page {
  /* Chrome sets own margins, we change these printer settings */
  margin: 20mm 16mm 20mm 16mm;
}

* {
  font-family: Arial;
  text-align: left;
  line-height: 20px;
  word-spacing: 2px;
  letter-spacing: 0.2px;
}

html {
  height: 100%;
}

body::before {
  content: url('../images/doe-black-logo-print.png');
  display: block;
}

h1 {
  font-size: 1.875rem;
  line-height: 35px;

  &.gel-section-header__logo {
    font-size: 1.5rem;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
    padding-top: 10px;

    &.link-tag-container {
      font-size: 1rem;
    }
  }
  span.link-tag-container {
    font-size: 1rem;
    display: block;
  }
}

h2 {
  font-size: 1.5rem;
  margin-top: 1.875rem;
  line-height: 32px;

}

h3 {
  font-size: 1.25rem;
  margin-top: 30px;
  line-height: 24px;

  &.uk-accordion-title {
    border: 1px solid #333;
    padding: 15px;
    margin-bottom: 0
  }
}

h4 {
  font-size: 1.125rem;
  margin-top: 30px;
}

h5 {
  font-size: 1rem;
  margin-top: 25px;
}

.gel-tabs {
  .js-tabcontent.tabs__content {
  padding-top: 15px;
  margin:10px 10px 10px 20px;

    h2 {
      border: 1px solid #333;
      padding: 0 15px;
      margin-top: 0.625rem;
      margin-left: -20px;
      font-size: 1.25rem;
    }
  }
}

.uk-accordion-content {
  margin-left: 20px;
}

main {
  font-size: 1rem;
}


header {
  h1 {
    a:after {
      font-weight: normal;
      font-size: 1.125rem;
    }
  }
}

a,
a:visited,
a.uk-button,
a.uk-button:visited {
  color: #000000;
  text-decoration: underline;
  word-wrap: break-word;
  font-weight: 600;
  line-height: 1.4;

}

a:after {
  content: " (" attr(href) ")";
  font-weight: normal;
  border:  1px solid #fff;

}


// TABLES

table {
  overflow-x: auto;
  margin: 30px 0;
  width: 100%;
  display: table;
  border-collapse: collapse;
  page-break-before: avoid;
}

thead {
  display: table-header-group;
}

th {
  text-align: left;
  font-weight: 700;
  border-bottom: 2px solid #333;
  background: #f2f2f2;
  padding: 5px 10px 5px;

}

td {
  border-bottom: 1px solid #333;
  padding: 10px 10px;
}

td, th {
  vertical-align: top;
}


dl[compact], dl.gel-compact {
  dt, dd {
    display: inline;
  }

  dt:before {
    content: "";
    display: block;
  }

  dt:after {
    content: ":";
  }
}

.gel-call-out-box {
  padding: 25px 25px 15px;
  margin: 25px 0;
  border: 1px solid #333;
  page-break-inside: avoid;

  & h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  & h3 {
    margin-top: 0;
  }
}


.gel-tabs>ul>li ol ol, ol ol {
  list-style: lower-alpha;
}

figure {
  margin-left: 0;
}

img {
  padding: 0 15px 10px 0;
  vertical-align: top;
  max-width: 600px;
  max-height: 600px;

  &[alt=""] {
    display: none;
  }
}

div {
  display: block;
  position: static;
  height: auto;
}

.gel-global-header,
.gel-global-footer,
.gel-nav__toggle,
nav:not(.gel-anchor-index),
.gel-breadcrumbs__back,
.uk-breadcrumbs,
.gel-anchor-box,
form,
button,
input,
.pagination,
.uk-pagination,
.gel-pagination,
.gel-lhs,
.gel-btt,
.a-z-list,
.show-on-sr,
.gel-skiplink-container,
.gel-skiplink__link,
.gel-add-this,
footer {
  display: none;
}

.gel-featured-teaser__content h2 {
  line-height: 30px;
}

h2.gel-search-results__itemheader {
  line-height: 25px;
}

.gel-news-teaser__content h1 {
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: -5px;
  font-size: 1.25em;
}

.gel-copyright-print {
  display: block;
  font-weight: bold;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 20px 0;
  font-size: 0.875em;
  page-break-inside: avoid;
}

.gel-tabs .js-tablist {
  display: none;
}

.gel-image-with-caption p, .gel-image-with-caption figcaption {
  font-size: 0.7778rem;
  margin-top: 12px;
}

blockquote {
  padding: 20px 0 25px 30px;
  border-left: 5px solid #333;
  margin-left: 2px;
}


iframe {
  max-width: 600px;

}

// LISTS

ul, ol {
  list-style: none;
  padding: 0;
  margin-top: 1rem;

  & + ul,
  & + ol {
    margin-top: 50px;
  }

  li {
    position: relative;
    padding-left: 30px;
    margin-top: 0.5rem;
    list-style: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

}

ul,
.gel-tabs > ul > li ul {

  li:before {
    position: absolute;
    left: 0;
  }


  > li {
    &:before {
      content: "\25CF";
      position: absolute;
      left: 0;
    }
  }

  > li > ul,
  > li > ol {
    margin-top: 15px;
  }

  ul > li {

    &:before {
      content: "\25CB";
    }
  }

  ol {
    counter-reset: o;

    > li:before {
      counter-increment: o;
      content: counter(o, lower-alpha) ".";
      position: absolute;
      left: 0;
      font-weight: 700;
    }
  }
}

ol,
.gel-tabs > ul > li ol{
  counter-reset: i;

  > li:before {
    counter-increment: i;
    content: counter(i) ".";
    position: absolute;
    left: 0;
    font-weight: 700;
  }

  > li > ul,
  > li > ol {
    margin-top: 0;
  }

  ol {
    counter-reset: o;

    > li:before {
      counter-increment: o;
      content: counter(o, lower-alpha) ".";
      position: absolute;
      left: 0;
      font-weight: 700;
    }
  }

  ul > li {

    &:before {
      content: "\25CB";
    }
  }
}

.gel-expanded-nav, .gel-linkgroup {
  h3 {
    padding-top: 0;
  }
}

.gel-toc_item a i {
    position: absolute;
    left: -40px;
    color: #565a5c;
}

[class*='uk-icon-'] {
    font-family: 'FontAwesome';
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
}

.uk-icon-chevron-right:before, .gel-results-table ul li:before {
    content: "\f054";
}

//A-Z list

.gel-a-z-list{
  page-break-inside: avoid;
  list-style: none;

  li{
    padding-left: 0;

    &:before{
      content: none;
    }
  }

  > li{

    border-top: solid 1px #333;
    margin-top: 0px;
    margin-bottom: 60px;
  }

  p{
     margin-top: 0px;
  }

  h3{
    margin-bottom: 0px;
  }

  ul li:first-child div{
    padding-top: 0px;
  }

  ul li:last-child div{
    margin-bottom: 40px;


  }

  ul{
    width: 100%;
    display: inline-block;
        margin: 20px 0 -40px 20px;
  }
}

.gel-a-z-list__letter {
  top: 0;
  position: absolute;
  font-weight: 300;
  font-size: 1.75rem;
  margin-top: 30px;
  line-height: 1.1;
}

.gel-page-metadata {
    border-left: 2px solid $gel-dark-grey;
    background: #e0e0e0;
    padding: 0 15px;
    max-width: 340px;
    margin: 27px 0;
    font-size: 0.875rem;
    line-height: 1rem;
    display: inline-block;
}

.gel-LD-index {
  float: none;
  width: 100%;
  padding-right: 5mm;
  box-sizing: border-box;

  ul li {
    padding-left: 18px;
  }

  a[href] {
    font-weight: normal;

    &:after {
      content: none;
    }
  }

  flex: 0 0 100%;
  max-width: 100%;
}

.gel-LD-main {
  float: none;
  display: block;
  width: 100%;

  flex: 0 0 100%;
  max-width: 100%;
}
